<p id="notice"><%= notice %></p>

<p>
  <strong>Typewater:</strong>
  <%= @milli_q.typewater %>
</p>

<p>
  <strong>Volumeone:</strong>
  <%= @milli_q.volumeone %>
</p>

<p>
  <strong>Volumetwo:</strong>
  <%= @milli_q.volumetwo %>
</p>

<p>
  <strong>More:</strong>
  <%= @milli_q.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @milli_q.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @milli_q.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @milli_q.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @milli_q.status %>
</p>

<%= link_to 'Edit', edit_milli_q_path(@milli_q) %> |
<%= link_to 'Back', milli_qs_path %>
