
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>Friction Stir Welding/Surfacing(FSW)</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: friction) do |form| %>
        <% if friction.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(friction.errors.count, "error") %> prohibited this friction from being saved:</h2>

            <ul>
              <% friction.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

    <p class="text-warning">Max. Sample size 150 x 150 mm; Thickness 6 mm</p>
    <% if @slot_type=="regular"%>
    <div class="input-group mb-3">
      <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample-no"%>
      <%= form.select(:sample, [1, 2,3,4,5,6,7,8,9,10], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-no",:required => true}) %>
    </div>
   <%else%>
   <div id="instruct">
       <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
       <p class="text-danger"></p>
   </div>
   <div class="input-group mb-3">
     <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
     <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
   </div>
   <%end%>

    <div>
        <p class="fw-bold">Sample Material</p>
        <% options = ['Aluiminium', 'Copper','Metal matrix composition'] %>
        <% options.each do |option| %>
          <%= check_box_tag 'friction[material][]', option, @friction.material.include?(option) %>
          <%= label_tag "friction_material_#{option}", option %><br>
        <% end %>

    </div>

    <div class="input-group mb-3">
      <%= form.label :pstype,"Type of process", class:"input-group-text", for:"process-type"%>
      <%= form.select(:pstype, ["Welding","Surface Processing"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "process-type",:required => true}) %>
    </div>

    <div class="input-group mb-3">
      <%= form.label :tool,"Tool required", class:"input-group-text", for:"tool-reqd"%>
      <%= form.select(:tool, ["Yes","No"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "tool-reqd",:required => true}) %>
    </div>

    <div class="input-group mb-3 vis" id="mention_tool_div">
      <%= form.text_field :toolnom, class:"form-control", id:"tool-nomenclature", placeholder:"Tool Nomenclature" %>
    </div>

    <div class="process-param">
        <p class="text-success fw-bold">Process Parameter</p>

        <div class="input-group mb-3">
          <%= form.label :rspeed, "Rotational Speed", class:"input-group-text",for:"rotation-speed"%>
          <%= form.text_field :rspeed, class:"form-control", id:"rotation-speed", placeholder:""%>
          <%= form.label :rspeed, "Rpm", class:"input-group-text",for:"rotation-speed"%>
        </div>

        <div class="input-group mb-3">
          <%= form.label :wspeed, "Welding Speed", class:"input-group-text",for:"weld-speed"%>
          <%= form.text_field :wspeed, class:"form-control", id:"weld-speed", placeholder:""%>
          <%= form.label :wspeed, "mm/min", class:"input-group-text",for:"weld-speed"%>
        </div>
    </div>

    <div class="process-param">
        <p class="text-success fw-bold">Optional Parameter</p>

        <div class="input-group mb-3">
          <%= form.label :otforce, "Thrust Force", class:"input-group-text",for:"thrust-force"%>
          <%= form.text_field :otforce, class:"form-control", id:"thrust-force", placeholder:""%>
          <%= form.label :otforce, "kN", class:"input-group-text",for:"thrust-force"%>
        </div>

        <div class="input-group mb-3">
          <%= form.label :temp,"Welding Temp (IR type)", class:"input-group-text", for:"weld-temp"%>
          <%= form.select(:temp, ["Yes","No"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "weld-temp",:required => true}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :measurement,"Acoustic Measurement", class:"input-group-text", for:"acoustic-measure"%>
          <%= form.select(:measurement, ["Yes","No"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "acoustic-measure",:required => true}) %>
        </div>

    </div>

    <div class="process-param">
        <p class="text-success fw-bold">Penetration Parameter</p>

        <div class="input-group mb-3">
          <%= form.label :depth, "Depth", class:"input-group-text",for:"depth"%>
          <%= form.text_field :depth, class:"form-control", id:"depth", placeholder:""%>
          <%= form.label :depth, "mm", class:"input-group-text",for:"depth"%>
        </div>

        <div class="input-group mb-3">
          <%= form.label :ptforce, "Thrust Force", class:"input-group-text",for:"thrust-force-penetrate"%>
          <%= form.text_field :ptforce, class:"form-control", id:"thrust-force-penetrate", placeholder:""%>
          <%= form.label :ptforce, "kN", class:"input-group-text",for:"thrust-force-penetrate"%>
        </div>
    </div>

        <div class="input-group mb-3" id="ref-file">
            <%= form.label :references ,"Attach Reference Paper(optional)" ,for:"upload-file", class:"input-group-text "%>
            <%= form.file_field :references,class:"form-control ",  id:"upload-file",multiple:true  %>
        </div>


          <div class="input-group mb-3">
            <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
            <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
        </div>

        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="mb-3">
          <%= form.label :more,"Additonal information,if any:", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>


        <div class="actions">
            <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>

  </div>
</div>
<%=render "partials/footer" %>

<% end %>


<script>
    let tool = document.getElementById('tool-reqd');
    let mention_tool_div = document.getElementById('mention_tool_div');

    tool.addEventListener('click', () => {
        mention_tool_div.classList.add('vis');


        if (tool.value == 'Yes') {
            mention_tool_div.classList.toggle('vis');
        }

    })
</script>
