<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @friction.sample %>
</p>

<p>
  <strong>Material:</strong>
  <%= @friction.material %>
</p>

<p>
  <strong>Pstype:</strong>
  <%= @friction.pstype %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @friction.tool %>
</p>

<p>
  <strong>Toolnom:</strong>
  <%= @friction.toolnom %>
</p>

<p>
  <strong>Rspeed:</strong>
  <%= @friction.rspeed %>
</p>

<p>
  <strong>Wspeed:</strong>
  <%= @friction.wspeed %>
</p>

<p>
  <strong>Otforce:</strong>
  <%= @friction.otforce %>
</p>


<p>
  <strong>Measurement:</strong>
  <%= @friction.measurement %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @friction.depth %>
</p>

<p>
  <strong>Ptforce:</strong>
  <%= @friction.ptforce %>
</p>

<p>
  <strong>More:</strong>
  <%= @friction.more %>
</p>

<p>
  <strong>Status:</strong>
  <%= @friction.status %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @friction.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @friction.slottime %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @friction.debit %>
</p>

<%= link_to 'Edit', edit_friction_path(@friction) %> |
<%= link_to 'Back', frictions_path %>
