<%= stylesheet_link_tag "loginFeatures"%> <!--imported for the purpose of partial, has to be removed while code optimization -->
<%= stylesheet_link_tag "announcement"%> 

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<h1 class="text-center font-unbounded" id="head-new">New Announcement</h1>
<div id="container-ann">
    
    <%= render 'form', announcement: @announcement %>
</div>
<%=render "partials/footer" %>


