<div id="<%= dom_id integrated_multi_role_tester %>">
  <p>
    <strong>Sample:</strong>
    <%= integrated_multi_role_tester.sample %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= integrated_multi_role_tester.measurement %>
  </p>



  <p>
    <strong>Loading:</strong>
    <%= integrated_multi_role_tester.loading %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= integrated_multi_role_tester.temperature %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= integrated_multi_role_tester.analysis %>
  </p>

  <p>
    <strong>More:</strong>
    <%= integrated_multi_role_tester.more %>
  </p>

</div>
