<p style="color: green"><%= notice %></p>

<%= render @integrated_multi_role_tester %>

<div>
  <%= link_to "Edit this integrated multi role tester", edit_integrated_multi_role_tester_path(@integrated_multi_role_tester) %> |
  <%= link_to "Back to integrated multi role testers", integrated_multi_role_testers_path %>

  <%= button_to "Destroy this integrated multi role tester", @integrated_multi_role_tester, method: :delete %>
</div>
