<div id="<%= dom_id advance_molecular_rheometer %>">
  <p>
    <strong>Sample:</strong>
    <%= advance_molecular_rheometer.sample %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= advance_molecular_rheometer.type %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= advance_molecular_rheometer.size %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= advance_molecular_rheometer.nature %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= advance_molecular_rheometer.temperature %>
  </p>

  <p>
    <strong>Current:</strong>
    <%= advance_molecular_rheometer.current %>
  </p>

  <p>
    <strong>Shear type:</strong>
    <%= advance_molecular_rheometer.shear_type %>
  </p>

  <p>
    <strong>Shear rate:</strong>
    <%= advance_molecular_rheometer.shear_rate %>
  </p>

  <p>
    <strong>Sweeps:</strong>
    <%= advance_molecular_rheometer.sweeps %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= advance_molecular_rheometer.analysis %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= advance_molecular_rheometer.toxicity %>
  </p>

  <p>
    <strong>More:</strong>
    <%= advance_molecular_rheometer.more %>
  </p>

</div>
