<p style="color: green"><%= notice %></p>

<%= render @advance_molecular_rheometer %>

<div>
  <%= link_to "Edit this advance molecular rheometer", edit_advance_molecular_rheometer_path(@advance_molecular_rheometer) %> |
  <%= link_to "Back to advance molecular rheometers", advance_molecular_rheometers_path %>

  <%= button_to "Destroy this advance molecular rheometer", @advance_molecular_rheometer, method: :delete %>
</div>
