<div id="<%= dom_id ion_chromotography %>">
  <p>
    <strong>Sample:</strong>
    <%= ion_chromotography.sample %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= ion_chromotography.nature %>
  </p>

  <p>
    <strong>Solvent:</strong>
    <%= ion_chromotography.solvent %>
  </p>

  <p>
    <strong>Volume:</strong>
    <%= ion_chromotography.volume %>
  </p>

  <p>
    <strong>Concentration:</strong>
    <%= ion_chromotography.concentration %>
  </p>

  <p>
    <strong>Eluent:</strong>
    <%= ion_chromotography.eluent %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= ion_chromotography.analysis %>
  </p>

  <p>
    <strong>Elements:</strong>
    <%= ion_chromotography.elements %>
  </p>

  <p>
    <strong>Column:</strong>
    <%= ion_chromotography.column %>
  </p>

  <p>
    <strong>Flow rate:</strong>
    <%= ion_chromotography.flow_rate %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= ion_chromotography.temperature %>
  </p>

  <p>
    <strong>Detector:</strong>
    <%= ion_chromotography.detector %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= ion_chromotography.toxicity %>
  </p>

  <p>
    <strong>Hazards:</strong>
    <%= ion_chromotography.hazards %>
  </p>

  <p>
    <strong>Disposal:</strong>
    <%= ion_chromotography.disposal %>
  </p>

  <p>
    <strong>More:</strong>
    <%= ion_chromotography.more %>
  </p>

</div>
