<p style="color: green"><%= notice %></p>

<%= render @ion_chromotography %>

<div>
  <%= link_to "Edit this ion chromotography", edit_ion_chromotography_path(@ion_chromotography) %> |
  <%= link_to "Back to ion chromotographies", ion_chromotographies_path %>

  <%= button_to "Destroy this ion chromotography", @ion_chromotography, method: :delete %>
</div>
