<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "editProfile"%>

<%=render "partials/loginHeading"%>

<div class="container">

  <div id="edit-page-heading">
    <h1>Edit <%= resource_name.to_s.humanize %></h1>
  </div>

  <div class='hero'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email, class:"form-label", for:"useremailId" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", id:"useremailId" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field mb-2">
        <%= f.label :password, class:"form-label", for:"userPassword" %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control", id:"userPassword" %>
        <p class="edit-page-notices">(leave this blank if you don't want to change your password)</p>
        <div>
          <% if @minimum_password_length %>
            <p class="edit-page-notices"><%= @minimum_password_length %> characters minimum</p>
          <% end %>
        </div>
      </div>

      <div class="field mb-2">
        <%= f.label :password_confirmation, class:"form-label", for:"userPasswordConfirm" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", id:"userPasswordConfirm" %>
      </div>

      <div class="field">
        <%= f.label :current_password,class:"form-label", for:"userPasswordCurrent" %>
        <%= f.password_field :current_password, autocomplete: "current-password",  class:"form-control", id:"userPasswordCurrent" %>
        <p class="edit-page-notices">(Enter your current password to confirm your changes)</p><br />
      </div>

      <div class="actions">
        <%= f.submit "Update",class:"btn btn-primary mt-3", id:"sbt" %>
      </div>
    <% end %>
    <%= link_to "Back",  :back, class:"btn btn-outline-warning mt-4 back-btn" %>

    <div id="account-delete">
      <div id="account-delete-heading">
        <h2>Cancel my account</h2>
      </div>
      <p id="delete-account-alert">It's possible to <strong class="red-text">cancel your account</strong>, but it's irreversible. Please be sure you like to do that </p>
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-primary mt-3 mb-3", id:"dlt" %>
    </div>

  </div>

</div>

<%=render "partials/footer" %>
