<%= stylesheet_link_tag "loginFeatures"%>
<%=render "partials/loginHeading"%>
<!-- HTML code for container of instruction  and form card -->
<div id="container" class='container mt-4'>

    <div id="guide-wrap">
      <div id="instruction" class="card">
        <h2>Instructions</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">This is the Registration Page for users</li>
          <li class="list-group-item">Select Your User Type Before Filling the form</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>

  <div id="login">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <h2>Registration</h2>
      <%= render "devise/shared/error_messages" , resource: resource %>

        <% if notice %>
          <%=render 'partials/layoutalerts' %>
            <% end %>

                 <!-- a new style of select tab -->

                <div class="input-group mb-3">
                  <%= f.label :role,'Type of user',for:"inputGroupSelect01", class:"input-group-text"%>
                  <%= f.select(:role, ['student', 'faculty','external'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
                </div>


                <div class="mb-3 field" id="email-input">
                  <%= f.label :email ,for:"exampleInputEmail1", class:"form-label"%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",
                  id:"exampleInputEmail1" ,placeholder:"Enter Your Email Address"%>

                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="mb-3 field" id="in-pass">
                  <%= f.label :password ,for:"exampleInputPassword1" ,class:"form-label"%>


                      <%= f.password_field :password, autocomplete: "new-password" , class:"form-control",
                        id:"exampleInputPassword1", placeholder:"Create Password (6 characters minimum)"%>

                </div>

                <div class="mb-3 field" id="conf-pass">
                  <%= f.label :password_confirmation , for:"exampleInputPassword1", class:"form-label"%>
                    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control",
                      id:"exampleInputPassword2", placeholder:"Confirm Password"%>

                </div>

                <div class="input-group mb-3" id="name-input">
                  <%= f.label :name,"First Name" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :name, autofocus: true ,class:"form-control ",id:"exampleInputEmail1",:required => true %>
                  <%= f.label :lastname ,"Last Name" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :lastname , autofocus: true ,class:"form-control ",id:"exampleInputEmail1" %>


                </div>

                <div class="input-group mb-3" id="contact-input">
                  <%= f.label :contact ,"Contact Number" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :contact , autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1" %>
                </div>

                <div class="input-group mb-3" id="department-input">
                  <%= f.label :department ,"Department" ,for:"exampleInputEmail1", class:"input-group-text "%>
                   <%= f.select(:department, ['Chemical Engineering', 'Chemistry','Civil Engineering','Mechanial Engineering', 'Mining Engineering', 'Metalaurgical Engineering','Physics','Water Resources & Ocean Engineering'], {:include_blank => 'Choose...'}, { :class => 'form-select',:id => "u-type",:required => false }) %>


                </div>

                <div class="input-group mb-3" id="course-input">
                  <%= f.label :course ,"Course" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.select(:course , ['Btech','Mtech','PHD'],{:include_blank => 'Choose...'}, { :class => 'form-select',:id => "u-type",:required => false }) %>
                </div>

                <div class="input-group mb-3" id="collegeid-input">
                  <%= f.label :collegeid ,"College ID" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.file_field :collegeid ,class:"form-control ",
                  id:"exampleInputEmail1" %>

                </div>

                <div class="input-group mb-3" id="roll-input">
                  <%= f.label :rollno ,"Roll Number" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :rollno , autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1"%>
                </div>

                <div class=" input-group mb-3" id="employeeid-input">
                  <%= f.label :rollno ,"EmployeeId" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :rollno , autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1"%>
                </div>

                <div class="input-group mb-3" id="org-name-input">
                  <%= f.label :orgname ,"Organization name" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :orgname , autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1" %>

                </div>

                <div class="input-group mb-3" id="org-add-input">
                  <%= f.label :orgaddress ,"Organization address" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :orgaddress, autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1" %>
                  <!-- <span class="input-group-text">Organization Address</span>
                  <input type="text" aria-label="First name" class="form-control"> -->
                </div>

                <div class="input-group mb-3" id="profession-input">
                  <%= f.label :profession ,"Profession" ,for:"exampleInputEmail1", class:"input-group-text "%>
                  <%= f.text_field :profession , autofocus: true ,class:"form-control ",
                  id:"exampleInputEmail1" %>
                </div>


                <div class="actions">
                  <%= f.submit "SignUp" ,class:"btn btn-primary" ,id:"sbt"%>
                </div>

                <div class='mt-3'>
                  <span>Already have an account?</span>
                  <%= render "devise/shared/links" , resource: resource %>
                  <%# <button type="submit" class="btn btn-primary" id="sbt">Submit</button> %>
                </div>
                  <%end%>
  </div>
</div>

</div>




<script src="" async defer></script>
<%#check the functionality of this script %>
   <%=render "partials/footer" %>

  </body>

  <!-- JS to toggle elememts in the form as per the type of the user -->
  <script>
    let uType = document.getElementById("u-type");
    let emailInput = document.getElementById("email-input");
    let r = document.getElementById('exampleInputEmail1');
    let inPass = document.getElementById('in-pass');
    let confPass = document.getElementById('conf-pass');
    let nameInput = document.getElementById('name-input');
    let contactInput = document.getElementById('contact-input');
    let departmentInput = document.getElementById('department-input');
    let courseInput = document.getElementById('course-input');
    let collegeIdInput = document.getElementById('collegeid-input');
    let rollInput = document.getElementById('roll-input');
    let employeeIdInput = document.getElementById('employeeid-input');
    let orgNameInput = document.getElementById('org-name-input');
    let orgAddInput = document.getElementById('org-add-input');
    let professionInput = document.getElementById('profession-input');


    uType.addEventListener('click', () => {
      orgNameInput.classList.remove('vis')
      orgAddInput.classList.remove('vis');
      collegeIdInput.classList.remove('vis');
      professionInput.classList.remove('vis');
      employeeIdInput.classList.remove('vis');
      rollInput.classList.remove('vis');
      courseInput.classList.remove('vis');


      if (uType.value == 'student') {
        orgNameInput.classList.toggle('vis');
        orgAddInput.classList.toggle('vis');
        collegeIdInput.classList.toggle('vis');
        professionInput.classList.toggle('vis');
        employeeIdInput.classList.toggle('vis');
        r.removeAttribute('required');
      }
      if (uType.value == 'faculty') {
        courseInput.classList.toggle('vis');
        orgNameInput.classList.toggle('vis');
        orgAddInput.classList.toggle('vis');
        collegeIdInput.classList.toggle('vis');
        professionInput.classList.toggle('vis');
        rollInput.classList.toggle('vis');
        r.removeAttribute('required');
      }
      if (uType.value == 'external') {
        rollInput.classList.toggle('vis');
        employeeIdInput.classList.toggle('vis');
        r.removeAttribute('required');
      }



    })

  </script>
