
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>


<div class="container">
    <div id="equipment-name">
      <h1>Impedance Analyzer</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: impedance_analy) do |form| %>
        <% if impedance_analy.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(impedance_analy.errors.count, "error") %> prohibited this impedance_analy from being saved:</h2>

            <ul>
              <% impedance_analy.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    <div class="input-group mb-3">
      <% if @slot_type=="regular"%>
      <div class="input-group mb-3">
        <%= form.label :sample, class:"input-group-text", for:"xrd-select-no-of-equipment"%>
        <%= form.select(:sample, ['1', '2','3','4','5'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "xrd-select-no-of-equipment",:required => true}) %>
      </div>
     <%else%>
     <div id="instruct">
         <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
         <p class="text-danger"></p>
     </div>
     <div class="input-group mb-3">
       <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
       <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
     </div>
     <%end%>


    <div class="input-group mb-3">
      <%= form.label :composition,"Sample Composition",class:"input-group-text",for:"sample-composition"%>
      <%= form.text_field :composition,class:"form-control",id:"sample-composition",placeholder:"Possible Elements"%>
    </div>

    <div class="input-group mb-3">
      <h6 class="fw-bold">Measurement Required</h6>
      <div class="input-group mb-3">

        <% options = ['Capacitance', 'Impedance','Dielectric','I-V'] %>
        <% options.each do |option| %>
  <div style="width: 200px;">
    <%= check_box_tag 'impedance_analy[measurement][]', option, @impedance_analy.measurement.include?(option) %>
    <%= label_tag "impedance_analy_measurement_ #{option}",option %>
  </div>
<% end %>


    </div>
    </div>

    <div>
          <h6 class="text-success">Symbol Map: [Ω, V, A, Hz]</h6>
    </div>

    <div class="input-group mb-3">
      <%= form.label :freqrange,"Frequency Range",class:"input-group-text",for:"freq-range" %>
      <%= form.text_field :freqrange,class:"form-control",id:"freq-range",placeholder:"20Hz to 20MHz"%>
    </div>
    <div class="input-group mb-3">
      <%= form.label :currentrange,"Current Range",class:"input-group-text",for:"curr-range"%>
    <%= form.text_field :currentrange, class:"form-control",id:"curr-range",placeholder:"0A to ±100mA"%>
    </div>
    <div class="input-group mb-3">
      <%= form.label :voltagerange,"Voltage Range",class:"input-group-text",for:"volt-range"%>
      <%= form.text_field :voltagerange,class:"form-control",id:"volt-range",placeholder:"0V to ±40V"%>
    </div>
    <div class="input-group mb-3">
      <%= form.label :losstangent,"Impedance/Loss Tangent",class:"input-group-text",for:"impedance-loss"%>
      <%= form.text_field :losstangent,class:"form-control",id:"impedance-loss",placeholder:"25mΩ to 40MΩ"%>
    </div>


    <div class="input-group mb-3" id="ref-file">
      <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
      <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
    </div>



    <div class="input-group mb-3">
    <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
    <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
  </div>



    <div id="instruct">
        <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
    </div>


    <div class="input-group mb-3">
      <%= form.text_area :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
    </div>



  </div>
  <div class="actions">
    <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
  </div>
</div>
<%end%>
<%=render "partials/footer" %>
