<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @impedance_analy.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @impedance_analy.composition %>
</p>

<p>
  <strong>Capacitance:</strong>
  <%= @impedance_analy.capacitance %>
</p>

<p>
  <strong>Dielectric:</strong>
  <%= @impedance_analy.dielectric %>
</p>

<p>
  <strong>Iv:</strong>
  <%= @impedance_analy.iv %>
</p>

<p>
  <strong>Freqrange:</strong>
  <%= @impedance_analy.freqrange %>
</p>

<p>
  <strong>Currentrange:</strong>
  <%= @impedance_analy.currentrange %>
</p>

<p>
  <strong>Voltagerange:</strong>
  <%= @impedance_analy.voltagerange %>
</p>

<p>
  <strong>Impedance:</strong>
  <%= @impedance_analy.impedance %>
</p>

<p>
  <strong>More:</strong>
  <%= @impedance_analy.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @impedance_analy.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @impedance_analy.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @impedance_analy.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @impedance_analy.status %>
</p>

<%= link_to 'Edit', edit_impedance_analy_path(@impedance_analy) %> |
<%= link_to 'Back', impedance_analies_path %>
