<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @probe_sonicator.sample %>
</p>

<p>
  <strong>Size:</strong>
  <%= @probe_sonicator.size %>
</p>

<p>
  <strong>Amplitude:</strong>
  <%= @probe_sonicator.amplitude %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @probe_sonicator.volume %>
</p>

<p>
  <strong>Viscosity:</strong>
  <%= @probe_sonicator.viscosity %>
</p>

<p>
  <strong>More:</strong>
  <%= @probe_sonicator.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @probe_sonicator.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @probe_sonicator.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @probe_sonicator.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @probe_sonicator.status %>
</p>

<%= link_to 'Edit', edit_probe_sonicator_path(@probe_sonicator) %> |
<%= link_to 'Back', probe_sonicators_path %>
