<div id="margin">
    <div class="container-11">
          <div class="logo">
              <%= image_tag wicked_pdf_asset_base64("logoT.png"),style:"height:80px;"%>
          </div>
          <div class="crf-heading text-center">
              <h1 class="fw-bold" style="font-family: 'Montserrat', sans-serif;">Central Research Facility</h1>
              <h3>National Institute of Technology Karnataka, Surathkal </h3>
              <p><i>www.nitk.ac.in</i></p>
          </div>
      </div>

      <!-- equipment name -->
      <div class="equipment">
          <h2 class="text-center" id="equip-heading"><u>Atomic Force Microscope</u></h2>
      </div>
      <span id="app-no-tag">Application No:</span><span class="app-no fw-bold element data">CRF/AFM/<%=@atomic_force_microscope.id%></span>
      <div class = "user-info" >
          <div class="left">
            <div class="element">
                <span>Applicant Name:</span>
                <span class="fw-bold data"> <%= @user.firstname %> <%= @user.lastname %> </span>
            </div>
            <div class="element">
                <span>Applicant Email:</span>
                <span class="fw-bold data"> <%= @user.email %></span>
            </div>
            <div class="element">
                <span>Department:</span>
                <span class="fw-bold data"> <%= @user.department %></span>
            </div>
          </div>
          <div class = "right">
                <div class="element">

                    <span>Contact No:</span>
                    <span class="fw-bold data"> <%= @user.contact %></span>
                </div>

            <div class="element">
                <span>Course:</span>
                <span class="fw-bold data"> <%= @user.course %></span>
            </div>

          </div>
      </div>

        <p class="text-center" id="sample-details-heading"><u>Sample Details</u></p>
        <div id="sample-details">
            <div class="left">
                <div id="no-of-sample" class="element">
                    <span>No. of Samples:<span><span class="fw-bold data"><%=@atomic_force_microscope.sample%><span>
                </div>

                <div id="technique-used" class="element">
                    <span>Technique to be used:<span><span class="fw-bold data"><%= Array(@atomic_force_microscope.technique).join(", ") %><span>
                </div>

                <div id="x-scan-range" class="element">
                    <span>X=<span><span class="fw-bold data"><%=@atomic_force_microscope.x%> µm<span>
                </div>

                <div id="sample-description" class="element">
                    <span>Sample-description:<span><span class="fw-bold data"><%=@atomic_force_microscope.description%><span>
                </div>

            </div>

            <div class="right">

                <div id="sample-type" class="element">
                    <span>Sample Type<span><span class="fw-bold data"><%=@atomic_force_microscope.stype%><span>
                </div>

                <div id="scan-rate" class="element">
                    <span>Scan Rate:<span><span class="fw-bold data"><%=@atomic_force_microscope.scan_rate%> Hz<span>
                </div>

                <div id="y-scan-range" class="element">
                    <span>Y=<span><span class="fw-bold data"><%=@atomic_force_microscope.y%> µm<span>
                </div>

            </div>

            </div>





        <p class="text-center" id="sample-details-heading"><u>Safety Information</u></p>
        <div id="safety-info">
            <div class="left">
                <div id="compatibilty" class="element">
                    <span>Compatibilty:<span><span class="fw-bold data"><%=@atomic_force_microscope.compatability%><span>
                </div>

                <div id="hazard" class="element">
                    <span>Toxicity:<span><span class="fw-bold data"><%=@atomic_force_microscope.toxicity%><span>
                </div>

            </div>

            <div class="right">

                <div id="carcinogenic" class="element">
                    <span>Carcinogenic:<span><span class="fw-bold data"><%=@atomic_force_microscope.carcinogenic%><span>
                </div>

            </div>


            </div>



        <div id="testing-req-div">
            <div id="sample-description" class="element">
                <span>Testing Requirement:<span><span class="fw-bold data"><%=@atomic_force_microscope.more%><span>
            </div>

        </div>


        <div id="signatures-upper">
            <div id="signatures-upper-left-3d-pro" class="element">
                <div>
                    <span>Supervisor Name:</span>
                </div>
                <div>
                    <span class="fw-bold">Dr. Rizwanur Rahman</span>
                </div>
                <div id="debit-head">
                    <span class="text-muted element"><i><%=@atomic_force_microscope.debit%></i></span>
                </div>

                    <input id="student" type="textfield"/>
                <div>
                    <span>Supervisor Signature</span>
                </div>
            </div>

            <div id="signatures-upper-right-3d-pro" class="element">
                <div id="faculty-incharge">
                    <span>Faculty In-Charge:</span>
                </div>
                    <input id="student" type="textfield"/>
                <div>
                    <span class="fw-bold">Prof. M.N. Satyanarayan</span>
                </div>
                <div>
                    <span id="department"><b>(Dept. Of Physics, NITK)</b></span>
                </div>
            </div>

        </div>





        <div class="notes ">
            <p class="fw-bold text-center">Note:</p>
            <section class="font-smaller">
                <p>I confirm that the samples submitted for analysis are for research purpose only and the above furnished details are correct and true to the best of my knowledge. I understand that I will be held resposible for any damages arising from incorrect information provided by me against "Safety Information"</p>
                <p>I agree to acknowledge CRF, NITK for providing (Flex-Axiom AFM, M/s Nanosurf, Switzerland) analytical facility for my research work, in my report/ thesis/ publications/ conference. I also agree to send the publication reference (DOI or other revelant information) to <b><u>office.crf@nitk.edu.in</u></b></p>
                <p>I declare that the "Content of this report is meant for our information only and we will not use the content of this report for advertisement, evidence, litigation or quote as certificate to third party".</p>
                <p>I accept that all the issued reports/results (soft/hard) will not carry any Signature or Seal and Stamp of CRF-NITK</p>
            </section>

            <div class="signatures">
                <div class="student-sign">
                    <input id="student" type="textfield"/>
                    <p>Applicant signature</p>
                </div>
                <div class="chairman-sign">
                    <center>Sd/-</center>
                    <i>Chairman CRF</i>
                </div>
            </div>

            <div class="generated-on mt-3">
                <i>Generated at:<%=@atomic_force_microscope.created_at%></i>
            </div>

        </div>

</div>
