<div id="margin">
    <div class="container-11">
          <div class="logo">
              <%= image_tag wicked_pdf_asset_base64("logoT.png"),style:"height:80px;"%>
          </div>
          <div class="crf-heading text-center">
              <h1 class="fw-bold" style="font-family: 'Montserrat', sans-serif;">Central Research Facility</h1>
              <h3>National Institute of Technology Karnataka, Surathkal </h3>
              <p><i>www.nitk.ac.in</i></p>
          </div>
      </div>

      <!-- equipment name -->
      <div class="equipment">
          <h2 class="text-center" id="equip-heading"><u>TGA-FTIR Form</u></h2>
      </div>

      <span id="app-no-tag">Application No:</span><span class="app-no fw-bold element data">CRF/TGA/<%=@tga_fttr.id%></span>
      <div class = "user-info" >
          <div class="left">
            <div class="element">
                <span>Applicant Name:</span>
                <span class="fw-bold data"> <%= @user.firstname %> <%= @user.lastname %> </span>
            </div>
            <div class="element">
                <span>Applicant Email:</span>
                <span class="fw-bold data"> <%= @user.email %></span>
            </div>
            <div class="element">
                <span>Department:</span>
                <span class="fw-bold data"> <%= @user.department %></span>
            </div>
          </div>
          <div class = "right">
                <div class="element">

                    <span>Contact No:</span>
                    <span class="fw-bold data"> <%= @user.contact %></span>
                </div>

            <div class="element">
                <span>Course:</span>
                <span class="fw-bold data"> <%= @user.course %></span>
            </div>

          </div>
      </div>

        <p class="text-center" id="sample-details-heading"><u>Sample Details</u></p>
        <div id="sample-details">
            <div class="left">
                <div id="no-of-sample" class="element">
                    <span>No. of Samples:<span><span class="fw-bold data"><%=@tga_fttr.sample%><span>
                </div>

                <div id="measurement" class="element">
                    <span>Measurement:<span><span class="fw-bold data"><%=@tga_fttr.measurement%><span>
                </div>
                <div id="compatibilty" class="element">
                    <span>Whether Incompatibile with any material:<span><span class="fw-bold data"><%=@tga_fttr.compatability%><span>
                </div>

            </div>

            <div class="right">
                <div id="sample-type" class="element">
                    <span>"Sample Type:<span><span class="fw-bold data"><%=@tga_fttr.stype%><span>
                </div>
                <div id="laser-to-be-used:" class="element">
                    <span>Sample Nature:<span><span class="fw-bold data"><%=@tga_fttr.nature%><span>
                </div>

            </div>

            </div>
            <div id="testing-req" class="element">
                <span>Sample Description:<span><span class="fw-bold data"><%=@tga_fttr.description%><span>
            </div>



        <p class="text-center" id="sample-details-heading"><u>TGA Specification</u></p>
        <div id="safety-info">
            <div class="left">
                <div id="measurement" class="element">
                    <span>Measurement Range:<span><span class="fw-bold data"><%=@tga_fttr.measurement%><span>
                </div>
                <div id="compatibilty" class="element">
                    <span>Compatibilty:<span><span class="fw-bold data"><%=@tga_fttr.compatability%><span>
                </div>
                <div id="scan-rate" class="element">
                    <span>Scan Rate:<span><span class="fw-bold data"><%=@tga_fttr.scan_rate%><span>
                </div>



            </div>

            <div class="right">

                <div id="laser-to-be-used:" class="element">
                    <span>Carcinogenic:<span><span class="fw-bold data"><%=@tga_fttr.carcinogenic%><span>
                </div>
                <div id="explosi" class="element">
                    <span>Explosive:<span><span class="fw-bold data"><%=@tga_fttr.explosive%><span>
                </div>
                <div id="atmosphere" class="element">
                    <span>Atmosphere:<span><span class="fw-bold data"><%=@tga_fttr.atmosphere%><span>
                </div>

                </div>


            </div>

        <p class="text-center" id="sample-details-heading"><u>FTIR Method</u></p>
        <div id="safety-info">
            <div class="left">
                <div id="measurement" class="element">
                    <span>FTIR Method:<span><span class="fw-bold data">FTR:<%=@tga_fttr.atr%>,KBR:<%=@tga_fttr.kbr%><span>
                </div>

            </div>

            <div class="right">

                <div id="compatibilty" class="element">
                    <span>Y-ordinate:<span><span class="fw-bold data"><%=@tga_fttr. yordinate%><span>
                </div>
            </div>


            </div>


        <p class="text-center" id="sample-details-heading"><u>Safety Information</u></p>
        <div id="safety-info">
            <div class="left">
                <div id="hazard" class="element">
                    <span>Hazard:<span><span class="fw-bold data"><%=@tga_fttr.hazard%><span>
                </div>
                <div id="compatibilty" class="element">
                    <span>Compatibilty:<span><span class="fw-bold data"><%=@tga_fttr.compatability%><span>
                </div>

            </div>

            <div class="right">

                <div id="laser-to-be-used:" class="element">
                    <span>Carcinogenic:<span><span class="fw-bold data"><%=@tga_fttr.carcinogenic%><span>
                </div>
                <div id="explosive" class="element">
                    <span>Explosive:<span><span class="fw-bold data"><%=@tga_fttr.explosive%><span>
                </div>

                </div>


            </div>



        <div id="testing-req-div">
            <div id="sample-description" class="element">
                <span>Testing Requirement:<span><span class="fw-bold data"><%=@tga_fttr.more%><span>
            </div>

        </div>


        <div id="signatures-upper">
            <div id="signatures-upper-left-3d-pro" class="element">
                <div>
                    <span>Supervisor Name:</span>
                </div>
                <div>
                    <span class="fw-bold">Dr. Rizwanur Rahman</span>
                </div>
                <div id="debit-head">
                    <span class="text-muted element"><i>Debit Head:<%=@tga_fttr.debit%></i></span>
                </div>

                    <input id="student" type="textfield"/>
                <div>
                    <span>Supervisor Signature</span>
                </div>
            </div>

            <div id="signatures-upper-right-3d-pro" class="element">
                <div id="faculty-incharge">
                    <span>Faculty In-Charge:</span>
                </div>
                    <input id="student" type="textfield"/>
                <div>
                    <span class="fw-bold">Prof Veershetty Gumtapure</span>
                </div>
                <div>
                    <span id="department"><b>(Dept. Of Mech Engg., NITK)</b></span>
                </div>
            </div>

        </div>





        <div class="notes ">
            <p class="fw-bold text-center">Note:</p>
            <section class="font-smaller">
                <p>1)  An alloted slot stands automatically cancelled if a student fails to be present for the slot. Also, mutual exchange of slots between students are not permitted</p>
                <p>2) Please bring New CD/seperate pen drive for CRF, Every time pendrive will be formatted.</p>
                <p>3) If the data get published, please acknowledge <b>TGA 4000, SPECTRUM-2</b> machine in the article and convey the same to <b><u>office.crf@nitk.edu.in</u></b></p>
                <p class="text-center"><i>Declaration: I hereby agree to abide by the rules and regulations of the TGA-FTIR laboratory</i></p>
            </section>

            <div class="signatures">
                <div class="student-sign">
                    <input id="student" type="textfield"/>
                    <p>Student signature</p>
                </div>
                <div class="chairman-sign">
                    <center>Sd/-</center>
                    <i>Chairman CRF</i>
                </div>
            </div>

            <div class="generated-on mt-3">
                <i>Generated on:<%=@tga_fttr.created_at%></i>
            </div>

        </div>

</div>
        </div>
