<div id="<%= dom_id cell_imaging %>">
  <p>
    <strong>Sample:</strong>
    <%= cell_imaging.sample %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= cell_imaging.stype %>
  </p>

  <p>
    <strong>Plate:</strong>
    <%= cell_imaging.plate %>
  </p>

  <p>
    <strong>Expected wavelenght:</strong>
    <%= cell_imaging.expected_wavelenght %>
  </p>

  <p>
    <strong>Assay type:</strong>
    <%= cell_imaging.assay_type %>
  </p>

  <p>
    <strong>Detection:</strong>
    <%= cell_imaging.detection %>
  </p>

  <p>
    <strong>Image filter:</strong>
    <%= cell_imaging.image_filter %>
  </p>

  <p>
    <strong>Image mode:</strong>
    <%= cell_imaging.image_mode %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= cell_imaging.toxicity %>
  </p>

  <p>
    <strong>Compatibility:</strong>
    <%= cell_imaging.compatibility %>
  </p>

  <p>
    <strong>Hazard:</strong>
    <%= cell_imaging.hazard %>
  </p>

  <p>
    <strong>More:</strong>
    <%= cell_imaging.more %>
  </p>

</div>
