<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>Cell-Imaging MultiMode Reader</h1>
    </div>
    <div class='hero'>
    <%= form_with(model: cell_imaging) do |form| %>
      <% if cell_imaging.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(cell_imaging.errors.count, "error") %> prohibited this cell_imaging from being saved:</h2>

          <ul>
            <% cell_imaging.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="input-group mb-3">
        <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample-no" %>
        <%= form.select(:sample, ['1','2','3','4','5'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sampe-no",:required => true}) %>
      </div>

    <div class="input-group mb-3">
        <%= form.label :stype,"sample-type", class:"input-group-text", for:"sample-nature" %>
        <%= form.select(:stype, ['Biological','Chemical'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-nature",:required => true}) %>
      </div>


    <div class="input-group mb-3">
        <%= form.label :plate , "Plate Format", class:"input-group-text", for:"plate-format" %>
        <%= form.text_field :plate , type:"text", class:"form-control", id:"plate-format"%>
      </div>

    <div class="input-group mb-3">
    <%= form.label :expected_wavelenght,"Expected Wavelength", class:"input-group-text", for:"wavelength-expected" %>
    <%= form.select(:expected_wavelenght, ['Fluoresence(250-700nm)','Absorbance(230-999nm)'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "wavelength-expected",:required => true}) %>
     </div>


    <div class="measure-info">
        <h5 class="fw-bold">Measurement Infomation</h5>
    </div>
    <div class="input-group mb-3">
        <%= form.label :assay_type,"Assay Type", class:"input-group-text", for:"assay-type" %>
        <%= form.select(:assay_type, ['Kinectic','Endpoint','Spectral'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "assay-type",:required => true}) %>
      </div>

    <div class="input-group mb-3">
        <%= form.label :detection,"Detection Mode", class:"input-group-text", for:"detection-mode" %>
        <%= form.select(:detection, ['Fluorosence','Adsorbance','Luminescence','Time Resolved fluoroscence'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "detection-mode",:required => true}) %>
      </div>

    <div class="input-group mb-3">
        <%= form.label :image_filter,"Image Filter Cube", class:"input-group-text", for:"image-filter" %>
        <%= form.select(:image_filter, ['DAPI','GFP','Texas Red'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "image-filter",:required => true}) %>
      </div>

    <div class="input-group mb-3">
    <%= form.label :image_mode,"Imaging Mode", class:"input-group-text", for:"imaging-mode" %>
    <%= form.select(:image_mode, ['Fluorescence','Bright-field','Color Bright-Field','Wavelength Contrast'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "imaging-mode",:required => true}) %>
    </div>



    <div>
            <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
    </div>
    <div>
    <%= form.label :toxicity, "Toxicity",class:"form-check-label fw-bold", for:"Toxicity" %>
      <div class="form-check">
          <%= form.radio_button :toxicity, 'Toxic', class:"form-check-input", type:"radio", id:"hazardous"  %> Toxic
      </div>
      <div class="form-check">
            <%= form.radio_button :toxicity, 'Non-Toxic', class:"form-check-input", type:"radio", id:"non-hazardous" ,:checked => true %> Non-Toxic
      </div>
  </div>

    <div>
          <%= form.label :compatibility, "Compatibility",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :compatibility, '  Corrossive', class:"form-check-input", type:"radio", id:"corrosive"  %> Corrossive
            </div>
            <div class="form-check">
                  <%= form.radio_button :compatibility, 'Non Corrossive', class:"form-check-input", type:"radio", id:"non-corrosive",:checked => true  %> Non Corrossive
            </div>
        </div>

    <div>
          <%= form.label :hazard, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :hazard, ' Carcinogenic', class:"form-check-input", type:"radio", id:"flexRadioDefault2" %> Carcinogenic
            </div>
            <div class="form-check">
                  <%= form.radio_button :hazard, 'Non-Carcinogenic', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true   %> Non Carcinogenic
            </div>
        </div>


        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>
      <div id="instruct">
      <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
      <div class="mb-3">
    <%= form.text_field :more , type:"text", class:"form-control", id:"tell-us-more" ,placeholder:"Additional information if any"%>
  </div>
  <div class="actions">
<%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
</div>
  </div>
  </div>





  </div>
</div>
<%end%>
<%=render "partials/footer" %>
