

<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
      <h1>Gas Sensing</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: gas_sensing) do |form| %>
        <% if gas_sensing.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(gas_sensing.errors.count, "error") %> prohibited this gas_sensing from being saved:</h2>

            <ul>
              <% gas_sensing.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @slot_type=="regular"%>
        <div class="input-group mb-3">
          <%= form.label :sample,"No of Sample", class:"input-group-text", for:"inputGroupSelect01"%>
          <%= form.select(:sample, ['1','2','3','4','5'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>
       <%else%>
       <div id="instruct">
           <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
           <p class="text-danger"></p>
       </div>
       <div class="input-group mb-3">
         <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
         <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
       </div>
       <%end%>


    <div class="input-group mb-3">
      <%= form.label :gas,"Gas Required" ,class:"input-group-text", for:"gas-required"%>
      <%= form.select(:gas, ['CO','NH3','CH4'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
    </div>

    <div>
       <div>
                <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
        </div>

        <div>
            <%= form.label :toxicity, "Toxicity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
              <div class="form-check">
                  <%= form.radio_button :toxicity, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2"  %> Hazardous
              </div>
              <div class="form-check">
                    <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true  %> Non-Hazardous
              </div>
          </div>

          <div>
            <%= form.label :compatibility, "Compatibility",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
              <div class="form-check">
                  <%= form.radio_button :compatibility, 'Corrosive', class:"form-check-input", type:"radio", id:"flexRadioDefault2"  %> Corrosive
              </div>
              <div class="form-check">
                    <%= form.radio_button :compatibility, 'non-Corrosive', class:"form-check-input", type:"radio", id:"flexRadioDefault1" ,:checked => true %> Non-Corrosive
              </div>
          </div>
          <div>
            <%= form.label :carcinogenic, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
              <div class="form-check">
                  <%= form.radio_button :carcinogenic, 'Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2" %> Yes
              </div>
              <div class="form-check">
                    <%= form.radio_button :carcinogenic, 'No', class:"form-check-input", type:"radio", id:"flexRadioDefault1" ,:checked => true  %> No
              </div>
          </div>



    </div>

    <div class="input-group mb-3" id="ref-file">
      <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
      <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
    </div>



    <div class="input-group mb-3">
    <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
    <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
  </div>



    <div id="instruct">
        <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
    </div>


    <div class="input-group mb-3">
      <%= form.text_field :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
    </div>
  </div>
</div>
<%end%>
<%=render "partials/footer" %>
