
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>ZetaPotential /Particle Size</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: zeta_potential_size) do |form| %>
        <% if zeta_potential_size.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(zeta_potential_size.errors.count, "error") %> prohibited this zeta_potential_size from being saved:</h2>

            <ul>
              <% zeta_potential_size.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <hr>
        <p class="text-danger"><b>Note:</b> Only water based solvent possible</p>
        <hr>
        <% if @slot_type=="regular"%>
        <div class="input-group mb-3">
           <%= form.label :sample,"No of Samples", class:"input-group-text", for:"inputGroupSelect01" %>
          <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
         </div>
          <%else%>
          <div id="instruct">
              <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
              <p class="text-danger"></p>
          </div>
          <div class="input-group mb-3">
            <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
            <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
          </div>
          <%end%>
        <div class="input-group mb-3">
             <%= form.label :stype,"Sample-type", class:"input-group-text", for:"sample-type" %>
             <%= form.select(:stype, ['Solid','Liquid'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-type",:required => true}) %>
        </div>

        <div>
            <%= form.label :toxicity, "Sample toxicity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
              <div class="form-check">
                  <%= form.radio_button :toxicity, 'toxic-yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2" %> Toxic
              </div>
              <div class="form-check">
                    <%= form.radio_button :toxicity, 'toxic-no', class:"form-check-input", type:"radio", id:"flexRadioDefault1" ,:checked => true  %> Non Toxic
              </div>
          </div>

        <div class="mt-3 mb-3">
            <div class="input-group">
              <%= form.label :element,"Possible Elements" ,class:"input-group-text" ,for:"possible-element" %>
              <%= form.text_field :element,class:"form-control" ,id:"possible-element", placeholder:"Ex: Ag, Zn" %>
            </div>
        </div>

        <div>
            <h5 class="text-info">Solvent Information</h5>
        </div>

        <div class="mt-1 mb-3">
            <div class="input-group mb-2">
              <%= form.label :solvent,"Solvent Name" ,class:"input-group-text" ,for:"sol-name" %>
              <%= form.text_field :solvent,class:"form-control", id:"sol-name" %>
            </div>
            <div class="input-group mb-2">
              <%= form.label :refractive_index,"Refective Index (optional)" ,class:"input-group-text" ,for:"solvent-ref-index" %>
              <%= form.label :refractive_index,"μ =" ,class:"input-group-text" ,for:"solvent-ref-index" %>
              <%= form.text_field :refractive_index,class:"form-control"  %>

            </div>
            <div class="input-group mb-2">
            <label class="input-group-text" for="sp-temp">Viscosity at Specific Temp. (optional)</label>
                  <%= form.text_field :viscositypoise,class:"form-control", id:"sp-temp" %>

            <label class="input-group-text">Poise</label>
                <%= form.text_field :viscositytemp,class:"form-control" ,id:"sp-temp" %>
            <label class="input-group-text">°C</label>
            </div>
        </div>

        <div>
            <h5 class="text-warning">Solute Information</h5>
        </div>

        <div class="input-group mb-3">
          <%= form.label :soluteknown,"Solute Known", class:"input-group-text", for:"solute-known" %>
         <%= form.select(:solutename, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "solute-known",:required => true}) %>
        </div>

        <div class="mt-1 mb-3 vis" id="solute-info">
            <div class="input-group mb-2">
              <%= form.label :soluteknown,"Solute Name" ,class:"input-group-text" ,for:"solute-name" %>
                <%= form.text_field :soluteknown,class:"form-control" ,id:"solute-name" %>
            </div>
            <div class="input-group mb-2">
                <label class="input-group-text" for="inputGroupSelect03eryo">Mention Ref. index & Abs. Coefficent</label>
                <label class="input-group-text" for="solute-ref-index">μ =</label>
                  <%= form.text_field :refindex,class:"form-control" ,id:"solute-ref-index" %>
                <label class="input-group-text" for="solute-abs-coefficent">ε =</label>
                  <%= form.text_field :abscoefficent,class:"form-control" ,id:"solute-abs-coefficent" %>
            </div>
        </div>

        <div>
            <h5 class="text-primary">Measurement Information <span class="text-warning"> [Zeta Potential UnderMaintenance]</span></h5>
        </div>

        <div class="input-group mb-3">
          <%= form.label :angle,"Measurement Angle", class:"input-group-text", for:"measure-angle" %>
         <%= form.select(:angle, ['Back Scatter','Front Scatter','Side Scatter'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "measure-angle",:required => true}) %>
        </div>
        <div class="input-group mb-3">
          <%= form.label :analysis_type,"Type of Analysis Required", class:"input-group-text", for:"analysis-type" %>
         <%= form.select(:analysis_type, ['Zeta Potential','Particle Size','Both'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "analysis-type",:required => true}) %>
        </div>

        <div class="input-group mb-2">
          <%= form.label :analysis_temperature,"Analysis Temperature" ,class:"input-group-text" ,for:"analysis-temp" %>
          <%= form.text_field :analysis_temperature,class:"form-control", placeholder:"Max. 30°C" %>
            <%= form.label :analysis_temperature,"°C" ,class:"input-group-text" ,for:"analysis-temp" %>
        </div>


        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>



        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="input-group mb-3">
          <%= form.text_field :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
        </div>

        <div class="actions">
          <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>



<%end%>


    </div>
</div>



<%=render "partials/footer" %>

<script>
    let soluteKnown = document.getElementById('solute-known');
    let solInfo = document.getElementById('solute-info');

    soluteKnown.addEventListener('change', () => {
        solInfo.classList.add('vis');


      if (soluteKnown.value == 'Yes') {
        solInfo.classList.toggle('vis');
      }
    })



</script>
