<div id="<%= dom_id zeta_potential_size %>">
  <p>
    <strong>Sample:</strong>
    <%= zeta_potential_size.sample %>
  </p>



  <p>
    <strong>Toxicity:</strong>
    <%= zeta_potential_size.toxicity %>
  </p>

  <p>
    <strong>Element:</strong>
    <%= zeta_potential_size.element %>
  </p>

  <p>
    <strong>Solvent:</strong>
    <%= zeta_potential_size.solvent %>
  </p>

  <p>
    <strong>Refractive index:</strong>
    <%= zeta_potential_size.refractive_index %>
  </p>




  <p>
    <strong>Angle:</strong>
    <%= zeta_potential_size.angle %>
  </p>

  <p>
    <strong>Analysis type:</strong>
    <%= zeta_potential_size.analysis_type %>
  </p>

  <p>
    <strong>Analysis temperature:</strong>
    <%= zeta_potential_size.analysis_temperature %>
  </p>

  <p>
    <strong>More:</strong>
    <%= zeta_potential_size.more %>
  </p>

</div>
