<p style="color: green"><%= notice %></p>

<%= render @zeta_potential_size %>

<div>
  <%= link_to "Edit this zeta potential size", edit_zeta_potential_size_path(@zeta_potential_size) %> |
  <%= link_to "Back to zeta potential sizes", zeta_potential_sizes_path %>

  <%= button_to "Destroy this zeta potential size", @zeta_potential_size, method: :delete %>
</div>
