<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @glow.sample %>
</p>

<p>
  <strong>Elemental:</strong>
  <%= @glow.elemental %>
</p>

<p>
  <strong>Coated:</strong>
  <%= @glow.coated %>
</p>

<p>
  <strong>Coated ele:</strong>
  <%= @glow.coated_ele %>
</p>

<p>
  <strong>Substarte:</strong>
  <%= @glow.substarte %>
</p>

<p>
  <strong>Specification:</strong>
  <%= @glow.specification %>
</p>

<p>
  <strong>More:</strong>
  <%= @glow.more %>
</p>

<p>
  <strong>Status:</strong>
  <%= @glow.status %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @glow.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @glow.slottime %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @glow.debit %>
</p>

<%= link_to 'Edit', edit_glow_path(@glow) %> |
<%= link_to 'Back', glows_path %>
