<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>



<div class="container">
    <div id="equipment-name">
      <h1>FT-NMR</h1>
    </div>
    <div class='hero'>
     <%= form_with(model: ft_nmr) do |form| %>
        <% if ft_nmr.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(ft_nmr.errors.count, "error") %> prohibited this ft_nmr from being saved:</h2>

            <ul>
              <% ft_nmr.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    <h6 class="text-danger">Note: Currently <sup>1</sup>H and <sup>13</sup>C based analysis are only available in liquid mode</h6>
    <hr>
    <div class="input-group mb-3">
    <%= form.label :sample, class:"input-group-text", for:"no-of-sample-ft-nmr"%>
    <%= form.select(:sample, ['1', '2','3','4','5'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "no-of-sample-ft-nmr",:required => true}) %>
    </div>
    
    <div class="mb-3">
          <%= form.label :sample_nature, "Sample Nature",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :sample_nature, 'Organic', class:"form-check-input", type:"radio", id:"organic-ft-nmr",:checked => true  %> Organic
            </div>
            <div class="form-check">
                  <%= form.radio_button :sample_nature, 'In-organic', class:"form-check-input", type:"radio", id:"inorganic-ft-nmr"  %> Inorganic
            </div>
        </div>
    
        <div class="input-group mb-3">
        <%= form.label :sample_phase , "Sample Phase", class:"input-group-text", for:"inputGroupSelect03" %>
        <%= form.text_field :sample_phase , type:"text", class:"form-control", id:"inputGroupSelect03" %>
      </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="sample-phase">Sample Phase</label>
        <input type="text" class="form-control" id="sample-phase" value="liquid" readonly>
    </div>

    <div>
        <p class="Measurement Inofrmation">
    </div>

      <div id="solvent-1" class="vis">
            <div class="input-group mb-3">
                <select class="form-select" id="solvent-select-1">
                  <option selected>Solvent 1</option>
                  <option value="CDCl3">CDCl₃</option>
                  <option value="DMSO-d6">DMSO-d₆</option>
                  <option value="D2O">D₂O</option>
                </select>
            </div>

            <div class="input-group mb-3">

                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="1h-1" value="option1">
                  <label class="form-check-label" for="1h-1"><sup>1</sup>H</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="13c-1" value="option2">
                  <label class="form-check-label" for="13c-1"><sup>13</sup>C</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="1hd20-1" value="option3">
                  <label class="form-check-label" for="1hd20-1"><sup>1</sup>H-D₂O</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="dept-1" value="option5">
                  <label class="form-check-label" for="dept-1">DEPT</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="2dcosy-1" value="option6">
                  <label class="form-check-label" for="2dcosy-1">2D-COSY</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="2dhsqc-1" value="option7">
                  <label class="form-check-label" for="2dhsqc-1">2D-HSQC</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="xnuclei-1" value="option7" disabled>
                  <label class="form-check-label" for="xnuclei-1">X-Nuclei</label>
                </div>

            </div>
    </div>

    <div id="solvent-2" class="vis">
          <div class="input-group mb-3">
              <select class="form-select" id="solvent-select-2">
                <option selected>Solvent 2</option>
                <option value="CDCl3">CDCl₃</option>
                <option value="DMSO-d6">DMSO-d₆</option>
                <option value="D2O">D₂O</option>
              </select>
          </div>

          <div class="input-group mb-3">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1h-2" value="option1">
                <label class="form-check-label" for="1h-2"><sup>1</sup>H</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="13c-2" value="option2">
                <label class="form-check-label" for="13c-2"><sup>13</sup>C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1hd20-2" value="option3">
                <label class="form-check-label" for="1hd20-2"><sup>1</sup>H-D₂O</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="dept-2" value="option5">
                <label class="form-check-label" for="dept-2">DEPT</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dcosy-2" value="option6">
                <label class="form-check-label" for="2dcosy-2">2D-COSY</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dhsqc-2" value="option7">
                <label class="form-check-label" for="2dhsqc-2">2D-HSQC</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="xnuclei-2" value="option7" disabled>
                <label class="form-check-label" for="xnuclei-2">X-Nuclei</label>
              </div>

          </div>
    </div>

    <div id="solvent-3" class="vis">
          <div class="input-group mb-3">
              <select class="form-select" id="solvent-select-3">
                <option selected>Solvent-3</option>
                <option value="CDCl3">CDCl₃</option>
                <option value="DMSO-d6">DMSO-d₆</option>
                <option value="D2O">D₂O</option>
              </select>
          </div>

          <div class="input-group mb-3">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1h-3" value="option1">
                <label class="form-check-label" for="1h-3"><sup>1</sup>H</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="13c-3" value="option2">
                <label class="form-check-label" for="13c-3"><sup>13</sup>C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1hd20-3" value="option3">
                <label class="form-check-label" for="1hd20-3"><sup>1</sup>H-D₂O</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="dept-3" value="option5">
                <label class="form-check-label" for="dept-3">DEPT</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dcosy-3" value="option6">
                <label class="form-check-label" for="2dcosy-3">2D-COSY</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dhsqc-3" value="option7">
                <label class="form-check-label" for="2dhsqc-3">2D-HSQC</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="xnuclei-3" value="option7" disabled>
                <label class="form-check-label" for="xnuclei-3">X-Nuclei</label>
              </div>

          </div>
    </div>

    <div id="solvent-4" class="vis">
          <div class="input-group mb-3">
              <select class="form-select" id="solvent-select-4">
                <option selected>Solvent-4</option>
                <option value="CDCl3">CDCl₃</option>
                <option value="DMSO-d6">DMSO-d₆</option>
                <option value="D2O">D₂O</option>
              </select>
          </div>

          <div class="input-group mb-3">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1h-4" value="option1">
                <label class="form-check-label" for="1h-4"><sup>1</sup>H</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="13c-4" value="option2">
                <label class="form-check-label" for="13c-4"><sup>13</sup>C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1hd20-4" value="option3">
                <label class="form-check-label" for="1hd20-4"><sup>1</sup>H-D₂O</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="dept-4" value="option5">
                <label class="form-check-label" for="dept-4">DEPT</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dcosy-4" value="option6">
                <label class="form-check-label" for="2dcosy-4">2D-COSY</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dhsqc-4" value="option7">
                <label class="form-check-label" for="2dhsqc-4">2D-HSQC</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="xnuclei-4" value="option7" disabled>
                <label class="form-check-label" for="xnuclei-4">X-Nuclei</label>
              </div>

          </div>
    </div>

    <div id="solvent-5" class="vis">
          <div class="input-group mb-3">
              <select class="form-select" id="solvent-select-5">
                <option selected>Solvent-5</option>
                <option value="CDCl3">CDCl₃</option>
                <option value="DMSO-d6">DMSO-d₆</option>
                <option value="D2O">D₂O</option>
              </select>
          </div>

          <div class="input-group mb-3">

              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1h-5" value="option1">
                <label class="form-check-label" for="1h-5"><sup>1</sup>H</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="13c-5" value="option2">
                <label class="form-check-label" for="13c-5"><sup>13</sup>C</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="1hd20-5" value="option3">
                <label class="form-check-label" for="1hd20-5"><sup>1</sup>H-D₂O</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="dept-5" value="option5">
                <label class="form-check-label" for="dept-5">DEPT</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dcosy-5" value="option6">
                <label class="form-check-label" for="2dcosy-5">2D-COSY</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="2dhsqc-5" value="option7">
                <label class="form-check-label" for="2dhsqc-5">2D-HSQC</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="xnuclei-5" value="option7" disabled>
                <label class="form-check-label" for="xnuclei-5">X-Nuclei</label>
              </div>

          </div>
    </div>




        <div>
            <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
        </div>
        <div>
            <label class="form-check-label fw-bold" for="flexRadioDefault2">Toxicity</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="toxicity" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
                    Toxic
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="toxicity" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Non-Toxic
                </label>
            </div>
        </div>

        <div class="input-group mb-3">
          <label class="input-group-text" for="health_hazard">Health Hazard</label>
          <select class="form-select" id="health_hazard">
              <option selected>Choose...</option>
              <option value="yes">Yes</option>
              <option value="no">No</option>
          </select>
        </div>

    <div class="input-group mb-3 vis" id="health-hazard-yes">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
            <label class="form-check-label" for="inlineCheckbox1">Irritant to skin/eyes</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <label class="form-check-label" for="inlineCheckbox2">Harmful to skin</label>
            </div>
            <div class="form-check form-check-inline">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
            <label class="form-check-label" for="inlineCheckbox3">Toxic if inhaled</label>
        </div>
    </div>

    <div class="input-group mb-3">
        <label class="input-group-text" for="store_handle">Storage & handling condition</label>
        <select class="form-select" id="store_handle">
            <option selected>Choose...</option>
            <option value="room_temp">Room temperature</option>
            <option value="spec_temp">Specific Tempeature</option>
        </select>
        <div class="input-group mb-3 vis" id="spec-temp-val">
            <input type="text" class="form-control" id="spec-temp-vel-field" placeholder="Ex: 2°C, Store in Dark">
        </div>
    </div>


    <div class="input-group mb-3" id="ref-file">
    <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
    <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
  </div>



  <div class="input-group mb-3">
  <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
  <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
</div>
<div id="instruct">
<p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
 </div>

  
  <div class="mb-3">
    <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more" %>
    <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
  </div>

  <div class="actions">
      <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
  </div>

    <p class="text-danger mt-3" >*Please attach the details regarding characteristic proton shift for a sample along with this application.</p>
    <p class="text-danger">#NMR analysis of Paramagnetic and Ferromagnetic compounds cannot be done.</p>
  </div>
</div>


<%=render "partials/footer" %>
<%end %>

<script>
    let sampleNumber = document.getElementById('no-of-sample-ft-nmr');
    let healthHazard = document.getElementById('health_hazard');
    let healthHazardYes = document.getElementById('health-hazard-yes');
    let storageHandle = document.getElementById('store_handle');
    let specTemp = document.getElementById('spec-temp-val');
    let solvent1 = document.getElementById('solvent-1');
    let solvent2 = document.getElementById('solvent-2');
    let solvent3 = document.getElementById('solvent-3');
    let solvent4 = document.getElementById('solvent-4');
    let solvent5 = document.getElementById('solvent-5');

    sampleNumber.addEventListener('click', () => {
        solvent1.classList.add('vis');
        solvent2.classList.add('vis');
        solvent3.classList.add('vis');
        solvent4.classList.add('vis');
        solvent5.classList.add('vis');

        if(sampleNumber.value == '1'){
          solvent1.classList.toggle('vis')
        }
        if(sampleNumber.value == '2'){
          solvent1.classList.toggle('vis')
          solvent2.classList.toggle('vis')
        }
        if(sampleNumber.value == '3'){
          solvent1.classList.toggle('vis')
          solvent2.classList.toggle('vis')
          solvent3.classList.toggle('vis')
        }
        if(sampleNumber.value == '4'){
          solvent1.classList.toggle('vis')
          solvent2.classList.toggle('vis')
          solvent3.classList.toggle('vis')
          solvent4.classList.toggle('vis')
        }
        if(sampleNumber.value == '5'){
          solvent1.classList.toggle('vis')
          solvent2.classList.toggle('vis')
          solvent3.classList.toggle('vis')
          solvent4.classList.toggle('vis')
          solvent5.classList.toggle('vis')
        }
    })

    healthHazard.addEventListener('click', () => {
        healthHazardYes.classList.add('vis');

        if(healthHazard.value == 'yes'){
          healthHazardYes.classList.toggle('vis')
        }
    })

    storageHandle.addEventListener('click', () => {
        specTemp.classList.add('vis');

        if(storageHandle.value == 'spec_temp'){
          specTemp.classList.toggle('vis')
        }
    })

</script>
