<div id="<%= dom_id ft_nmr %>">
  <p>
    <strong>Sample:</strong>
    <%= ft_nmr.sample %>
  </p>

  <p>
    <strong>Sample nature:</strong>
    <%= ft_nmr.sample_nature %>
  </p>

  <p>
    <strong>Sample phase:</strong>
    <%= ft_nmr.sample_phase %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= ft_nmr.toxicity %>
  </p>

  <p>
    <strong>Health:</strong>
    <%= ft_nmr.health %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= ft_nmr.storage %>
  </p>

  <p>
    <strong>More:</strong>
    <%= ft_nmr.more %>
  </p>

</div>
