<p style="color: green"><%= notice %></p>

<%= render @ft_nmr %>

<div>
  <%= link_to "Edit this ft nmr", edit_ft_nmr_path(@ft_nmr) %> |
  <%= link_to "Back to ft nmrs", ft_nmrs_path %>

  <%= button_to "Destroy this ft nmr", @ft_nmr, method: :delete %>
</div>
