<div id="<%= dom_id icp_m %>">
  <p>
    <strong>Sample:</strong>
    <%= icp_m.sample %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= icp_m.composition %>
  </p>

  <p>
    <strong>Sample phase:</strong>
    <%= icp_m.sample_phase %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= icp_m.nature %>
  </p>

  <p>
    <strong>Concentration:</strong>
    <%= icp_m.concentration %>
  </p>

  <p>
    <strong>Testing:</strong>
    <%= icp_m.testing %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= icp_m.temp %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= icp_m.toxicity %>
  </p>

  <p>
    <strong>Compatibility:</strong>
    <%= icp_m.compatibility %>
  </p>

  <p>
    <strong>Hazard:</strong>
    <%= icp_m.hazard %>
  </p>

  <p>
    <strong>More:</strong>
    <%= icp_m.more %>
  </p>

</div>
