<p style="color: green"><%= notice %></p>

<%= render @icp_m %>

<div>
  <%= link_to "Edit this icp m", edit_icp_m_path(@icp_m) %> |
  <%= link_to "Back to icp ms", icp_ms_path %>

  <%= button_to "Destroy this icp m", @icp_m, method: :delete %>
</div>
