<div id="<%= dom_id bet %>">
  <p>
    <strong>Sample:</strong>
    <%= bet.sample %>
  </p>

  <p>
    <strong>Degassing:</strong>
    <%= bet.degassing %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= bet.analysis %>
  </p>

  <p>
    <strong>Incompatibe:</strong>
    <%= bet.incompatibe %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= bet.toxicity %>
  </p>

  <p>
    <strong>Disposal:</strong>
    <%= bet.disposal %>
  </p>

  <p>
    <strong>More:</strong>
    <%= bet.more %>
  </p>

</div>
