<%= stylesheet_link_tag "dashboard"%>

<nav class="navbar bg-body-tertiary mb-3" id="form-back-profile">
    <div class="container-fluid">
      <div id="back-div">
        <div>
          <%= link_to "Back",  :back, class:"btn btn-outline-warning profile-dropdown back-btn-forms" %>
        </div>
      </div>

      <div id="profile-div">
          <div class="btn-group btn-profile">
            <%= link_to "My Profile", edit_user_registration_path ,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <div>

                <p class="text-muted" id="profile-dropdown-info">Signed in as<p>
                <%= link_to "#{current_user.firstname} ", edit_user_registration_path ,class:"dropdown-item fw-bold" ,id:"maithili" %>
              </div>

              <hr>
              <li><%= link_to "Edit Profile", edit_user_registration_path ,class:"dropdown-item" %></li>
              <li><a class="dropdown-item" href="#">My Slots</a></li>
              <li><%= link_to "Download", home_index_path(format: :pdf)%></li>
              <%# <li><a class="dropdown-item" href="#">Records</a></li> %>

              <!-- <li><%= link_to 'This post in PDF', home_index_path(@anish, format: :pdf) %></li> -->

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>
      </div>

  </nav>


<%@user=User.find(current_user.id)%>
<script>
        const ele1="<%= @user.firstname %> ";
            const ele = "<%=@user.lastname %> " ;
        var element = document.getElementById("maithili").innerHTML= ele1+ele[0];

        const searchInput = document.getElementById("searchInput");

        // store name elements in array-like object
        const namesFromDOM = document.getElementsByClassName("equipment");

        // listen for user events
        searchInput.addEventListener("keyup", (event) => {
            const { value } = event.target;

            // get user search input converted to lowercase
            const searchQuery = value.toLowerCase();

            for (const nameElement of namesFromDOM) {
                // store name text and convert to lowercase
                let name = nameElement.textContent.toLowerCase();

                // compare current name to search input
                if (name.includes(searchQuery)) {
                    // found name matching search, display it
                    nameElement.style.display = "block";
                } else {
                    // no match, don't display name
                    nameElement.style.display = "none";
                }
            }
        });
</script>