<%= stylesheet_link_tag "loginFeatures"%>
<%=render "loginHeading"%>


<div id="container" class='container'>
  <div id="guide-wrap">
  <div id="instruction" class="card">
    <h2>Instructions</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">This is the Registration Page for users</li>
      <li class="list-group-item">Select Your User Type Before Filling the form</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
  </div>
  <div id="login">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <h2>Change your password</h2>
      <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

                <div class="mb-3 field">
                <%= f.label :password, "New password" %>
                <% if @minimum_password_length %>
                  <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "new-password",class:"form-control",
                 placeholder:"Enter Your Password" %>
                </div>

                <div class="mb-3 field">
                  <%= f.label :password_confirmation, "Confirm new password" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control" ,placeholder:"Enter Your Password" %>
                </div>

                <div class="actions">
                  <%= f.submit "Change my password" ,class:"btn btn-primary" ,id:"sbt"%>
                </div>
                <%= render "devise/shared/links" , resource: resource %>

                  <%end%>
  </div>

</div>

<div id="about" class="container">

</div>
 <%=render "footer" %>
