

<%= stylesheet_link_tag "loginFeatures"%>
<%=render "partials/loginHeading"%>
<!-- HTML code for container of instruction  and form card -->
<div id="container" class='container mt-4'>

    <div id="guide-wrap">
      <div id="instruction" class="card">
        <h2>Instructions</h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">This is the Registration Page for users</li>
          <li class="list-group-item">Select Your User Type Before Filling the form</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
          <li class="list-group-item">A third item</li>
        </ul>
      </div>
    </div>
  <div id="login">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <h2>Forgot your password?</h2>
      <%= render "devise/shared/error_messages" , resource: resource %>

        <% if notice %>
          <%=render 'partials/layoutalerts' %>
            <% end %>
                <div class="mb-3 field" id="email-input">
                  <%= f.label :email ,for:"exampleInputEmail1", class:"form-label"%>
                  <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control",
                  id:"exampleInputEmail1" ,placeholder:"Enter Your Email Address"%>
                  <%# <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                  required placeholder="Enter Your Email Address"> %>
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>

                <div class="actions">

                  <%= f.submit "Send me reset password instructions" ,class:"btn btn-primary" ,id:"sbt"%>
                </div>
                <%# <button type="submit" class="btn btn-primary" id="sbt">Submit</button> %>
                <div class='mt-3'>
                  <span>Already have an account?</span>
                  <%= link_to "Log in", new_session_path(resource_name) %>
                </div>
                <div class='mt-2'>
                  <span>Don't Have an Account?</span>
                  <%= link_to "Sign up", new_registration_path(resource_name) %>
                </div>
                  <%end%>
  </div>
</div>

</div>
   <%=render "partials/footer" %>


  </body>
