<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @laser.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @laser.composition %>
</p>

<p>
  <strong>Stype:</strong>
  <%= @laser.stype %>
</p>

<p>
  <strong>Temp points:</strong>
  <%= @laser.temp_points %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @laser.toxicity %>
</p>

<p>
  <strong>Compatibility:</strong>
  <%= @laser.compatibility %>
</p>

<p>
  <strong>More:</strong>
  <%= @laser.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @laser.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @laser.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @laser.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @laser.status %>
</p>

<%= link_to 'Edit', edit_laser_path(@laser) %> |
<%= link_to 'Back', lasers_path %>
