<div id="<%= dom_id hrlcm %>">
  <p>
    <strong>Sample:</strong>
    <%= hrlcm.sample %>
  </p>

  <p>
    <strong>Nature sample:</strong>
    <%= hrlcm.nature_sample %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= hrlcm.category %>
  </p>

  <p>
    <strong>Sample type:</strong>
    <%= hrlcm.sample_type %>
  </p>

  <p>
    <strong>Solvent:</strong>
    <%= hrlcm.solvent %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= hrlcm.analysis %>
  </p>

  <p>
    <strong>Sample volume:</strong>
    <%= hrlcm.sample_volume %>
  </p>

  <p>
    <strong>Sample concentration:</strong>
    <%= hrlcm.sample_concentration %>
  </p>

  <p>
    <strong>Sample salts:</strong>
    <%= hrlcm.sample_salts %>
  </p>

  <p>
    <strong>Sample contains:</strong>
    <%= hrlcm.sample_contains %>
  </p>

  <p>
    <strong>Storage:</strong>
    <%= hrlcm.storage %>
  </p>

  <p>
    <strong>Testing required:</strong>
    <%= hrlcm.testing_required %>
  </p>

  <p>
    <strong>Incompatible:</strong>
    <%= hrlcm.incompatible %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= hrlcm.toxicity %>
  </p>

  <p>
    <strong>Disposal:</strong>
    <%= hrlcm.disposal %>
  </p>

  <p>
    <strong>Health:</strong>
    <%= hrlcm.health %>
  </p>

  <p>
    <strong>More:</strong>
    <%= hrlcm.more %>
  </p>

</div>
