<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>

<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>
        <div id="mod">
            <h2 class="fw-bold text-center">Modules</h1>
            <div id="toggler">
                <%= link_to "Internal Module",  payment_payment_path, class:"btn btn-mod btn-outline-primary mt-4" %>
                <%= link_to "External Module",  payment_paymentExt_path, class:"btn btn-mod btn-outline-primary mt-4", id:"active" %>
            </div>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'All Payments',payment_paymentExt_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',payment_paymentExtM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Update',payment_paymentExtU_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Completed',payment_paymentExtC_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Payment Entry Console</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="debit-head">Debit Head</th>
                        <th scope="col" id="proforma-col">Proforma</th>
                    </tr>
                </thead>
                <tbody>
                          <% @equipment.where(dummy:'alloted', role:'external').each do |equipment|%>
                        <tr>
                          <th scope="row"><%= equipment.app_no%></th>
                          <td> <%= equipment.username%> </td>
                          <td> <%= equipment.debit_head%> </td>
                          <td id="assign-btn">
                              <!-- Button trigger modal -->
                               <%= button_tag "generate", type: "button", class: "btn btn-success", data: { bs_toggle: "modal", bs_target:"##{equipment.app_no}" }, id: "ani" %>
                               <div id="<%= equipment.app_no%>" class="modal">

     <div class="modal-dialog">
               <div class="modal-content">
                   <div class="modal-header">
                       <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= equipment.username %></b></h1>
                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body">

                        <%= form_with(model:equipment ,local:true) do |form| %>
                         <div class="input-group mb-3">
                           <%= form.label :x, "Apllication No.", class:"input-group-text"%>
                           <%= form.text_field :x, class:"form-control", id:"composition", placeholder: equipment.app_no , readonly: true%>
                       </div>
                       <div class="input-group mb-3">
                         <%= form.label :x, "Applicant Name", class:"input-group-text"%>
                         <%= form.text_field :x, class:"form-control", id:"composition", placeholder:equipment.username, readonly: true%>
                     </div>
                       <div class="input-group mb-3">
                       <%= form.label :pay, "Amount", class:"input-group-text", for:"amount"%>
                       <%= form.text_field :pay, class:"form-control", id:"amount"%>
                     </div>
                     <div class="input-group mb-3">
                     <%= form.hidden_field :dummy, value: 'done' %>
                   </div>

                       <div class="actions">
                         <%= form.submit "Generate", class:"btn btn-primary", id:"sbt" %>

                       </div>
                     <% end %>
                   </div>
               </div>
           </div>

   </div>

                           </td>

                       </tr>
   <%end%>
                   </tbody>
               </table>

           </div>
           </div>


       </div>


   </div>
   <script>
     // Get the modals and buttons
     var modal1 = document.getElementByClass("modal");
     var btn1 = document.getElementById("ani");

     // Add event listeners to the buttons
     btn1.addEventListener("click", function() {
       modal1.style.display = "block";
     });

     btn2.addEventListener("click", function() {
       modal2.style.display = "block";
     });

     // Close the modal when the user clicks anywhere outside of it
     window.addEventListener("click", function(event) {
       if (event.target == modal1) {
         modal1.style.display = "none";
       }
       if (event.target == modal2) {
         modal2.style.display = "none";
       }
     });
   </script>
