<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>

<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'Internal Proforma',payment_payment_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',payment_paymentM_path,class:"nav-link active sidelink-wrap", id:"active-tab" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Update',payment_paymentU_path,class:"nav-link active sidelink-wrap" %>
                </li>
                
            </ul>
        </div>
    </div>


    <div id="hero">

        <div id="manual-heading">
            <h1>Manual Entry</h1>
        </div>

        <div id="wrap">
          <%= form_with(model: @equipment,local:true) do |form| %>
            <div class="mb-3">
                <div class="input-group">
                  <%= form.label :app_no, "Apllication No.", class:"input-group-text", id:"app"%>
                  <%= form.text_field :app_no, class:"form-control", id:"app"%>
                </div>
            </div>

              <% options = options_from_collection_for_select(Equiplist.all,'id' ,'name')%>
            <div class="input-group mb-3">
              <%= form.label :equipname ,"Equipment" ,for:"Equip", class:"input-group-text "%>
              <%= form.select(:equipname ,Equiplist.all.collect { |f| [f.name, f.id] } ,{:include_blank => 'Choose...'}, { :class => 'form-select',:id => "Equip" , :required => true})%>
            </div>

            <div class="input-group mb-3">
              <%= form.label :username, "User Name", class:"input-group-text", id:"user_name"%>
              <%= form.text_field :username, class:"form-control", id:"user_name"%>
            </div>

            <div class="input-group mb-3">
              <%= form.label :reg_no, "Reg ID", class:"input-group-text", id:"user_name"%>
              <%= form.text_field :reg_no, class:"form-control", id:"user_name",placeholder:"Optional"%>
            </div>

            <div class="input-group mb-3">
              <%= form.label :dept ,"Department" ,for:"exampleInputEmail1", class:"input-group-text "%>
               <%= form.select(:dept, ['Chemical Engineering', 'Chemistry','Civil Engineering','Mechanical Engineering', 'Mining Engineering', 'Metallurgical Engineering','Physics','Water Resources & Ocean Engineering'], {:include_blank => 'Choose...'}, { :class => 'form-select',:id => "u-type",:required => false }) %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :guide, "Guide", class:"input-group-text", id:"guide"%>
              <%= form.text_field :guide, class:"form-control", id:"guide",placeholder:"Optional"%>
            </div>


            <div class="input-group mb-3">
              <%= form.label :course ,"Course" ,for:"course", class:"input-group-text "%>
              <%= form.select(:course , ['Btech','Mtech','PHD'],{:include_blank => 'Choose...'}, { :class => 'form-select',:id => "course"}) %>
            </div>

            <div class="mb-3">
                <div class="input-group mb-3">
                  <%= form.label :pay, "Amount", class:"input-group-text", id:"amount"%>
                  <%= form.label :pay, "₹", class:"input-group-text", id:"amount"%>
                    <%= form.text_field :pay, class:"form-control", id:"amount"%>
                </div>
            </div>

              <%= form.hidden_field :dummy, value: 'generated' %>
              <%= form.hidden_field :role, value: 'student' %>

              <div class="actions">
                <%= form.submit "Generate", class:"btn btn-primary", id:"sbt" %>

              </div>
            <%end%>

        </div>

    </div>



</div>
