<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>


<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'Internal Proforma',payment_payment_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Proforma Confirmation',payment_proforma_confirmation_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Department Operating Cost',payment_paymentD_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'CPDA Fund',payment_paymentC_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Student Contingency',payment_paymentS_path,class:"nav-link active sidelink-wrap", id:"active-tab"  %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Project Fund',payment_paymentP_path,class:"nav-link active sidelink-wrap" %>
                </li>

            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Student Contigency </h2>
        </div>



                <div id="slot-details">
                <div>
                    <table class="table table-hover font-quicksand">
                        <thead>
                          <tr class="table-head font-unbounded">
                              <th scope="col" id="application-no">Appl No</th>
                              <th scope="col" id="name">Name</th>
                              <th scope="col" id="Performa_no">Perfoorma No</th>
                              <th scope="col" id="proforma-col">Proforma</th>
                              <th scope="col" id="View">View</th>
                              <th scope="col" id="clear">Clear</th>

                          </tr>
                        </thead>
                        <tbody>

                                  <% @equipment.where(debit_head:'Student Contingency', dummy:'generated',role:'student').each do |equipment|%>
                                  <tr>
                                    <th scope="row"><%=equipment.app_no %>	</th>
                                    <td> <%= equipment.username%> </td>
                                    <td> #TO BE UNDERSTOOD </td>
                                    <td> View </td>
                                    <td id="assign-btn">
                                        <!-- Button trigger modal -->
                                         <%= button_tag "generate", type: "button", class: "btn btn-success", data: { bs_toggle: "modal", bs_target:"##{equipment.app_no}" }, id: "ani" %>
                                         <div id="<%= equipment.app_no%>" class="modal">

                          <div class="modal-dialog">
                          <div class="modal-content">
                             <div class="modal-header">
                                 <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm your action</h1>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                             </div>
                             <div class="modal-body">
                                  <%= form_with(model: equipment,local:true) do |form| %>
                                  <%= form.hidden_field :dummy, value: 'done' %>
                                 <div class="actions">
                                   <%= form.submit "Confirm", class:"btn btn-primary", id:"sbt" %>
                                </div>
                               <% end %>
                             </div>
                          </div>
                          </div>

                          </div>

                                     </td>
                                    <td>  <%= form_with(model: equipment,local:true) do |form| %>
                                     <%= form.hidden_field :dummy, value: 'alloted' %>
                                    <div class="actions">
                                      <%= form.submit "Clear", class:"btn btn-primary", id:"sbt" %>
                                   </div>
                                  <% end %>
                                 </td>




                                 </tr>
                          <%end%>
                             </tbody>
                          </table>

                          </div>
                          </div>


                          </div>


                          </div>
                          <script>
                          // Get the modals and buttons
                          var modal1 = document.getElementByClass("modal");
                          var btn1 = document.getElementById("ani");

                          // Add event listeners to the buttons
                          btn1.addEventListener("click", function() {
                          modal1.style.display = "block";
                          });

                          btn2.addEventListener("click", function() {
                          modal2.style.display = "block";
                          });

                          // Close the modal when the user clicks anywhere outside of it
                          window.addEventListener("click", function(event) {
                          if (event.target == modal1) {
                          modal1.style.display = "none";
                          }
                          if (event.target == modal2) {
                          modal2.style.display = "none";
                          }
                          });
                          </script>
