<%= stylesheet_link_tag "paymentportal" %>
<%=render "partials/paymentNav" %>


<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>
        <%= link_to "Admin Panel",  mainportal_admindashboard_path, class:"btn btn-outline-warning mt-4 back-btn" %>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                 <%= link_to 'All Payments',payment_payment_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Department Operating Cost',payment_paymentD_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'CPDA Fund',payment_paymentC_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Student Contingency',payment_paymentS_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Project Fund',payment_paymentP_path,class:"nav-link active sidelink-wrap" %>
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',payment_paymentM_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Update',payment_paymentU_path,class:"nav-link active sidelink-wrap", id:"active-tab"  %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Performa Generated',payment_paymentA_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="hero">
        <div id="manual-heading">
            <h1>Proforma Update</h1>
        </div>

        <hr>

        <div id="wrap" class="mt-3">

            <div class="mb-3">
              <%= form_with url: payment_paymentU_path do |form| %>
                <div class="input-group">
                  <%= form.label :entry, "ApplNo/Ref. No", class:"input-group-text", id:"app-no-label", for:"app-no"%>
                  <%= form.text_field :entry, class:"form-control", id:"app-no", placeholder:"CRF/XXX/$$$"%>
                </div>

                <div class="actions">
                  <%= form.submit "Check", class:"btn btn-outline-success", id:"sbt-check" %>
                </div>
                <%end%>

                <% @equipment.where(dummy:'done', role:'student').each do |equipment|%>
               <% if @entry == equipment.app_no %>
               <%= equipment.app_no %>
               <br>
               <%= form_with(model:equipment ,local:true) do |form| %>
                 <div class="input-group">
                   <%= form.label :pay, "Amount", class:"input-group-text", for:"amount"%>
                   <%= form.text_field :pay, class:"form-control", id:"amount", placeholder:"#{equipment.pay}"%>
                 </div>
                 <div class="actions mb-3">
                   <%= form.submit "Edit Fund", class:"btn btn-success", id:"sbt" %>
                 </div>
                 <%end%>
               <%end%>
               <%end%>



            </div>




        </div>




    </div>


</div>
