<%= stylesheet_link_tag "developer.css"%>



  <div class="dev-head">Meet Our Team</div>

  <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <div class="card" >
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Anish Kumbhar</h2>
        <p class="role"> Project Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Shivyoddha" target="_blank"><i class="fa fa-github" ></i></a>
              <a href="https://www.linkedin.com/in/anish-kumbhar-465980223/" target="_blank"><i class="fa fa-linkedin" ></i></a>
              <a href="mailto:anishkumbhar.211cs229@nitk.edu.in" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>
      </div>
    </div>

    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/preetham.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Preetham G</h2>
        <p class="role"> Front-End Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/PreethamNaik12" target="_blank"><i class="fa fa-github" ></i></a>
              <a href="https://www.linkedin.com/in/preetham-naik-aa4652229" target="_blank"><i class="fa fa-linkedin" ></i></a>
              <a href="mailto:preethamgr123@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>

        </ul>
      </div>
    </div>

    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Sanjay V</h2>
        <p class="role"> Front-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/SANJAYV10" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/sanjay-v-061b41226" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:sanjay000111kv@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>

        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/medha.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Medha Nethicallu</h2>
        <p class="role"> Front-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/medha03" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/medha-nethicallu-20318a261" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:medhanethicallu.211me328@nitk.edu.in" target="_blank"><i class="fa fa-envelope" ></i></a>

        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/nikesh.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Nikesh Shetty</h2>
        <p class="role"> Back-End Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Nikeshshetty2303" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/nikesh23/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:nikeshs129@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>

      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/syed.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Syed Ameen</h2>
        <p class="role"> Back-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/ameen-11" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/syed-ameen-9a9b26226" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:bangaloreameen@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/Rajashri.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Rajashri Varadaraj</h2>
        <p class="role"> Back-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Rjshri" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/rajashri-varadaraj-6b375b232/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:rjshri293@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Aryan Sangama</h2>
        <p class="role"> Media Head </p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Shivyoddha" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/anish-kumbhar-465980223/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:anishkumbhar.211cs229@nitk.edu.in" target="_blank"><i class="fa fa-envelope"></i></a>
        </ul>
      </div>
    </div>


  </div>




<script>
  const track = document.getElementById("image-track");

  const handleOnDown = e => track.dataset.mouseDownAt = e.clientX;

  const handleOnUp = () => {
    track.dataset.mouseDownAt = "0";
    track.dataset.prevPercentage = track.dataset.percentage;
  }

  const handleOnMove = e => {
    if(track.dataset.mouseDownAt === "0") return;
    const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX,
    maxDelta = window.innerWidth / 2;
    const percentage = (mouseDelta / maxDelta) * -100,
    nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
    nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -59);
                      
    track.dataset.percentage = nextPercentage;

    track.animate({
      transform: `translate(${nextPercentage}%, -50%)`
    }, { duration: 1200, fill: "forwards" });

    for(const image of track.getElementsByClassName("image")) {
      image.animate({
        objectPosition: `${100 + nextPercentage}% center`
      }, { duration: 1200, fill: "forwards" });
    }
  }

/* -- Had to add extra lines for touch events -- */

  window.onmousedown = e => handleOnDown(e);

  window.ontouchstart = e => handleOnDown(e.touches[0]);

  window.onmouseup = e => handleOnUp(e);

  window.ontouchend = e => handleOnUp(e.touches[0]);

  window.onmousemove = e => handleOnMove(e);

  window.ontouchmove = e => handleOnMove(e.touches[0]);

</script>
