<%= stylesheet_link_tag "developer.css"%>



<div class="meet-team">
  <button class="buttonc3" id="button3">
    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 1024 1024"><path d="M874.690416 495.52477c0 11.2973-9.168824 20.466124-20.466124 20.466124l-604.773963 0 188.083679 188.083679c7.992021 7.992021 7.992021 20.947078 0 28.939099-4.001127 3.990894-9.240455 5.996574-14.46955 5.996574-5.239328 0-10.478655-1.995447-14.479783-5.996574l-223.00912-223.00912c-3.837398-3.837398-5.996574-9.046027-5.996574-14.46955 0-5.433756 2.159176-10.632151 5.996574-14.46955l223.019353-223.029586c7.992021-7.992021 20.957311-7.992021 28.949332 0 7.992021 8.002254 7.992021 20.957311 0 28.949332l-188.073446 188.073446 604.753497 0C865.521592 475.058646 874.690416 484.217237 874.690416 495.52477z"></path></svg>
    <span class="role1">Back</span>
  </button>
  <h1 class="m-head">CRF Web Team</h1>
</div>
  
  <div id="image-track" data-mouse-down-at="0" data-prev-percentage="0">
    <div class="card" >
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Anish Kumbhar</h2>
        <p class="role"> Project Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Shivyoddha" target="_blank"><i class="fa fa-github" ></i></a>
              <a href="https://www.linkedin.com/in/anish-kumbhar-465980223/" target="_blank"><i class="fa fa-linkedin" ></i></a>
              <a href="mailto:anishkumbhar.211cs229@nitk.edu.in" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>
      </div>
    </div>
  
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/preetham.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Preetham G</h2>
        <p class="role"> Front-End Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/PreethamNaik12" target="_blank"><i class="fa fa-github" ></i></a>
              <a href="https://www.linkedin.com/in/preetham-naik-aa4652229" target="_blank"><i class="fa fa-linkedin" ></i></a>
              <a href="mailto:preethamgr123@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
  
        </ul>
      </div>
    </div>
  
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Sanjay V</h2>
        <p class="role"> Front-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/SANJAYV10" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/sanjay-v-061b41226" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:sanjay000111kv@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
  
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/medha.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Medha Nethicallu</h2>
        <p class="role"> Front-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/medha03" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/medha-nethicallu-20318a261" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:medhanethicallu.211me328@nitk.edu.in" target="_blank"><i class="fa fa-envelope" ></i></a>
  
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/nikesh.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Nikesh Shetty</h2>
        <p class="role"> Back-End Lead</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Nikeshshetty2303" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/nikesh23/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:nikeshs129@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>
  
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/syed.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Syed Ameen</h2>
        <p class="role"> Back-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/ameen-11" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/syed-ameen-9a9b26226" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:bangaloreameen@gmail.com" target="_blank"><i class="fa fa-envelope" ></i></a>
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/Rajashri.jpeg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Rajashri Varadaraj</h2>
        <p class="role"> Back-End Developer</p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Rjshri" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/rajashri-varadaraj-6b375b232/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:rjshri293@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        </ul>
      </div>
    </div>
    <div class="card" tabindex="0">
      <%=image_tag 'developer_images/anish2.jpg', class:"image", alt:"..." %>
      <div class="text">
        <h2 data-splitting="">Aryan Sangama</h2>
        <p class="role"> Media Head </p>
        <ul class="dev-icons" data-splitting="">
              <a href="https://github.com/Shivyoddha" target="_blank"><i class="fa fa-github"  ></i></a>
              <a href="https://www.linkedin.com/in/anish-kumbhar-465980223/" target="_blank"><i class="fa fa-linkedin"  ></i></a>
              <a href="mailto:anishkumbhar.211cs229@nitk.edu.in" target="_blank"><i class="fa fa-envelope"></i></a>
        </ul>
      </div>
    </div>
  
  
  </div>




<script>
  const track = document.getElementById("image-track");

  const handleOnDown = e => track.dataset.mouseDownAt = e.clientX;

  const handleOnUp = () => {
    track.dataset.mouseDownAt = "0";  
    track.dataset.prevPercentage = track.dataset.percentage;
  }

  const handleOnMove = e => {
    if(track.dataset.mouseDownAt === "0") return;
    const mouseDelta = parseFloat(track.dataset.mouseDownAt) - e.clientX,
    maxDelta = window.innerWidth / 2;
    const percentage = (mouseDelta / maxDelta) * -100,
    nextPercentageUnconstrained = parseFloat(track.dataset.prevPercentage) + percentage,
    nextPercentage = Math.max(Math.min(nextPercentageUnconstrained, 0), -59);
                      
    track.dataset.percentage = nextPercentage;
             
    track.animate({
      transform: `translate(${nextPercentage}%, -50%)`
    }, { duration: 1200, fill: "forwards" });
                      
    for(const image of track.getElementsByClassName("image")) {
      image.animate({
        objectPosition: `${100 + nextPercentage}% center`
      }, { duration: 1200, fill: "forwards" });
    }
  }

/* -- Had to add extra lines for touch events -- */

  window.onmousedown = e => handleOnDown(e);

  window.ontouchstart = e => handleOnDown(e.touches[0]);

  window.onmouseup = e => handleOnUp(e);

  window.ontouchend = e => handleOnUp(e.touches[0]);

  window.onmousemove = e => handleOnMove(e);

  window.ontouchmove = e => handleOnMove(e.touches[0]);
  
</script>

