<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "dashboard"%>
<%=render "partials/loginHeading"%>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div id="search-div">
        <div class="d-flex" role="search">
          <input class="form-control me-2 font-quicksand" type="search" placeholder="Search" aria-label="Search" id="searchInput">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </div>
      </div>

      <div id="profile-div">
          <div class="btn-group btn-profile">
            <%= link_to "My Profile", edit_user_registration_path ,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <div>

                <p class="text-muted" id="profile-dropdown-info">Signed in as<p>
                <%= link_to "#{current_user.firstname} ", edit_user_registration_path ,class:"dropdown-item fw-bold" ,id:"maithili" %>
              </div>

              <hr>
              <li><%= link_to "Edit Profile", edit_user_registration_path ,class:"dropdown-item" %></li>
              <li><a class="dropdown-item" href="#">My Slots</a></li>
              <li><%= link_to "Download", home_index_path(format: :pdf)%></li>
              <%# <li><a class="dropdown-item" href="#">Records</a></li> %>

              <!-- <li><%= link_to 'This post in PDF', home_index_path(@anish, format: :pdf) %></li> -->

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>
    </div>
  </nav>

<div class="equipments-container container mt-3">

        <%# card-1 XRD %>
        <div class="equipment">

        <div class="card">
           <div class="equipment-img-wrap" >
            <div class="equipment-img">
                <div id="XRD-images" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/XRD1.png" class="equipment-img-tag d-block w-100 card-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/RS_Result.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/XRDCompare.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#XRD-images" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#XRD-images" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
         </div>
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">XRD</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->
                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_xrd_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_xrd_path(id:current_user.id), class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_xrd_path(id:current_user.id), class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>


      <div class="equipment">
      <%# card-2 HR-FESEM [Carl Zeiss]b%>
      <div class="card">
          <div class="equipment-img-wrap" >
            <div class="equipment-img">
                <div id="hrfesemc-images" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/Fesem1.png" class="equipment-img-tag d-block w-100 card-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/FESEM-1.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/FESEM-2.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                      <!--  <div class="carousel-item">
                            <video src="https://crf.nitk.ac.in/images/FESEM-2.png" class="equipment-img-tag d-block w-100 card-img" alt="..." autoplay >
                        </div>   -->
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#hrfesemc-images" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#hrfesemc-images" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
         </div>
          <div class="card-body">
              <div id="more">
                  <h5 class="card-title fw-bold">HR-FESEM [Carl Zeiss]</h5>
                  <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                  <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                status-active is for avtive state
                                                status-undermaintainance is for maintainance state
                                                status-unavailable for unavailable state -->
              </div>

              <span class="fw-bold">Located At</span>
              <p class="card-text text-muted"> CRF Annexe - G01</p>

              <div class="wrap-action">
                  <%= link_to "Know More", know_hr_fesem_carl_path ,class:"btn btn-primary know-more"%>
                  <div class="dropdown book">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Book Slot
                      </button>

                      <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot",  new_hr_fesem_c_path(id:current_user.id), class:"book-dropdown dropdown-item" %> </li>
                            <li> <%= link_to "Express Slot",  new_hr_fesem_c_path(id:current_user.id), class:"book-dropdown dropdown-item" %> </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-footer">
          <div class="card-footer-express">
              <small class="text-muted card-footer-express">Express Slot:</small>
              <div class="badge badge-success badge-outlined">Available</div>
              <div class="badge badge-warning badge-outlined">Not Available</div>
            </div>
         </div>
        </div>
      </div>


      <div class="equipment">
        <%# card-3 HR-FESEM [Jeol] %>
        <div class="card">
            <!--<img src="https://crf.nitk.ac.in/images/Sem_2.jpg" class="card-img-top" alt="..." id="card-img"> -->
            <div class="equipment-img-wrap" >
            <div class="equipment-img">
                <div id="hrfesemj-images" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/Sem_2.jpg" class="equipment-img-tag d-block w-100 card-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/Sem_1.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#hrfesemj-images" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#hrfesemj-images" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
         </div>


            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">HR-FESEM [Jeol]</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_hr_fesem_jeol_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_hr_fesem_j_path, class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_hr_fesem_j_path, class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
        </div>


        <div class="equipment">
        <%# card-4 3-D Non Contact Profilometer%>
        <div class="card">
           <div class="equipment-img-wrap" >
            <div class="equipment-img">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/Profilelo2.png" class="equipment-img-tag d-block w-100 card-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/Pflo_3.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/Depth%20Profile.jpg" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/Profilelo1.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
         </div>
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">3-D Non Contact Profilometer</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_three_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_three_d_non_contact_path, class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_three_d_non_contact_path, class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>


    <div class="equipment">
      <%# card-5 Raman Spectrometer with PL %>
      <div class="card">
          <div class="equipment-img-wrap" >
            <div class="equipment-img">
                <div id="raman-images" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/XRD1.png" class="equipment-img-tag d-block w-100 card-img" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/RS_Result.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/XRDCompare.png" class="equipment-img-tag d-block w-100 card-img" alt="..." >
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#raman-images" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#raman-images" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
         </div>
          <div class="card-body">
              <div id="more">
                  <h5 class="card-title fw-bold">Raman Spectrometer with PL</h5>
                  <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                  <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                status-active is for avtive state
                                                status-undermaintainance is for maintainance state
                                                status-unavailable for unavailable state -->
              </div>

              <span class="fw-bold">Located At</span>
              <p class="card-text text-muted"> CRF Annexe - G01</p>

              <div class="wrap-action">
                  <%= link_to "Know More", know_raman_path ,class:"btn btn-primary know-more"%>
                  <div class="dropdown book">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Book Slot
                      </button>

                      <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot", new_raman_microscope_path, class:"book-dropdown dropdown-item" %> </li>
                            <li> <%= link_to "Express Slot", new_raman_microscope_path, class:"book-dropdown dropdown-item" %> </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="card-footer-express">
                  <small class="text-muted card-footer-express">Express Slot:</small>
                  <div class="badge badge-success badge-outlined">Available</div>
                  <div class="badge badge-warning badge-outlined">Not Available</div>
              </div>
          </div>
      </div>
    </div>


    <div class="equipment">
      <%# card-6 TGA-FTIR %>
      <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <div id="more">
                  <h5 class="card-title fw-bold">TGA-FTIR</h5>
                  <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                  <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                status-active is for avtive state
                                                status-undermaintainance is for maintainance state
                                                status-unavailable for unavailable state -->
              </div>

              <span class="fw-bold">Located At</span>
              <p class="card-text text-muted"> CRF Annexe - G01</p>

              <div class="wrap-action">
                  <%= link_to "Know More", know_tga_path ,class:"btn btn-primary know-more"%>
                  <div class="dropdown book">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Book Slot
                      </button>

                      <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot", new_tga_fttr_path, class:"book-dropdown dropdown-item" %> </li>
                            <li> <%= link_to "Express Slot", new_tga_fttr_path, class:"book-dropdown dropdown-item" %> </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="card-footer-express">
                  <small class="text-muted card-footer-express">Express Slot:</small>
                  <div class="badge badge-success badge-outlined">Available</div>
                  <div class="badge badge-warning badge-outlined">Not Available</div>
              </div>
          </div>
      </div>
      </div>


      <div class="equipment">
         <%# card-7 BET Surface Area Analyzer%>
         <div class="card">
             <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
             <div class="card-body">
                 <div id="more">
                     <h5 class="card-title fw-bold">BET Surface Area Analyzer</h5>
                     <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                     <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                   status-active is for avtive state
                                                   status-undermaintainance is for maintainance state
                                                   status-unavailable for unavailable state -->
                 </div>

                 <span class="fw-bold">Located At</span>
                 <p class="card-text text-muted"> CRF Annexe - G01</p>

                 <div class="wrap-action">
                     <%= link_to "Know More", know_bet_path ,class:"btn btn-primary know-more"%>
                     <div class="dropdown book">
                         <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                             Book Slot
                         </button>

                         <ul class="dropdown-menu">
                               <li> <%= link_to "Regular Slot", new_bet_path, class:"book-dropdown dropdown-item" %> </li>
                               <li> <%= link_to "Express Slot", new_bet_path, class:"book-dropdown dropdown-item" %> </li>
                         </ul>
                     </div>
                 </div>
             </div>
             <div class="card-footer">
                 <div class="card-footer-express">
                     <small class="text-muted card-footer-express">Express Slot:</small>
                     <div class="badge badge-success badge-outlined">Available</div>
                     <div class="badge badge-warning badge-outlined">Not Available</div>
                 </div>
             </div>
         </div>
      </div>


      <div class="equipment">
        <%# card-8 HR-LCMS %>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">HR-LCMS</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_hr_lcms_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_hrlcm_path, class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_hrlcm_path, class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>



    <div class="equipment">
       <%# card-9 UV-Vis-NIR%>
       <div class="card">
           <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
           <div class="card-body">
               <div id="more">
                   <h5 class="card-title fw-bold">UV-Vis-NIR</h5>
                   <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                   <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                 status-active is for avtive state
                                                 status-undermaintainance is for maintainance state
                                                 status-unavailable for unavailable state -->
               </div>

               <span class="fw-bold">Located At</span>
               <p class="card-text text-muted"> CRF Annexe - G01</p>

               <div class="wrap-action">
                   <%= link_to "Know More", know_uv_vis_path ,class:"btn btn-primary know-more"%>
                   <div class="dropdown book">
                       <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Book Slot
                       </button>

                       <ul class="dropdown-menu">
                             <li> <%= link_to "Regular Slot", new_uv_vis_nir_path, class:"book-dropdown dropdown-item" %> </li>
                             <li> <%= link_to "Express Slot", new_uv_vis_nir_path, class:"book-dropdown dropdown-item" %> </li>
                       </ul>
                   </div>
               </div>
           </div>
           <div class="card-footer">
               <div class="card-footer-express">
                   <small class="text-muted card-footer-express">Express Slot:</small>
                   <div class="badge badge-success badge-outlined">Available</div>
                   <div class="badge badge-warning badge-outlined">Not Available</div>
               </div>
           </div>
       </div>
   </div>




   <div class="equipment">
           <%# card-11 Cell-Imaging MultiMode Reader%>
           <div class="card">
               <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
               <div class="card-body">
                   <div id="more">
                       <h5 class="card-title fw-bold">Cell-Imaging MultiMode Reader</h5>
                       <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                       <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                     status-active is for avtive state
                                                     status-undermaintainance is for maintainance state
                                                     status-unavailable for unavailable state -->
                   </div>

                   <span class="fw-bold">Located At</span>
                   <p class="card-text text-muted"> CRF Annexe - G01</p>

                   <div class="wrap-action">
                       <%= link_to "Know More", know_cell_imaging_path ,class:"btn btn-primary know-more"%>
                       <div class="dropdown book">
                           <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                               Book Slot
                           </button>

                           <ul class="dropdown-menu">
                                 <li> <%= link_to "Regular Slot", new_cell_imaging_path, class:"book-dropdown dropdown-item" %> </li>
                                 <li> <%= link_to "Express Slot", new_cell_imaging_path, class:"book-dropdown dropdown-item" %> </li>
                           </ul>
                       </div>
                   </div>
               </div>
               <div class="card-footer">
                   <div class="card-footer-express">
                       <small class="text-muted card-footer-express">Express Slot:</small>
                       <div class="badge badge-success badge-outlined">Available</div>
                       <div class="badge badge-warning badge-outlined">Not Available</div>
                   </div>
               </div>
           </div>
       </div>


       <div class="equipment">
        <%# card-12 Atomic Force Microscope%>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">Atomic Force Microscope</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_atomic_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_atomic_force_microscope_path, class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_atomic_force_microscope_path, class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>

    <div class="equipment">
        <%# card-13 FT-NMR%>
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold">FT-NMR</h5>
                    <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> CRF Annexe - G01</p>

                <div class="wrap-action">
                    <%= link_to "Know More", know_ft_nmr_path ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                              <li> <%= link_to "Regular Slot", new_ft_nmr_path, class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_ft_nmr_path, class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>


    <div class="equipment">
      <%# card-14 ICP-MS%>
      <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <div id="more">
                  <h5 class="card-title fw-bold">ICP-MS</h5>
                  <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                  <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                status-active is for avtive state
                                                status-undermaintainance is for maintainance state
                                                status-unavailable for unavailable state -->
              </div>

              <span class="fw-bold">Located At</span>
              <p class="card-text text-muted"> CRF Annexe - G01</p>

              <div class="wrap-action">
                  <%= link_to "Know More", know_icp_ms_path ,class:"btn btn-primary know-more"%>
                  <div class="dropdown book">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Book Slot
                      </button>

                      <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot", new_icp_m_path, class:"book-dropdown dropdown-item" %> </li>
                            <li> <%= link_to "Express Slot", new_icp_m_path, class:"book-dropdown dropdown-item" %> </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="card-footer-express">
                  <small class="text-muted card-footer-express">Express Slot:</small>
                  <div class="badge badge-success badge-outlined">Available</div>
                  <div class="badge badge-warning badge-outlined">Not Available</div>
              </div>
          </div>
      </div>
  </div>

  <div class="equipment">
      <%# card-15 Advance Modular Rheometer%>
      <div class="card">
          <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
          <div class="card-body">
              <div id="more">
                  <h5 class="card-title fw-bold">Advance Modular Rheometer</h5>
                  <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                  <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                status-active is for avtive state
                                                status-undermaintainance is for maintainance state
                                                status-unavailable for unavailable state -->
              </div>

              <span class="fw-bold">Located At</span>
              <p class="card-text text-muted"> CRF Annexe - G01</p>

              <div class="wrap-action">
                  <%= link_to "Know More", know_advance_mod_rheo_path ,class:"btn btn-primary know-more"%>
                  <div class="dropdown book">
                      <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Book Slot
                      </button>

                      <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot", new_advance_molecular_rheometer_path, class:"book-dropdown dropdown-item" %> </li>
                            <li> <%= link_to "Express Slot", new_advance_molecular_rheometer_path, class:"book-dropdown dropdown-item" %> </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="card-footer">
              <div class="card-footer-express">
                  <small class="text-muted card-footer-express">Express Slot:</small>
                  <div class="badge badge-success badge-outlined">Available</div>
                  <div class="badge badge-warning badge-outlined">Not Available</div>
              </div>
          </div>
      </div>
  </div>


  <div class="equipment">
    <%# card-16 Ion Chromatography%>
    <div class="card">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <div id="more">
                <h5 class="card-title fw-bold">Ion Chromatography</h5>
                <span class="badge rounded-pill status-active">Active</span> <!--for time being active state is set -->

                <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                              status-active is for avtive state
                                              status-undermaintainance is for maintainance state
                                              status-unavailable for unavailable state -->
            </div>

            <span class="fw-bold">Located At</span>
            <p class="card-text text-muted"> CRF Annexe - G01</p>

            <div class="wrap-action">
                <%= link_to "Know More", know_ion_chromatography_path ,class:"btn btn-primary know-more"%>
                <div class="dropdown book">
                    <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Book Slot
                    </button>

                    <ul class="dropdown-menu">
                          <li> <%= link_to "Regular Slot", new_ion_chromotography_path, class:"book-dropdown dropdown-item" %> </li>
                          <li> <%= link_to "Express Slot", new_ion_chromotography_path, class:"book-dropdown dropdown-item" %> </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer-express">
                <small class="text-muted card-footer-express">Express Slot:</small>
                <div class="badge badge-success badge-outlined">Available</div>
                <div class="badge badge-warning badge-outlined">Not Available</div>
            </div>
        </div>
    </div>
</div>
<script>
const ele1="<%= @user.firstname %> "
    const ele = "<%=@user.lastname %> " ;
var element = document.getElementById("maithili").innerHTML= ele1+ele[0];

const searchInput = document.getElementById("searchInput");

  // store name elements in array-like object
  const namesFromDOM = document.getElementsByClassName("equipment");

  // listen for user events
  searchInput.addEventListener("keyup", (event) => {
      const { value } = event.target;

      // get user search input converted to lowercase
      const searchQuery = value.toLowerCase();

      for (const nameElement of namesFromDOM) {
          // store name text and convert to lowercase
          let name = nameElement.textContent.toLowerCase();

          // compare current name to search input
          if (name.includes(searchQuery)) {
              // found name matching search, display it
              nameElement.style.display = "block";
          } else {
              // no match, don't display name
              nameElement.style.display = "none";
          }
      }
  });


</script>
