<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "dashboard"%>
<%=render "partials/loginHeading"%>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div id="search-div">
        <form class="d-flex" role="search">
          <input class="form-control me-2 font-quicksand" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>

      <div id="profile-div">
        <div class="btn-group btn-profile">
          <%= link_to "My Profile", edit_user_registration_path ,class:"btn btn-outline-warning profile-dropdown"%>
          <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu font-quicksand">
            <div>
              <p class="text-muted" id="profile-dropdown-info">Signed in as<p>
              <a class="dropdown-item" href="#">UserName</a>
            </div>
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">My Slots</a></li>
            <%# <li><a class="dropdown-item" href="#">Records</a></li> %>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div class="equipments-container container mt-3">
  <% @equipments = Equipment.all.map do |equipment| %>
        <div class="equipment">
        <div class="card">
            <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Freezed_XRD.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <div id="more">
                    <h5 class="card-title fw-bold"><%= equipment.name %></h5>
                    <span class="badge rounded-pill status-active"><%= equipment.status %></span> <!--for time being active state is set -->

                    <!--Put conditions such that one of the classes gets added to the class list of the above span tag:
                                                  status-active is for avtive state
                                                  status-undermaintainance is for maintainance state
                                                  status-unavailable for unavailable state -->
                </div>

                <span class="fw-bold">Located At</span>
                <p class="card-text text-muted"> <%= equipment.location %></p>

                <div class="wrap-action">
                    <%= link_to "Know More", forms_know_path(id:equipment.id) ,class:"btn btn-primary know-more"%>
                    <div class="dropdown book">
                        <button class="btn btn-outline-warning dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Book Slot
                        </button>

                        <ul class="dropdown-menu">
                            <li> <%= link_to "Regular Slot", new_answer_path(id:equipment.id), class:"book-dropdown dropdown-item" %> </li>
                              <li> <%= link_to "Express Slot", new_answer_path(id:equipment.id), class:"book-dropdown dropdown-item" %> </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="card-footer-express">
                    <small class="text-muted card-footer-express">Express Slot:</small>
                    <div class="badge badge-success badge-outlined">Available</div>
                    <div class="badge badge-warning badge-outlined">Not Available</div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>



<%=render "partials/footer" %>
