<%= stylesheet_link_tag "myslots"%>
<%= stylesheet_link_tag "loginFeatures"%>

<!-- if slot completed
  <span class="badge rounded-pill text-bg-secondary" id="badge2">Completed</span>
-->
<!-- if slot pending
  <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
-->
<!-- if slot cancelled
  <span class="badge rounded-pill text-bg-danger" id="badge2">Cancelled</span>
-->
<!-- if slot allotted
  <span class="badge rounded-pill text-bg-success" id="badge2">Allotted</span>
-->

<!--assigning border color to card based on slot booking status-->

<%=render "partials/loginHeading" %>
<h1 class="myslots-heading">My Slots</h1>

<% @user.xrds.each do |user_xrd| %>
<div class="card-cont">
  <div class="mscard">
    <div class=container1>
      <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
    </div>
    <div class="mscontainer">
        <div class="msleft-child">
          <span>Equipment</span>
          <span class="details">XRD</span>
          <span>Application No</span>
          <span class="details">CRF/XRD/<%=user_xrd.id %>	</span>
        </div>
        <div class="msmiddle-child">
          <span>Booking Status</span>
          <span class="details"><%=user_xrd.status %></span>
          <span>Assigned On</span>
          <span class="details"><%=user_xrd.slotdate %></span>
        </div>
        <div class="msright-child">
          <h4>PAYMENT</h4>
          <div class="wrapper3">
              <div class="link-wrapper3">
  
                <%= link_to "Download", slot_mailer_xrd_path(format: :pdf,anish:user_xrd.id , maithu:@user.id),id:"button2"%>
              </div>
          </div>
        </div>
      </div>
    </div>
</div>
<% end %>
<%@user.ansies.each do |user_ansy| %>
  <div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
    <div class="mscontainer">
      <div class="msleft-child">
        <span>Equipment</span>
        <span class="details">Ansys</span>
        <span>Application No</span>
        <span class="details">CRF/ANSY/<%=user_ansy.id %></span>
      </div>
      <div class="msmiddle-child">
        <span>Booking Status</span>
        <span class="details"><%=user_ansy.status %></span>
        <span>Assigned On</span>
        <span class="details"><%=user_ansy.slotdate %></span>
      </div>
      <div class="msright-child">
        <h4>PAYMENT</h4>
        <div class="wrapper3">
            <div class="link-wrapper3">
              <%= button_to 'View',home_developer_path,id:"button2"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% @user.bets.each do |user_bet| %>
<div class="card-cont">
  <div class="mscard">
    <div class=container1>
      <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
    </div>
    <div class="mscontainer">
      <div class="msleft-child">
        <span >Equipment</span>
        <span class="details">BET</span>
        <span>Application No</span>
        <span class="details">CRF/BET/<%=user_bet.id %></span>
      </div>
      <div class="msmiddle-child">
        <span>Booked On</span>
        <span class="details"><%=user_bet.status %></span>
        <span>Assigned On</span>
        <span class="details"><%=user_bet.slotdate %></span>
      </div>
      <div class="msright-child">
        <h4>PAYMENT</h4>
        <div class="wrapper3">
            <div class="link-wrapper3">
              <%= link_to "Download", slot_mailer_bet_path(format: :pdf,anish:user_bet.id , maithu:@user.id),id:"button2"%>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% @user.atomic_force_microscope.each do |atomic_force_microscope| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Atomic Force Microscope</span>
      <span>Application No</span>\
      <span class="details">CRF/ATOMIC/<%=atomic_force_microscope.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=atomic_force_microscope.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=atomic_force_microscope.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= button_to 'View',home_developer_path,id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% @user.ball_mailings.each do |ball_mailing| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Ball Milling </span>
      <span>Application No</span>
      <span class="details">CRF/BALL/<%=ball_mailing.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=ball_mailing.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=ball_mailing.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_ball_mailing_path(format: :pdf,anish:ball_mailing.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.cell_imaging.each do |cell_imaging| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Cell Imaging </span>
      <span >Application No</span>
      <span class="details">CRF/CELL/<%=cell_imaging.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=cell_imaging.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=cell_imaging.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_cell_imaging_path(format: :pdf,anish:cell_imaging.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.electro_chemical.each do |electro_chemical| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Electro Chemical Polishing</span>
      <span>Application No</span>
      <span class="details">CRF/ELECTRO/<%=electro_chemical.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=electro_chemical.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=electro_chemical.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_electro_chemical_path(format: :pdf,anish:electro_chemical.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.five_axi.each do |five_axi| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">5-Axes CNC</span>
      <span>Application No</span>
      <span class="details">CRF/Five Axis/<%=five_axi.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=five_axi.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=five_axi.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_five_axi_path(format: :pdf,anish:five_axi.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.frictions.each do |friction| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Friction</span>
      <span>Application No</span>
      <span class="details">CRF/FRIC/<%=friction.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=friction.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=friction.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_friction_path(format: :pdf,anish:friction.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.ft_nms.each do |ft_nm| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">FT-NMR</span>
      <span>Application No</span>
      <span class="details">CRF/ftnmr/<%=ft_nm.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=ft_nm.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=ft_nm.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_ftnmr_path(format: :pdf,anish:ft_nm.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.gaits.each do |gait| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Gait</span>
      <span>Application No</span>
      <span class="details">CRF/GAIT/<%=gait.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=gait.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=gait.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_gait_path(format: :pdf,anish:gait.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.gas_sensing.each do |gas_sensing| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Gas Sensing</span>
      <span>Application No</span>
      <span class="details">CRF/GAS/<%=gas_sensing.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=gas_sensing.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=gas_sensing.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_gas_sensing_path(format: :pdf,anish:gas_sensing.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.glove_box.each do |glove_box| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Glove Box</span>
      <span >Application No</span>
      <span class="details">CRF/GLOVE/<%=glove_box.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=glove_box.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=glove_box.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_glove_box_path(format: :pdf,anish:glove_box.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.glows.each do |glow| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Glow</span>
      <span>Application No</span>
      <span class="details">CRF/GLOW/<%=glow.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=glow.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=glow.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_glow_path(format: :pdf,anish:glow.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.grindings.each do |grinding| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">Grindings</span>
      <span>Application No</span>
      <span class="details">CRF/GRIND/<%=grinding.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=grinding.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=grinding.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_grinding_path(format: :pdf,anish:grinding.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.high_temp_vaccum.each do |high_temp_vaccum| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment:</span>
      <span class="details">High Temp Vaccum</span>
      <span>Application No</span>
      <span class="details">CRF/HIGHVACCUM/<%=high_temp_vaccum.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=high_temp_vaccum.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=high_temp_vaccum.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_high_temp_vaccum_path(format: :pdf,anish:high_temp_vaccum.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.hr_fesem_cs.each do |hr_fesem_c| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">HR FESEM C</span>
      <span>Application No</span>
      <span class="details">CRF/fesemc/<%=hr_fesem_c.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=hr_fesem_c.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=hr_fesem_c.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_hr_fesem_c_path(format: :pdf,anish:hr_fesem_c.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.hr_fesem_js.each do |hr_fesem_j| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment:</span>
      <span class="details">HR FESEM J </span>
      <span>Application No</span>
      <span class="details">CRF/FESEMJ/<%=hr_fesem_j.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=hr_fesem_j.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=hr_fesem_j.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_hr_fesem_j_path(format: :pdf,anish:hr_fesem_j.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.hrlcms.each do |hrlcms| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment:</span>
      <span class="details">HR LCMS </span>
      <span>Application No</span>
      <span class="details">CRF/LCMS/<%=hrlcms.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=hrlcms.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=hrlcms.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_hr_lcm_path(format: :pdf,anish:hrlcms.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.icp_ms.each do |icp_ms| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span class="equip-heading">Equipment</span>
      <span>ICP MS</span>
      <span>Application No</span>
      <span>CRF/ICP/<%=icp_ms.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=icp_ms.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=icp_ms.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_icp_m_path(format: :pdf,anish:icp_ms.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.impedance_analy.each do |impedence_analy| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">IMPEDENCDE ANALYSER </span>
      <span>Application No</>
      <span class="details">CRF/IMPED/<%=impedence_analy.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=impedence_analy.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=impedence_analy.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_impedence_analyzer_path(format: :pdf,anish:impedence_analy.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.integrated_multi_role_tester.each do |integrated_multi_role_tester| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">INTEGRATED MULTI ROLE TESTER</span>
      <span>Application No</span>
      <span class="details">CRF/INTEGRATED/<%=integrated_multi_role_tester.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=integrated_multi_role_tester.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=integrated_multi_role_tester.slotdate %></span>
    </div>
    <div class="msright-child">
      <span>PAYMENT</span>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_integrated_multi_role_tester_path(format: :pdf,anish:integrated_multi_role_tester.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.ion_chromotography.each do |ion_chromotography| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">ION CHROMATOGRAPHY </span>
      <span>Application No</span>
      <span class="details">CRF/IONC/<%=ion_chromotography.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=ion_chromotography.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=ion_chromotography.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_ion_chromatography_path(format: :pdf,anish:ion_chromotography.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.laser.each do |laser| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">LASER </span>
      <span>Application No</span>
      <span class="details">CRF/LASER/<%=laser.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=laser.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=laser.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_laser_path(format: :pdf,anish:laser.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.liquid_nitrogen.each do |liquid_nitrogen| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">LIQUID NITROGEN </span>
      <span>Application No</span>
      <span class="details">CRF/NITROGEN/<%=liquid_nitrogen.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=liquid_nitrogen.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=liquid_nitrogen.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_liquid_nitrogen_path(format: :pdf,anish:liquid_nitrogen.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.low_fatigues.each do |low_fatigue| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>

  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">LOW FATIGUE</span>
      <span>Application No</span>
      <span class="details">CRF/LOW/<%=low_fatigue.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=low_fatigue.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=low_fatigue.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_low_fatigue_path(format: :pdf,anish:low_fatigue.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.micro_edms.each do |micro_edm| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">MICRO EDM </span>
      <span>Application No</span>
      <span class="details">CRF/micro/<%=micro_edm.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=micro_edm.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=micro_edm.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_micro_edm_path(format: :pdf,anish:micro_edm.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.milli_q.each do |milli_q| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">MILLI Q </span>
      <span>Application No</span>
      <span class="details">CRF/MILLI/<%=milli_q.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=milli_q.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=milli_q.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_micro_edm_path(format: :pdf,anish:milli_q.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.multi_impact_testers.each do |multi_impact_tester| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span>MULTI IMPACT TESTER </span>
      <span>Application No</span>
      <span>CRF/multi/<%=multi_impact_tester.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=multi_impact_tester.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=multi_impact_tester.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_multi_impact_tester_path(format: :pdf,anish:multi_impact_tester.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.probe_sonicator.each do |probe_sonicator| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">PROBE SONICATOR </span>
      <span>Application No</span>
      <span class="details">CRF/PROBE/<%=probe_sonicator.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=probe_sonicator.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=probe_sonicator.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_probe_sonicator_path(format: :pdf,anish:probe_sonicator.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.raman_microscope.each do |raman_microscope| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span class="equip-heading">Equipment:</span>
      <span class="details">RAMAN MICROSCOPE</span>
      <span>Application No</span>
      <span class="details">CRF/RAMAN/<%=raman_microscope.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=raman_microscope.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=raman_microscope.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_raman_microscope_path(format: :pdf,anish:raman_microscope.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.scratch_indentations.each do |scratch_indentation| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">SCRATCH INDENTATION</span>
      <span>Application No</span>
      <span class="details">CRF/SCRATCH/<%=scratch_indentation.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=scratch_indentation.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=scratch_indentation.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_scratch_indentation_path(format: :pdf,anish:scratch_indentation.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.spark_o.each do |spark_o| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">SPARK OS </span>
      <span>Application No</span>
      <span class="details">CRF/SPARK/<%=spark_o.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=spark_o.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=spark_o.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_spark_o_path(format: :pdf,anish:spark_o.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.spectro_radio_meter.each do |spectro_radio_meter| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">SPECTRO RADIO METER </span>
      <span>Application No</span>
      <span class="details">CRF/SPECTRO/<%=spectro_radio_meter.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=spectro_radio_meter.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=spectro_radio_meter.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_spectro_radio_meter_path(format: :pdf,anish:spectro_radio_meter.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.tga_fttr.each do |tga_fttr| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">TGA-FTTR </span>
      <span>Application No</span>
      <span class="details">CRF/TGAFTIR/<%=tga_fttr.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=tga_fttr.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=tga_fttr.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_tga_fttr_path(format: :pdf,anish:tga_fttr.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.three_d_non_contacts.each do |three_d_non_contact| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span class="equip-heading">Equipment</span>
      <span class="details">3D NON-CONTACT PROFILOMETER </span>
      <span>Application No</span>
      <span class="details">CRF/THREESCAN/<%=three_d_non_contact.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=three_d_non_contact.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=three_d_non_contact.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_three_d_non_contact_path(format: :pdf,anish:three_d_non_contact.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.three_d_scanner.each do |three_d_scanner| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">3D SCANNER </span>
      <span>Application No</span>
      <span class="details">CRF/THREESCAN/<%=three_d_scanner.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</h4>
      <span class="details"><%=three_d_scanner.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=three_d_scanner.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_three_d_scanner_path(format: :pdf,anish:three_d_scanner.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.tribometers.each do |tribometer| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">TRIBOMETER </span>
      <span>Application No</span>
      <span class="details">CRF/trib/<%=tribometer.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=tribometer.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=tribometer.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_tribometer_path(format: :pdf,anish:tribometer.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.ultra_centrifuge.each do |ultracentrifuge| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">ULTRA CENTRIFUGE</span>
      <span>Application No</span>
      <span class="details">CRF/CENTRIFUGE/<%=ultracentrifuge.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=ultracentrifuge.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=ultracentrifuge.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_ultra_centrifuge_path(format: :pdf,anish:ultracentrifuge.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.uv_vis_nir.each do |uv_vis_nir| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">UV VIS NIR </span>
      <span>Application No</span>
      <span class="details">CRF/UV/<%=uv_vis_nir.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=uv_vis_nir.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=uv_vis_nir.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_uv_vis_nir_path(format: :pdf,anish:uv_vis_nir.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @user.zeta_potential_size.each do |zeta_potential_size| %>
<div class="mscard">
  <div class=container1>
    <span class="badge rounded-pill text-bg-warning" id="badge2">Pending</span>
  </div>
  <div class="mscontainer">
    <div class="msleft-child">
      <span>Equipment</span>
      <span class="details">ZETA POTENTIAL <%=zeta_potential_size.id %></span>
      <span>Application No</span>
      <span class="details">CRF/Zeta Potential Sizes/<%=zeta_potential_size.id %></span>
    </div>
    <div class="msmiddle-child">
      <span>Booked On</span>
      <span class="details"><%=zeta_potential_size.status %></span>
      <span>Assigned On</span>
      <span class="details"><%=zeta_potential_size.slotdate %></span>
    </div>
    <div class="msright-child">
      <h4>PAYMENT</h4>
      <div class="wrapper3">
          <div class="link-wrapper3">
            <%= link_to "Download", slot_mailer_zeta_potential_size_path(format: :pdf,anish:zeta_potential_size.id , maithu:@user.id),id:"button2"%>
          </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%=render "partials/footer" %>
