<p id="notice"><%= notice %></p>

<h1>Equiplists</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Calibrate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @equiplists.each do |equiplist| %>
      <tr>
        <td><%= equiplist.name %></td>
        <td><%= equiplist.status %></td>
        <td><%= equiplist.calibrate %></td>
        <td><%= link_to 'Show', equiplist %></td>
        <td><%= link_to 'Edit', edit_equiplist_path(equiplist) %></td>
        <td><%= link_to 'Destroy', equiplist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Equiplist', new_equiplist_path %>
