
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div id="search-div">
        <form class="d-flex" role="search">
          <input class="form-control me-2 font-quicksand" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>



      <div id="profile-div">
        <div class="btn-group btn-profile">
          <%= link_to "My Profile", edit_user_registration_path ,class:"btn btn-outline-warning profile-dropdown"%>
          <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu font-quicksand">
            <div>
              <p class="text-muted" id="profile-dropdown-info">Signed in as<p>
              <a class="dropdown-item" href="#">UserName</a>
            </div>
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">My Slots</a></li>
            <%# <li><a class="dropdown-item" href="#">Records</a></li> %>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>




<div class="container">
    <div id="equipment-name">
      <h1>Glove Box</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: glove_box) do |form| %>
        <% if glove_box.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(glove_box.errors.count, "error") %> prohibited this glove_box from being saved:</h2>

            <ul>
              <% glove_box.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    <div class="input-group mb-3">
      <%= form.label :weight,"Weight of sample" , class:"input-group-text" ,for:"sample-weight"%>
      <%= form.text_field :weight,class:"form-control", id:"sample-weight", placeholder:"" %>
      <%= form.label :weight,"gm" ,class:"input-group-text", for:"sample-weight"%>
    </div>

    <div class="input-group mb-3">
      <%= form.label :days,"No of days" ,class:"input-group-text",for:"sample-weight"%>
      <%= form.number_field :days,class:"form-control", id:"sample-weight" ,placeholder:"" %>
      <%= form.label :days,"days" ,class:"input-group-text", for:"sample-weight"%>
    </div>

    <div>
        <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
    </div>

    <div>
      <div>
          <%= form.label :toxicity, "SAFETY INFORMATION",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :toxicity, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Hazardous
            </div>
            <div class="form-check">
                  <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> Non-Hazardous
            </div>
        </div>
        <div>
          <%= form.label :carcinogenic, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :carcinogenic, 'Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Yes
            </div>
            <div class="form-check">
                  <%= form.radio_button :carcinogenic, 'No', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> No
            </div>
        </div>
    </div>


    <div class="input-group mb-3">
      <label class="input-group-text" for="incompatible">Whether incompatible with any material</label>
      <select class="form-select" id="incompatible">
        <option selected>Choose...</option>
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <%= form.text_field :incompatible,class:"form-control" ,id:"material_name" ,placeholder:"Name of Material with which it is incompatible if any" %>
    </div>
    <div class="input-group mb-3" id="ref-file">
      <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
      <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
    </div>



    <div class="input-group mb-3">
    <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
    <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
  </div>



    <div id="instruct">
        <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
    </div>


    <div class="input-group mb-3">
      <%= form.text_field :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
    </div>

    <div class="actions">
      <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
    </div>
  <% end %>
  </div>
</div>

<%=render "partials/footer" %>
