<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @glove_box.weight %>
</p>

<p>
  <strong>Days:</strong>
  <%= @glove_box.days %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @glove_box.toxicity %>
</p>

<p>
  <strong>Carcinogenic:</strong>
  <%= @glove_box.carcinogenic %>
</p>

<p>
  <strong>Incompatible:</strong>
  <%= @glove_box.incompatible %>
</p>

<p>
  <strong>More:</strong>
  <%= @glove_box.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @glove_box.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @glove_box.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @glove_box.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @glove_box.status %>
</p>

<%= link_to 'Edit', edit_glove_box_path(@glove_box) %> |
<%= link_to 'Back', glove_boxes_path %>
