
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>


<div class="container">
    <div id="equipment-name">
      <h1>UV-Vis-NIR Slot</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: uv_vis_nir) do |form| %>
        <% if uv_vis_nir.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(uv_vis_nir.errors.count, "error") %> prohibited this uv_vis_nir from being saved:</h2>

            <ul>
              <% uv_vis_nir.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

      <div class="input-group mb-3">
        <%= form.label :sample,"No of Samples", class:"input-group-text", for:"inputGroupSelect01" %>
        <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
      </div>

      <div class="input-group mb-3">
        <%= form.label :srange , "Start Range", class:"input-group-text", for:"inputGroupSelect03" %>
        <%= form.text_field :srange , type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"Min. 180" %>
        <%= form.label :srange , "nm", class:"input-group-text", for:"inputGroupSelect03" %>
      </div>


      <div class="input-group mb-3">
        <%= form.label :erange , "End Range", class:"input-group-text", for:"inputGroupSelect03" %>
        <%= form.text_field :erange , type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"Max. 3100"%>
        <%= form.label :erange , "nm", class:"input-group-text", for:"inputGroupSelect03" %>
      </div>

      <div>
        <div>
          <%= form.label :reflectance, "Measurement Required", class:"input-group-text", for:"inputGroupSelect02" %>
          <div class="form-check">
          <%= form.check_box :reflectance,{:class=>'form-check-input'}, true, false%>
          <%= form.label "Reflectance", class:"form-check-label", for:"flexCheckChecked"%>

          </div>
          <div class="form-check">
            <%= form.check_box :absorbance,{:checked=> true, :class=>'form-check-input'}, true, false%>
            <%= form.label "Absorbance", class:"form-check-label", for:"flexCheckChecked"%>
          </div>

          <div class="form-check">
            <%= form.check_box :transmittance,{:class=>'form-check-input'}, true, false%>
            <%= form.label "Transmittance", class:"form-check-label", for:"flexCheckChecked"%>
          </div>
      </div>


        <div class="input-group mb-3">
          <%= form.label :compositiion , "Sample Composition", class:"input-group-text", for:"inputGroupSelect03" %>
          <%= form.text_field :composition , type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"Ex: Ag dispersion" %>
        </div>


        <div class="input-group mb-3">
          <%= form.label :sampletype,"No of Samples", class:"input-group-text", for:"inputGroupSelect01" %>
          <%= form.select(:sampletype, ['Solid','Powder','Fabric/Polymer','Liquid Gel','Thin Film'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>


        <div>
          <%= form.label :toxicity, "SAFETY INFORMATION",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :toxicity, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Hazardous
            </div>
            <div class="form-check">
                  <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> Non-Hazardous
            </div>
        </div>


        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>
      <div id="instruct">
      <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
      </div>
        <div class="mb-3">
          <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>

        <div class="actions">
            <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>

    </div>
</div>



  


<% end %>





<%=render "partials/footer" %>

<script>
    let measurement = document.getElementById('measurement');
    let raman = document.getElementById('raman-select');
    let photo = document.getElementById('photo-select');
    let both = document.getElementById('both-select');

    measurement.addEventListener('click', () => {
        raman.classList.add('vis');
        photo.classList.add('vis');
        both.classList.add('vis');


      if (measurement.value == 'raman') {
        raman.classList.toggle('vis');
      }
      if (measurement.value == 'photoluminescence') {
        photo.classList.toggle('vis');
      }
      if (measurement.value == 'both') {
        both.classList.toggle('vis');
      }
    })



</script>
