<div id="<%= dom_id uv_vis_nir %>">
  <p>
    <strong>Sample:</strong>
    <%= uv_vis_nir.sample %>
  </p>

  <p>
    <strong>Srange:</strong>
    <%= uv_vis_nir.srange %>
  </p>

  <p>
    <strong>Erange:</strong>
    <%= uv_vis_nir.erange %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= uv_vis_nir.measurement %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= uv_vis_nir.composition %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= uv_vis_nir.toxicity %>
  </p>

  <p>
    <strong>Sampletype:</strong>
    <%= uv_vis_nir.sampletype %>
  </p>

  <p>
    <strong>More:</strong>
    <%= uv_vis_nir.more %>
  </p>

</div>
