<p style="color: green"><%= notice %></p>

<%= render @uv_vis_nir %>

<div>
  <%= link_to "Edit this uv vis nir", edit_uv_vis_nir_path(@uv_vis_nir) %> |
  <%= link_to "Back to uv vis nirs", uv_vis_nirs_path %>

  <%= button_to "Destroy this uv vis nir", @uv_vis_nir, method: :delete %>
</div>
