<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>Raman Microscope</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: raman_microscope) do |form| %>
        <% if raman_microscope.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(raman_microscope.errors.count, "error") %> prohibited this raman_microscope from being saved:</h2>

            <ul>
              <% raman_microscope.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <% if @slot_type=="regular"%>
        <div class="input-group mb-3">
          <%= form.label :sample,"No of Samples", class:"input-group-text", for:"inputGroupSelect01" %>
          <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type"}) %>
        </div>
          <%else%>
          <div id="instruct">
              <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
              <p class="text-danger"></p>
          </div>
          <div class="input-group mb-3">
            <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
            <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
          </div>
          <%end%>

        <div class="input-group mb-3">
          <%= form.label :measurement, "Measurement",class:"input-group-text",for:"measurement"%>
          <%= form.select(:measurement, ['Raman','Photoluminescence','Both'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "measurement"}) %>
       </div>
       <div class="input-group mb-3 vis" id="raman-select">
         <%= form.label :laser, "Laser to be used",class:"input-group-text", for:"laser-to-use"%>
         <%= form.select(:laser, ['Visible-532nm','Near Ir-785nm','Both(400-785nm)'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "laser-to-use"}) %>
       </div>
       <div class="input-group mb-3 vis" id="photo-select">
         <%= form.label :laser, "Laser to be used",class:"input-group-text text-primary", for:"laser-to-be-used"%>
         <%= form.select(:laser, ['Visible(532nm-1000nm)','NIR(785nm-1400nm)'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "laser-to-be-used"}) %>
       </div>
       <div class="input-group mb-3 vis" id="both-select">
         <%= form.label :laser, "Laser to be used",class:"input-group-text", for:"inputGroupSelect01"%>
       <%= form.select(:laser, ['Visible(532nm-1000nm)','NIR(785nm-1400nm)'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "inputGroupSelect01"}) %>
       </div>

        <div class="input-group mb-3">
          <%= form.label :stype, "Sample Type", class:"input-group-text", for:"inputGroupSelect01" %>
            <%= form.select(:stype, ['Solid','Powder','Fabric/Polymer','Liquid/Gel','Thin Film'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type"}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :description, "Sample Description", class:"input-group-text", for:"inputGroupSelect03" %>
          <%= form.text_field :description, type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"..." %>
        </div>

        <div>
            <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
        </div>


        <div>
          <%= form.label :toxicity, "Toxicity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :toxicity, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2"  %> Hazardous
            </div>
            <div class="form-check">
                  <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1" ,:checked => true %> Non-Hazardous
            </div>
        </div>


        <div>
          <%= form.label :Compatability, "Compatibility",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :Compatability, '  Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault2"  %> Corrossive
            </div>
            <div class="form-check">
                  <%= form.radio_button :Compatability, 'Non-Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault1" ,:checked => true %>Non-Corrossive
            </div>
        </div>

        <div>
          <%= form.label :carcinogenic, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :carcinogenic, ' Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2"  %> Yes
            </div>
            <div class="form-check">
                  <%= form.radio_button :carcinogenic, 'no', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true  %> No
            </div>
        </div>
        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select"}) %>
      </div>
      <div id="instruct">
      <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
       </div>


        <div class="mb-3">
          <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>

        <div class="actions">
            <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>






    </div>
</div>



<%=render "partials/footer" %>

<script>
    let measurement = document.getElementById('measurement');
    let raman = document.getElementById('raman-select');
    let photo = document.getElementById('photo-select');
    let both = document.getElementById('both-select');

    measurement.addEventListener('change', () => {
        raman.classList.add('vis');
        photo.classList.add('vis');
        both.classList.add('vis');


      if (measurement.value == 'raman') {
        raman.classList.toggle('vis');
      }
      if (measurement.value == 'photoluminescence') {
        photo.classList.toggle('vis');
      }
      if (measurement.value == 'both') {
        both.classList.toggle('vis');
      }
    })



</script>

<% end %>
