<div id="<%= dom_id raman_microscope %>">
  <p>
    <strong>Sample:</strong>
    <%= raman_microscope.sample %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= raman_microscope.measurement %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= raman_microscope.stype %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= raman_microscope.description %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= raman_microscope.toxicity %>
  </p>

  <p>
    <strong>Compatability:</strong>
    <%= raman_microscope.Compatability %>
  </p>

  <p>
    <strong>Carcinogenic:</strong>
    <%= raman_microscope.carcinogenic %>
  </p>

  <p>
    <strong>More:</strong>
    <%= raman_microscope.more %>
  </p>

</div>
