<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @electro_chemical.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @electro_chemical.composition %>
</p>

<p>
  <strong>Electrolyte:</strong>
  <%= @electro_chemical.electrolyte %>
</p>

<p>
  <strong>Application:</strong>
  <%= @electro_chemical.application %>
</p>

<p>
  <strong>More:</strong>
  <%= @electro_chemical.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @electro_chemical.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @electro_chemical.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @electro_chemical.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @electro_chemical.status %>
</p>

<%= link_to 'Edit', edit_electro_chemical_path(@electro_chemical) %> |
<%= link_to 'Back', electro_chemicals_path %>
