<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @multi_impact_tester.sample %>
</p>

<p>
  <strong>Stype:</strong>
  <%= @multi_impact_tester.stype %>
</p>

<p>
  <strong>Size:</strong>
  <%= @multi_impact_tester.size %>
</p>

<p>
  <strong>Measuerment:</strong>
  <%= @multi_impact_tester.measuerment %>
</p>

<p>
  <strong>Drop range:</strong>
  <%= @multi_impact_tester.drop_range %>
</p>

<p>
  <strong>Drop velocity:</strong>
  <%= @multi_impact_tester.drop_velocity %>
</p>

<p>
  <strong>Drop temp:</strong>
  <%= @multi_impact_tester.drop_temp %>
</p>

<p>
  <strong>Drop shape:</strong>
  <%= @multi_impact_tester.drop_shape %>
</p>

<p>
  <strong>Shpb lenght:</strong>
  <%= @multi_impact_tester.shpb_lenght %>
</p>

<p>
  <strong>Shpb temp:</strong>
  <%= @multi_impact_tester.shpb_temp %>
</p>

<p>
  <strong>Bullet velocity:</strong>
  <%= @multi_impact_tester.bullet_velocity %>
</p>

<p>
  <strong>Bullet shape:</strong>
  <%= @multi_impact_tester.bullet_shape %>
</p>

<p>
  <strong>Bird velocity:</strong>
  <%= @multi_impact_tester.bird_velocity %>
</p>

<p>
  <strong>Bird shape:</strong>
  <%= @multi_impact_tester.bird_shape %>
</p>

<p>
  <strong>More:</strong>
  <%= @multi_impact_tester.more %>
</p>

<p>
  <strong>Status:</strong>
  <%= @multi_impact_tester.status %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @multi_impact_tester.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @multi_impact_tester.slottime %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @multi_impact_tester.debit %>
</p>

<%= link_to 'Edit', edit_multi_impact_tester_path(@multi_impact_tester) %> |
<%= link_to 'Back', multi_impact_testers_path %>
