
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>

<div class="container">
  <div id="equipment-name">
    <h1>Book FESEM Slot [Jeol]</h1>
  </div>

  <%= form_with(model: hr_fesem_j) do |form| %>
    <% if hr_fesem_j.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(hr_fesem_j.errors.count, "error") %> prohibited this hr_fesem_j from being saved:</h2>

        <ul>
          <% hr_fesem_j.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class='hero'>
        <div class="input-group mb-3">
          <%= form.label :sample,"No of Sample", class:"input-group-text", for:"inputGroupSelect01"%>
          <%= form.select(:sample, ['One', 'Two','Three','Four','Five'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :composition, "Sample Composition", class:"input-group-text", for:"inputGroupSelect03" %>
          <%= form.text_field :composition, type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"Possible Elements" %>
        </div>

        <div class="input-group mb-3">
            <%= form.label :stype, "Sample Type", class:"input-group-text", for:"inputGroupSelect01"%>
            <%= form.select(:stype, ['Powder', 'Metal','Ceramic','Polymer'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :sphase,"Sample Phase", class:"input-group-text", for:"inputGroupSelect03" %>
          <%= form.text_field :sphase, class:"form-control", id:"inputGroupSelect03", placeholder:"Solid/ Powder/ Fibre/ Film/ etc.." %>
        </div>

        <div>
          <div>
            <%= form.label :measurement, "Measurement Required", class:"input-group-text", for:"inputGroupSelect02" %>
            <div class="form-check">
            <%= form.check_box :measurement,{}, true, false%>
            <%= form.label "SEM", class:"form-check-label", for:"flexCheckChecked"%>
            </div>
        </div>


        <div class="input-group mb-3">
          <label class="input-group-text" for="inputGroupSelect01f">EDS Required</label>
          <select class="form-select" id="inputGroupSelect01f">
            <option selected>Choose...</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
         <div>
              <label class="form-check-label fw-bold text-success" for="flexRadioDefault2">EDS:</label>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="eds" id="flexRadioDefault2" checked>
                  <label class="form-check-label" for="flexRadioDefault2">
                      Mapping/Line
                  </label>
              </div>
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="eds" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                      Area/Point
                  </label>
              </div>

              <div class="form-check">
                  <input class="form-check-input" type="radio" name="eds" id="flexRadioDefault1">
                  <label class="form-check-label" for="flexRadioDefault1">
                      Both
                  </label>
              </div>
                <div>
                  <p class="text-warning">Max. 3 sample for EDS - Mapping</p>
                </div>

          </div>

          <div class="input-group mb-3">
              <%= form.label :toxic, "Sample is toxic?",class:"input-group-text", for:"inputGroupSelect04" %>
              <%= form.select(:toxic, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
            </div>



            <div class="input-group mb-3">
              <%= form.label :conducting, "Sample is Conducting?",class:"input-group-text", for:"inputGroupSelect04" %>
              <%= form.select(:conducting, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
            </div>


            <div class="input-group mb-3" id="ref-file">
              <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
              <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
            </div>

          <div class="input-group mb-3">
              <%= form.text_field :more, class:"form-control", id:"maxdegreeInput", placeholder:"Tell us more about testing requirement"%>
          </div>

          <div class="actions">
            <%= form.submit "Book Slot", class:"btn btn-primary", id:"sbt" %>
          </div>
        </div>
      </div>

    </div>



  <%=render "partials/footer" %>

  <% end %>
