
<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
  <div id="equipment-name">
    <h1>Book FESEM Slot [Jeol]</h1>
  </div>

  <%= form_with(model: hr_fesem_j) do |form| %>
    <% if hr_fesem_j.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(hr_fesem_j.errors.count, "error") %> prohibited this hr_fesem_j from being saved:</h2>

        <ul>
          <% hr_fesem_j.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class='hero'>
        <div class="input-group mb-3">
          <%= form.label :sample,"No of Sample", class:"input-group-text", for:"inputGroupSelect01"%>
          <%= form.select(:sample, ['1', '2','3','4','5'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "no-of-sample",:required => true}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :composition, "Sample Composition", class:"input-group-text", for:"composition" %>
          <%= form.text_field :composition, type:"text", class:"form-control", id:"composition", placeholder:"Possible Elements" %>
        </div>

        <div class="input-group mb-3">
            <%= form.label :stype, "Sample Type", class:"input-group-text", for:"sample-type" %>
            <%= form.select(:stype, ['Powder', 'Metal','Ceramic','Polymer'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-type",:required => true}) %>
        </div>

        <div class="input-group mb-3">
          <%= form.label :sphase,"Sample Phase", class:"input-group-text", for:"phase" %>
          <%= form.text_field :sphase, class:"form-control", id:"phase", placeholder:"Solid/ Powder/ Fibre/ Film/ etc.." %>
        </div>

        <div>
          <div>
            <%= form.label :measurement, "Measurement Required", class:"input-group-text" %>
            <div class="form-check">
            <%= form.check_box :measurement,{}, true, false%>
            <%= form.label "SEM", class:"form-check-label" %>
            </div>
        </div>


        <div class="input-group mb-3">
          <label class="input-group-text" for="eds-reqd">EDS Required</label>
          <select class="form-select" id="eds-reqd">
            <option selected>Choose...</option>
            <option value="yes">Yes</option>
            <option value="no">No</option>
          </select>
        </div>
        <div id="eds-radio" class="vis">
          <%= form.label :eds_required, "EDS:",class:"form-check-label fw-bold text-success", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :eds_required, ' Mapping Line', class:"form-check-input", type:"radio", id:"map",:checked => true  %> Mapping Line
            </div>
            <div class="form-check">
                  <%= form.radio_button :eds_required, 'Area/Point', class:"form-check-input", type:"area", id:"area"  %> Area/Point
            </div>
            <div class="form-check">
                  <%= form.radio_button :eds_required, 'Both', class:"form-check-input", type:"area", id:"both"  %> Both
            </div>
            <div>
              <p class="text-warning">Max. 3 sample for EDS - Mapping</p>
            </div>
        </div>


          <div class="input-group mb-3">
              <%= form.label :toxic, "Sample is toxic?",class:"input-group-text", for:"toxic" %>
              <%= form.select(:toxic, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "toxic",:required => true}) %>
            </div>



            <div class="input-group mb-3">
              <%= form.label :conducting, "Sample is Conducting?",class:"input-group-text", for:"conduct" %>
              <%= form.select(:conducting, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "conduct",:required => true}) %>
            </div>


            <div class="input-group mb-3" id="ref-file">
              <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
              <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
            </div>

          <div class="input-group mb-3">
              <%= form.text_field :more, class:"form-control", id:"maxdegreeInput", placeholder:"Tell us more about testing requirement"%>
          </div>

          <div class="actions">
            <%= form.submit "Book Slot", class:"btn btn-primary", id:"sbt" %>
          </div>
        </div>
      </div>

    </div>



  <%=render "partials/footer" %>

  <% end %>



  <script>

    let edsRequired = document.getElementById('eds-reqd');
    let edsRadio = document.getElementById('eds-radio');

    edsRequired.addEventListener('click', () => {
        edsRadio.classList.add('vis');

        if(edsRequired.value == 'yes'){
          edsRadio.classList.toggle('vis')
        }
    })

</script>
