<div id="<%= dom_id hr_fesem_j %>">
  <p>
    <strong>Sample:</strong>
    <%= hr_fesem_j.sample %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= hr_fesem_j.composition %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= hr_fesem_j.stype %>
  </p>

  <p>
    <strong>Sphase:</strong>
    <%= hr_fesem_j.sphase %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= hr_fesem_j.measurement %>
  </p>

  <p>
    <strong>Eds required:</strong>
    <%= hr_fesem_j.eds_required %>
  </p>

  <p>
    <strong>Toxic:</strong>
    <%= hr_fesem_j.toxic %>
  </p>

  <p>
    <strong>Conducting:</strong>
    <%= hr_fesem_j.conducting %>
  </p>

  <p>
    <strong>More:</strong>
    <%= hr_fesem_j.more %>
  </p>

</div>
