<p style="color: green"><%= notice %></p>

<%= render @hr_fesem_j %>

<div>
  <%= link_to "Edit this hr fesem j", edit_hr_fesem_j_path(@hr_fesem_j) %> |
  <%= link_to "Back to hr fesem js", hr_fesem_js_path %>

  <%= button_to "Destroy this hr fesem j", @hr_fesem_j, method: :delete %>
</div>
