

<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>


<div class="container">
  <div id="equipment-name">
    <h1>Ansys System Lab</h1>
  </div>
  <div class='hero'>
    <%= form_with(model: ansy) do |form| %>
      <% if ansy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(ansy.errors.count, "error") %> prohibited this ansy from being saved:</h2>

          <ul>
            <% ansy.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>





     <div class="input-group mb-3">
       <% batch = @batches.find { |b| b[:start_date] > Date.today } || @batches.last %>
     </div>
      <!-- <select id="date-select"></select> -->
    <div class="input-group mb-3">
      <%=form.label :startdate,"Select Date", class:"input-group-text" ,for:"start-date"%>
      <%= form.select :startdate, options_for_select(
  @batches.map { |batch|
    [batch[:name], batch[:dates].map { |date| [date.strftime('%Y-%m-%d'), date.to_s] }.flatten]
  }.to_h
  .merge({'Custom' => 'custom'})),
  { class: 'form-select', id: 'date-select'}, class:"input-group-text" %>
    </div>
    <div id="custom">
      <div class="input-group mb-3">
          <%=form.label :customstart,"Start Date", class:"input-group-text" ,for:"start-date"%>
        <%= form.select :customstart, options_for_select(@customisedbatches.map{ |batch| [batch[:name], batch[:start_date].strftime('%Y-%m-%d')] }),{:include_blank => 'Choose...'}, class:"input-group-text" %>
      </div>
      <div class="input-group mb-3">
        <%=form.label :customend,"End Date", class:"input-group-text" ,for:"end-date"%>
          <%= form.select :customend, options_for_select(@customisedend.map{ |batch| [batch[:name], batch[:end_date].strftime('%Y-%m-%d')] }),{:include_blank => 'Choose...'}, class:"input-group-text" %>
      </div>
      <button type="button" class="btn btn-success mb-3" id="confirm">Confirm</button>
    </div>

    <div id="standard-date">
      <div class="input-group mb-3">
        <label class="input-group-text" for="start">Start Date</label>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" id="start", readonly>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="end">End Date</label>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" id="end" readonly>
      </div>
      <div class="input-group mb-3">
        <label class="input-group-text" for="no-Days">Number of Days</label>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1" id="no-Days" readonly>
      </div>
      <div class="input-group mb-3">
        <%= form.label :sysno,"No of System Required", class:"input-group-text", for:"select-date"%>
        <%= form.select(:sysno, [1, 2,3,4,5], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "select-date",:required => true}) %>
      </div>
      <div class="input-group mb-3">
        <%= form.label :amount,"Bill Amount",class:"input-group-text",for:"amount" %>
        <%= form.text_field :amount ,class:"form-control" ,for:"amount"%>
        <%= form.label :amount,"₹",class:"input-group-text",for:"amount" %>
      </div>
      <div class="input-group mb-3">
        <%= form.text_area :purpose ,class:"form-control",placeholder:"Purpose of System"%>
        <!-- <input type="text-area" class="form-control" placeholder="Purpose of System" aria-label="Username" aria-describedby="basic-addon1" id="tell-more" rows="3"> -->
      </div>
    </div>
    <div class="input-group mb-3">
    <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
    <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
  </div>
  <div class="actions">
     <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>

    </div>
  </div>

</div>

<%=render "partials/footer" %>
<% end %>


  <script>
    let selectDate = document.getElementById('ansy_startdate');
    let confirm = document.getElementById('confirm');
    let standardDate = document.getElementById('standard-date');
    let custom = document.getElementById('custom');

    selectDate.addEventListener('click', ()=> {
        custom.classList.add('vis');
        standardDate.classList.remove('vis');


        if(selectDate.value == "Customized") {
          custom.classList.toggle('vis');
          standardDate.classList.add('vis');
        }
        if(selectDate.value =! "Customized") {
          standardDate.classList.remove('vis');
        }
    })
    confirm.addEventListener('click', ()=> {
        standardDate.classList.toggle('vis');
    })

</script>
