<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>


<div class="container">
    <div id="equipment-name">
      <h1>TGA-FTIR</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: tga_fttr) do |form| %>
        <% if tga_fttr.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(tga_fttr.errors.count, "error") %> prohibited this tga_fttr from being saved:</h2>

            <ul>
              <% tga_fttr.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>



        <div class="input-group mb-3">
          <%= form.label :sample,"No of Samples", class:"input-group-text", for:"inputGroupSelect01" %>
          <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>


        <div class="input-group mb-3">
          <%= form.label :stype, "Sample Type", class:"input-group-text", for:"inputGroupSelect01" %>
            <%= form.select(:stype, ['Solid','Powder','Fabric/Polymer','Liquid/Gel','Thin Film'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>


        <div class="input-group mb-3">
          <%= form.label :measurement, "Measurement",class:"input-group-text", for:"measurement"%>
          <%= form.select(:measurement, ['TGA','FTIR','TGA+FTIR','TG-IR Hyphenation'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "measurement",:required => true}) %>
        </div>


          <div class="input-group mb-3">
            <%= form.label :description, "Sample Description", class:"input-group-text", for:"inputGroupSelect03" %>
            <%= form.text_field :description, type:"text", class:"form-control", id:"inputGroupSelect03", placeholder:"..." %>
          </div>


        <div class="input-group mb-3">
          <%= form.label :nature, "Sample Nature",class:"input-group-text", for:"sample_nature"%>
          <%= form.select(:nature, ['Hygroscopic','Non-Hygroscopic'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
        </div>


        <div id="tga-specs" class="vis">
            <p class="fw-bold text-primary">TGA Specification</p>

            <div>
                <p class="fw-bold">Temperature Range (°C)</p>
            </div>


            <div class="input-group mb-3">
                <%= form.label :min_temp, "Min", class:"input-group-text", for:"temp_min" %>
                <%= form.text_field :min_temp, type:"text", class:"form-control", id:"temp_min", placeholder:"Min. 23"%>
                <%= form.label :min_temp, "°C", class:"input-group-text", for:"temp_min" %>
            </div>
            <div class="input-group mb-3" >
                <%= form.label :max_temp, "Max", class:"input-group-text", for:"temp_max" %>
                <%= form.text_field :max_temp, type:"text", class:"form-control", id:"temp_max", placeholder:"Max. 900"%>
                  <%= form.label :max_temp, "°C", class:"input-group-text", for:"temp_max" %>
            </div>

            <div>
                <p class="fw-bold">Scan rate(°C/min)</p>
            </div>

            <div class="input-group mb-3">
                <%= form.label :scan_rate," Scan Rate(°C/min)", class:"input-group-text", for:"scan_rate" %>
                <%= form.text_field :scan_rate, type:"text", class:"form-control", id:"scan_rate", placeholder:"Max. 50"%>
                <%= form.label :scan_rate,"°C/min", class:"input-group-text", for:"scan_rate" %>
            </div>

            <div class="input-group mb-3">
              <%= form.label :atmosphere,"Atmosphere",class:"input-group-text", for:"atmosphere"%>
              <%= form.select(:atmosphere, ['Oxygen','Nitrogen','Argon'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "atmosphere"}) %>
            </div>
        </div>

        <div id="ftir" class="vis">
            <p class="fw-bold text-success">FTIR-Method</p>

            <div class="input-group mb-3">
                <div class="form-check form-check-inline">
                <%= form.check_box :atr,{:class=>'form-check-input',:id=>'fftr'}, true, false%>

                <label class="form-check-label" for="ftr">ATR</label>
                </div>
                <div class="form-check form-check-inline">
                <%= form.check_box :kbr ,{:class=>'form-check-input',:id=>'kbr'}, true, false%>

                <label class="form-check-label" for="kbr">KBR</label>
                </div>
            </div>

            <div class="y-ordinate">
                <p class="fw-bold">Y-Ordinate</p>
            </div>
            <div>

            <div class="form-check form-check-inline">
                <%= form.radio_button :yordinate, 'Abosrbance', class:"form-check-input", type:"radio", id:"absorbance",:checked => true  %> Abosrbance
            </div>
            <div class="form-check form-check-inline">
                  <%= form.radio_button :yordinate, 'Transmittance', class:"form-check-input", type:"radio", id:"transmittance"  %> Transmittance
            </div>
        </div>



        </div>

        <div>
            <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
        </div>


        <div>
          <%= form.label :hazard, "Toxicity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :hazard, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Hazardous
            </div>
            <div class="form-check">
                  <%= form.radio_button :hazard, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> Non-Hazardous
            </div>
        </div>


        <div>
          <%= form.label :compatability, "Compatibility",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :compatability, '  Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %>  Corrossive
            </div>
            <div class="form-check">
                  <%= form.radio_button :compatability, 'non-Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> Non-Corrossive
            </div>
        </div>

        <div>
          <%= form.label :carcinogenic, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :carcinogenic, ' Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Yes
            </div>
            <div class="form-check">
                  <%= form.radio_button :carcinogenic, 'no', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> No
            </div>
        </div>


        <div>
          <%= form.label :explosive, "Explosive",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :explosive, ' Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %> Yes
            </div>
            <div class="form-check">
                  <%= form.radio_button :explosive, 'no', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> No
            </div>
        </div>


        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>
      <div id="instruct">
      <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
      </div>
        <div class="mb-3">
          <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>

        <div class="actions">
        <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
      </div>



      <% end %>






    </div>
</div>



<%=render "partials/footer" %>

<script>
    let measurement = document.getElementById('measurement');
    let tgaSpecs = document.getElementById('tga-specs');
    let ftir = document.getElementById('ftir');

    measurement.addEventListener('click', () => {
        tgaSpecs.classList.add('vis');
        ftir.classList.add('vis');


      if (measurement.value == 'TGA') {
        tgaSpecs.classList.toggle('vis');
      }
      if (measurement.value == 'FTIR') {
        ftir.classList.toggle('vis');
      }
      if (measurement.value == 'TGA+FTIR') {
        tgaSpecs.classList.toggle('vis');
        ftir.classList.toggle('vis');
      }
      if (measurement.value == 'TG-IR Hyphenation') {
        tgaSpecs.classList.toggle('vis');
        ftir.classList.toggle('vis');
      }
    })



</script>
