<div id="<%= dom_id tga_fttr %>">
  <p>
    <strong>Sample:</strong>
    <%= tga_fttr.sample %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= tga_fttr.measurement %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= tga_fttr.stype %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= tga_fttr.description %>
  </p>

  <p>
    <strong>Nature:</strong>
    <%= tga_fttr.nature %>
  </p>

  <p>
    <strong>Min temp:</strong>
    <%= tga_fttr.min_temp %>
  </p>

  <p>
    <strong>Max temp:</strong>
    <%= tga_fttr.max_temp %>
  </p>

  <p>
    <strong>Scan rate:</strong>
    <%= tga_fttr.scan_rate %>
  </p>

  <p>
    <strong>Atmosphere:</strong>
    <%= tga_fttr.atmosphere %>
  </p>

  <p>
    <strong>Hazard:</strong>
    <%= tga_fttr.hazard %>
  </p>

  <p>
    <strong>Compatability:</strong>
    <%= tga_fttr.compatability %>
  </p>

  <p>
    <strong>Carcinogenic:</strong>
    <%= tga_fttr.carcinogenic %>
  </p>

  <p>
    <strong>Explosive:</strong>
    <%= tga_fttr.explosive %>
  </p>

  <p>
    <strong>More:</strong>
    <%= tga_fttr.more %>
  </p>

</div>
