<p style="color: green"><%= notice %></p>

<%= render @tga_fttr %>

<div>
  <%= link_to "Edit this tga fttr", edit_tga_fttr_path(@tga_fttr) %> |
  <%= link_to "Back to tga fttrs", tga_fttrs_path %>

  <%= button_to "Destroy this tga fttr", @tga_fttr, method: :delete %>
</div>
