<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">High-Energy Ball Milling</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="ball-mill-images" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <%=image_tag 'ball-mill-images/Ball_Milling.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                  </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#ball-mill-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ball-mill-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[PM 100 / Emax, Retsch, Germany]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data">CRF Annexe - G07</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>About</u>:</h4>
                  <p>Ball mills are used for mixing and size reduction of powders, colloidal grinding and mechanical alloying. Two types of mills are installed, (A) High energy ball mill (B) Planetary ball mill.</p>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Specification of high energy ball mill</u>:</h4>
                  <ul>
                    <li><span class="fw-bold">Principle: </span>Milling to be done using friction and repeated impact of shots and balls.</li>
                    <li><span class="fw-bold">Applications: </span>Mechanical alloying, homogenization, size reduction, colloidal grinding. These application are the domain of chemistry, civil engineering, recycling of wastes, metallurgy, mining, chemicals, ceramics, and oxides etc.</li>
                    <li><span class="fw-bold">Feeding materials: </span>Wet, dry, brittle, medium hard to hard, fibrous, etc</li>
                    <li><span class="fw-bold">Size reduction principle:</span> Combination of impact, friction and revolution.</li>
                    <li><span class="fw-bold">Feed material size: </span>100 μm to 5 mm (or wider).</li>
                    <li><span class="fw-bold"> Final particle size: </span>100 nm or finer.</li>
                    <li><span class="fw-bold">Batch volume: </span>2x20 ml (or more).</li>
                    <li><span class="fw-bold">Rotation speed (rpm): </span>400 to 2000 (or wider); continuously variable.</li>
                    <li><span class="fw-bold">Temperature control: </span>Controlled integrated water cooling using external chiller. It should ensure continuous operation of the machine without overheating of the sample</li>
                    <li><span class="fw-bold">Grinding jars: </span>Stainless steel and tungsten carbide with integrated safety closure mechanism.</li>
                    <li><span class="fw-bold">Jar size: </span>50ml + 125 ml (for stainless steel); 50 ml (for tungsten carbide).</li>
                    <li><span class="fw-bold">Grinding time:</span> 1 min to 50 hr (or more), with operational direction reversal.</li>
                    <li><span class="fw-bold">Grinding balls:</span></li>
                      <p> For Stainless steel grinding jar- 50 ml & 125 ml volumes</p>
                        <ul>
                          <li>5 mm Stainless steel grinding balls</li>
                          <li>10 mm Stainless steel grinding balls</li>
                        </ul>
                        <p> For Tungsten carbide grinding jars -50 ml</p>
                          <ul>
                            <li>3 mm Tungsten carbide grinding balls</li>
                            <li>5 mm Tungsten carbide grinding balls</li>
                            <li>10 mm Tungsten carbide grinding balls</li>
                          </ul>
                  </ul>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Specifications of Planetary ball mill:</u></h4>
                  <ul>
                    <li><span class="fw-bold"> Principle:</span> Energy transfer from ball to material- both by friction and impact.</li>
                    <li><span class="fw-bold">Applications: </span>Planetary ball mill is for grinding, mechanical alloying, mixing soft, medium hard, extremely hard, brittle, fibrous and colloidal systems, Industrial waste material, minerals, alloys, oxides, soils and plant materials.</li>
                    <li><span class="fw-bold">Feeding materials: </span> Samples can be both dry and wet.</li>
                    <li><span class="fw-bold"> Material feed size:</span> 100 μm to 10 mm (or wider).</li>
                    <li><span class="fw-bold">Final size:</span> less than 1 μm (or lesser); in the case of colloidal system- less than 0.1 μm.</li>
                    <li><span class="fw-bold">Wheel speed:</span> 100 to 600 rpm (or wider); continuously variable.</li>
                    <li><span class="fw-bold">Diameter:</span> Effective diameter with planetary motion-140 mm or more.</li>
                    <li><span class="fw-bold">Time of grinding:</span> 1 min to 50 hrs (or wider) with direction reversible option; continuously variable.</li>
                    <li><span class="fw-bold">Material of grinding:</span> Stainless steel and tungsten carbide. Stainless steel jars of 50 ml and 125 ml; Tungsten carbide jars of 50 ml and 125 ml. Aeration lid for 50 ml jar.</li>
                    <li><span class="fw-bold">Grinding balls:</span></li>
                    <p> For Stainless steel grinding jar</p>
                      <ul>
                        <li>5 mm Stainless steel grinding balls</li>
                        <li>10 mm Stainless steel grinding balls</li>
                      </ul>
                      <p> For Tungsten carbide grinding jars -50 ml</p>
                        <ul>
                          <li>5 mm Tungsten carbide grinding balls</li>
                          <li>10 mm Tungsten carbide grinding balls</li>
                        </ul>
                  </ul>
            </div>

        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Testing charges (sample basis).</u></h3>
            <table class="table">
                <thead>
                  <tr style="border-bottom: 2.5px solid #000;">
                    <th></th>
                    <th style="color:#0094BB;">Particular</th>
                    <th>Planetary Ball Mill</th>
                    <th>High Energy Ball Mill</th>

                  </tr>
                </thead>
                <tbody>

                   <tr>
                    <th rowspan="2" style="vertical-align: middle;"> <h4><b>NITK</b></h4></th>
                    <th style="color:#0094BB">[If the applicant is bringing jars and balls] </th>
                    <th style="text-align: center;"> Rs. 250/- </th>
                    <th style="text-align: center;"> Rs. 250/- </th>

                  </tr>

                   <tr style="border-bottom: 2px solid #ddd;">
                    <th style="color:#0094BB">[Including jars, grinding balls, and processing charges]</th>
                     <th style="text-align: center;"> Rs. 750/- </th>
                    <th style="text-align: center; "> Rs. 750/- </th>

                  </tr>

                    <tr>
                    <th rowspan="1" style="vertical-align: middle;"><h4><b>Academia &amp; Research Institutes*</b></h4></th>
                   <th style="color:#0094BB; vertical-align: middle;">[Including jars, grinding balls, and processing charges]</th>
                    <th style="text-align: center; vertical-align: middle;"> Rs. 750/- </th>
                    <th style="text-align: center; vertical-align: middle;"> Rs. 750/- </th>

                  </tr>

                    <tr>
                    <th style="vertical-align: middle;"> <b>Industry*</b></th>
                   <th style="color:#0094BB; vertical-align: middle;">[Including jars, grinding balls, and processing charges]</th>
                    <th style="text-align: center; vertical-align: middle;"> Rs. 2500/- </th>
                    <th style="text-align: center; vertical-align: middle;"> Rs. 2500/- </th>

                  </tr>

               </tbody>
              </table>
        </div>

        <div class="text-danger fw-bold">
            <p>*Grinding media charges is not included, GST(18%) extra.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Mr. Nishanth (Technical Staff, CRF ),  Email: <span class="text-info"> office.crf@nitk.edu.in</span></h5>
            <h5>Dr. Preetham Kumar G.V. (High-Energy Ball Milling Facility, Faculty in-charge),  Email: <span class="text-info"> preethamk11@nitk.edu.in</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
