<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Automatic Electrolytic Polishing Machine</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="electro-chem-images" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <%=image_tag 'electro-chem-images/ECM1.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                  </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#electro-chem-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#electro-chem-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[Electropol, Metatech Industries, INDIA]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data">CRF Annexe - G03</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Features</u>:</h4>
                  <ul>
                    <li><span class="fw-bold">Polishing load:</span> 0-110V, 0-10A</li>
                    <li><span class="fw-bold">Etching load: </span>0-15V, 0-2A</li>
                    <li>Electrolyte flow controller</li>
                    <li><span class="fw-bold">Chiller facility upto:</span> -300°C</li>
                    <li>Polishing mask of 9.5mm and 12.5mm</li>
                  </ul>
            </div>

              <div class="mb-3">
                <h4 class="fw-bold"><u>Applications</u>:</h4>
                  <ul>
                    <li>Electropolishing and etching for material characterizaton</li>
                  </ul>
            </div>
        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Testing charges (sample basis).</u></h3>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th></th>

                  <th> </th>
                </tr>
              </thead>
              <tbody>
                  <tr>
                  <th>NITK users <span style="font-family: monospace; color:orange">(Please bring own suitable electrolyte)</span> </th>

                <!--  <th><span style="color:#0094BB"> Rs. 20/-  per trial</span></th> -->
                </tr>

                <tr>
                  <th>Other academic institutions and Research and Development organizations*</th>

                  <!--   <th><span style="color:#0094BB"> Rs. 40/-  per trial</span></th>-->
                </tr>
                <tr>
                  <th>Industry personnel*</th>

                  <!--   <th> <span style="color:#0094BB">Rs. 80/-  per trial</span></th>-->
                </tr>


              </tbody>
            </table>
        </div>

        <div class="text-danger fw-bold">
            <p>*Sample preparation charges (depending on electrolyte), GST(18%) extra.</p>
            <p>Electrolyte (Based on additional charges)</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Mrs. Suraksha Shetty, Email: <span class="text-info">crf_ecm@nitk.edu.in</span></h5>
            <h5>Dr. M R Rahman (ECM, Faculty in-charge) ,  Email: <span class="text-info"> rizwan@nitk.edu.in</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
