<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">High Temperature Vacuum Assisted Furnace</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="high-temp-images" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%=image_tag 'high-temperature-vacc-images/HTVAF.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                    </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#high-temp-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#high-temp-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[RHTC 80-710/15, Nabertherm, Germany]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data"> CRF Annexe - G07</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold">About:</h4>
                  <p>A research grade tubular furnace, which can be operated in vacuum or under controlled atmosphere</p>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Technical specifications</u>:</h4>
                  <ul>
                    <li><span class="fw-bold">Temperature Range: </span>500 to 1450°C</li>
                    <li><span class="fw-bold"> Heating elements: </span>SiC element Installed parallel to the work tube</li>
                    <li><span class="fw-bold">Constant temperature zone: </span>200 mm in center of the tube</li>
                    <li><span class="fw-bold">Microprocessor based PID temperature controller, with LCD display and USB logging interface.</span></li>
                    <li><span class="fw-bold">Capable of 10 programs storage with multiple segments or steps setup.</span></li>
                    <li><span class="fw-bold">Temperature ramp rate: </span>1°C/min upto 5°C/min.</li>
                    <li><span class="fw-bold">Recording data with USB possible.</span></li>
                    <li><span class="fw-bold"> Thermocouple used: </span>Type S.</li>
                    <li><span class="fw-bold">acuum operations range upto 10<sup>-5</sup> mbar.</span></li>
                    <li><span class="fw-bold">Gaseous atmosphere: Ar, He, N<sub>2</sub>, O<sub>2</sub>, CO<sub>2</sub>, N<sub>2</sub>+H<sub>2</sub>, Ar+H<sub>2</sub>.</span></li>
                  </ul>
            </div>

        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Testing charges per sample</u></h3>
            <table class="table">
            <thead>
              <tr style="border-bottom: 2.5px solid #000;">
                <th>Particular</th>
                <th style="color:#0094BB">Heating time</th>
                <th>With/ Without Vacuum Atmosphere</th>
                <th>Gaseous Atmosphere</th>
              </tr>
            </thead>
            <tbody>

                <tr>
                <th rowspan="4" style="vertical-align: middle;">NITK:</th>
                <th style="color:#0094BB">6hr</th>
                <th style="text-align: center;"> Rs. 150/- </th>
                <th style="text-align: center;"> Rs. 250/- </th>
              </tr>
              <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">6 to 12hr</th>
                 <th style="text-align: center;"> Rs. 250/- </th>
                <th style="text-align: center;"> Rs. 400/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">12 to 18hr</th>
                <th style="text-align: center;"> Rs. 350/- </th>
                <th style="text-align: center;"> Rs. 550/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">18 to 24hr</th>
                 <th style="text-align: center;"> Rs. 450/- </th>
                <th style="text-align: center;"> Rs. 700/- </th>
              </tr>

              <tr>
                <th rowspan="4" style="vertical-align: middle;"> Academia &amp; Research Institutes*:</th>
               <th style="color:#0094BB">6hr</th>
                <th style="text-align: center;"> Rs. 300/- </th>
                <th style="text-align: center;"> Rs. 400/- </th>
              </tr>
              <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">6 to 12hr</th>
                 <th style="text-align: center;"> Rs. 400/- </th>
                <th style="text-align: center;"> Rs. 550/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">12 to 18hr</th>
                 <th style="text-align: center;"> Rs. 500/- </th>
                <th style="text-align: center;"> Rs. 700/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">18 to 24hr</th>
                 <th style="text-align: center;"> Rs. 600/- </th>
                <th style="text-align: center;"> Rs. 850/- </th>
              </tr>

              <tr>
                <th rowspan="4" style="vertical-align: middle;"> Industry*</th>
                <th style="color:#0094BB">6hr</th>
                <th style="text-align: center;"> Rs. 500/- </th>
                <th style="text-align: center;"> Rs. 700/- </th>
              </tr>
              <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">6 to 12hr</th>
                <th style="text-align: center;"> Rs. 700/- </th>
                <th style="text-align: center;"> Rs. 900/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">12 to 18hr</th>
                 <th style="text-align: center;"> Rs. 900/- </th>
                <th style="text-align: center;"> Rs. 1100/- </th>
              </tr>
               <tr style="border-bottom: 2px solid #ddd;">
                <th style="color:#0094BB">18 to 24hr</th>
                <th style="text-align: center;"> Rs. 1100/- </th>
                <th style="text-align: center;"> Rs. 1300/- </th>
              </tr>

              </tbody>
        </table>
        </div>

        <div class="text-danger fw-bold">
            <p>The charges for time of usage of equipment includes temperature rising time as per the ramp rate.</p>
            <p>*GST (18%) extra. Above charges are for providing raw data.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Mr. Nishanth: (Technical Staff, CRF), Email: <span class="text-info">office.crf@nitk.edu.in</span></h5>
            <h5>Dr. Ravishankar K.S.: (HTVAF, Faculty in-charge), Email: <span class="text-info">  rshankar983@gmail.com</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
