<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Inductively Coupled Plasma Mass Spectrometry</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="icp_ms-images" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%=image_tag 'icp_ms-images/ICP_main.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                    </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#icp_ms-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#icp_ms-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[NexION 2000, Perkin Elmer, USA]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data"> CRF Annexe - S01</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold"><u>Facilities</u>: </span><span>ICP-MS-metal, Single cell and Single particle analysis, Microwave digestion system.</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold"><u>Applications</u>: </span><span>Environmental, Biological, Pharmaceutical, Petroleum, Food and Material testing samples..</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Technical Specification for ICP-MS:</u>:</h4>
                <ol type="1">
                  <li>Nebulizer type: Glass and PFA nebulizer.</li>
                  <li>Spray Chamber type: Glass and PFA spray chamber.</li>
                  <li>Maximum sample holding capacity of auto-sampler: 180.</li>
                  <li>Max TDS tolerance: > 25%</li>
                  <li> Minimum mass (within the mass range) of quadrupole in amu: 2</li>
                  <li>Maximum mass (within the mass range) of quadrupole in amu: 285</li>
                  <li>Minimum scan speed (amu/sec): 5000 amu/sec</li>
                  <li>Resolution (amu): 0.3</li>
                  <li> In-built or optional gas channels: 3</li>
                  <li>Gas channel for reactive inert and reactive gases: He, NH<sub>3</sub>, O<sub>2</sub>, CH<sub>4</sub></li>
                  <li>Reaction Mode: Mass Shift</li>
                  <li>Type of Ion Detector: Electron multiplier</li>
                  <li>Sensitivity(mcps/ppm) Be(9): 6</li>
                  <li> Sensitivity(mcps/ppm) In(115): 100</li>
                  <li>Sensitivity(mcps/ppm) U(238): 80</li>
                  <li>Oxide ratio (%) CeO+/Ce+: ≤3</li>
                  <li>Doubly Charged Ratio (%) Ce++/Ce: <3</li>
                  <li>Background (CPS) measured at mass 220: ≤1</li>
                </ol>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Microwave Digestion System:</u></h4>
                <ol type="1">
                  <li>Minimum sample processing capacity in one batch: 15</li>
                  <li> Rated power of Microwave digestion system: 1500 Watt</li>
                  <li>Maximum operating temperature attained by microwave digestion system: 250<sup>o</sup>C</li>
                  <li>Maximum operating pressure attained by microwave digestion system: 40 bar</li>
                </ol>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Sample Specification</u></h4>
                  <ol type="1">
                    <li>Analysis of flowing elements are possible in ppm and ppb concentration range.<span class="text-info">(Elements: Ag, Al, Au, Sb, As, B, Ba, Bi, Bo, Cd, Ca, Co, Cr, Cu, Fe, Ga, Ge, Hg, In, K, Li, Mg, Mn, Mo, Na, Ni, Pb, Rb, Sc, Se, Sr, Sn, Tb, Ti, V, Y, Zn)</span></li>
                    <li>Solid sample quantity: more than 0.5 grams</li>
                    <li> Liquid sample quantity: more than 2 ml</li>
                    <li>Rare earth elements and radioactive elements cannot be analysed</li>
                    <li>Pre-digested/prepared samples should not contain suspended particles</li>
                    <li>For interference free analysis, the samples must be digested with suprapure/trace-element grade acids</li>
                  </ol>
            </div>

        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Testing Charges</u></h3>
            <table class="table table-hover">
              <thead>
                <tr style="border-bottom: 2.5px solid #000;">
                  <th scope="col" id="user-type">Details</th>
                  <th scope="col" id="p-xrd">NITK</th>
                  <th scope="col" id="gixrd">Academic Institute</th>
                  <th scope="col" id="residual-stress">Industry</th>
                  <th scope="col" id="texture">R&amp;D Institute</th>
                </tr>
              </thead>
              <tbody>

                      <tr>
                      <th> Standardization <span style="font-family: monospace; color:orange">[per element/sample]</span> </th>
                      <th> Rs. 250/- </th>
                      <th> Rs. 750/- </th>
                      <th> Rs. 2500/- </th>
                      <th> Rs. 1500/- </th>
                    </tr>
                    <tr>
                      <th> Measurement <span style="font-family: monospace; color:orange">[Subsequent sample per element]</span></th>

                      <th> Rs. 50/- </th>
                      <th> Rs. 150/- </th>
                      <th> Rs. 750/- </th>
                      <th> Rs. 400/- </th>
                    </tr>
                    <tr>
                      <th> Sample preparation <span style="font-family: monospace; color:orange">[per sample]</span> </th>
                      <th> Rs. 500/- </th>
                      <th> Rs. 1000/- </th>
                      <th> Rs. 4000/- </th>
                      <th> Rs. 2500/- </th>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="text-danger fw-bold">
            <p>*GST(18%) extra. Above charges are for providing raw data.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Ms. Thrithila Shetty (Technical Staff, CRF), Email:<span class="text-info">crf_icp@nitk.edu.in</span></h5>
            <h5>Dr. I. Regupathi (ICP-MS Faculty in-charge), Email:<span class="text-info"> regupathi@nitk.edu.in</span>, Mob: <span class="text-info">+91-9731161327</span>,Landline: <span class="text-info">0824-2473609</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
