<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Ion Chromatography System</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="ion-chromatography-images" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%=image_tag 'ion-chromato-images/ICS_2.jpg' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                    </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#ion-chromatography-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#ion-chromatography-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[ICS 6000, Thermofisher, USA]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data"> CRF CRF Annexe - S02</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Features:</u></h4>
                <p>
                  Ion Chromatography System [Non-metallic PEEK based] compatible for 0-14 pH & 100% RP organic solvents with built-in low/ high pressure dual pump Quaternary Gradient Pump for simultaneous analysis of anions & cations. Provide multiple flexibility of detection of complex sample matrix by gradient and Isocratic mode to analyse various Anions like Cl<sup>-</sup>, F<sup>-</sup>, Br, PO<sub>4</sub><sup>-3</sup>, SO<sub>4</sub><sup>-3</sup>, PO<sub>4</sub>, Nitrate, Nitraite, Oxalate, Glycolate, Benzoate, Molybdate, Organic acids, etc., Cations like Na<sup>+</sup>, K, Li<sup>+</sup> , NH4<sup>+</sup>, Ca<sup>+</sup> , Mg, Amines like propylamine and cyclohexylamine etc detection by conductivity. Carbohydrates, Cyanide, sulphide etc. detection by amperometry. Transition metals with iron and chromium speciation should be determine by using UV-Vis detector and post column reagent assembly. System should have capability of consumable device monitoring with RFID tags. Field upgradability option for eluent generator with KOH and MSA cartridges.
                </p>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Applications:</u></h4>
                <p>Environmental Engineering, Material Sciences, Chemical Engineering, Biotechnology, Chemistry, Ocean Science, Geo-environmental, Water Resources, etc.</p>
            </div>


        </div>

        <div class="regular-charges">

            <h4 class="fw-bold"><u>Specifications for Ion Chromatography Dual pump System:</u></h4>
            <!-- specs table is under regular charges to facilitate the overflow propery -->
            <table class="table" style="font-size:20px">
                      <tbody>
                        <tr>
                        <th colspan="2"> <span class="text-primary">Dual Quaternary Gradient Solvent Delivery Pump:</span> <small> Non-metallic PEEK base compatible for 0-14 pH &amp; RP compatibility for 4 solvents gradient as per the following specification. The pump housing has two quaternary gradient pumping systems in same housing to do simultaneous analysis. </small></th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Flow range</th>
                          <th>0.001 – 10 mL/min or better </th>
                        </tr>

                         <tr style="font-size:18px">
                          <th>Reproducibility/Accuracy of eluent flow</th>
                          <th>± 0.1% or better</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Pulsation/Ripple</th>
                          <th>&lt; 1%</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Flow precision</th>
                          <th>&lt; 0.1%</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Pressure range</th>
                          <th>0 – 5000 PSI</th>
                        </tr>

                         <tr style="font-size:18px">
                          <th>Vacuum degasser</th>
                          <th>Built in with gradient pump</th>
                        </tr>

                         <tr>
                          <th colspan="2"><span class="text-primary"> Eluent organizer:</span> <small> Minimum 8 number of polymeric bottles with facility of gas pressurization for advance and trace level applications exists. </small></th>
                        </tr>

                         <tr>
                          <th colspan="2"><span class="text-primary">Chromatography Accessories &amp; Detector Enclosure: </span><small> Chromatography Accessories &amp; Detector Enclosure: provision exists to mount various accessories like two sample injection valves, multiple columns with temperature of 10-70 °C  and two detector electronics. </small></th>
                        </tr>

                          <tr>
                          <th colspan="2"><span class="text-primary">Conductivity detector: </span><small> One number of conductivity detector for analysis of anion and cation, microprocessor based with a Thermostated micro-flow cell conductivity block, cell temperature stability/accuracy &lt;0.001 °C. </small></th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Cell volume</th>
                          <th>&lt; 1.0 µL</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Range  - Digital Analogue  </th>
                          <th>0.01 - 14000µs or more</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Resolution</th>
                          <th>0.10 ns</th>
                        </tr>

                        <tr style="font-size:18px">
                          <th>Temperature coefficient or Linearity range </th>
                          <th>0-5% or better</th>
                        </tr>

                        <tr>
                          <th colspan="2"><span class="text-primary">Electrochemical Detector and Cell Kit for Carbohydrates , Amino acid, cyanide , sulfide analysis</span><br>
                              <small>1)  Microprocessor – digital signal processing, autoranging with multi waveform and multiple integration time with 3-dimensional data (time, potential &amp; current-on 3 axis x y z) similar to PDA data display, detection cell kit and electronic integrated for better sensitivity peak sharpness. The electrochemical detector capable of operating in an integrated amperometry, pulsed amperometry, DC Amperometry mode, or cyclic voltammetry. Infinite waveforms and infinite integrations times supported to optimize detection conditions for individual analytes.  <br>
                                        2)  The cell electrodes available in the following options: gold for Carbohydrates analysis. Disposable electrodes options also available.<br><br>
                                Potential Range     :   ± 2.00 V in 0.001 V  increment,<br>
                                Cell volume         :   &lt; 0.2 µL<br>
                                Range               :   50 pC-200 µC (Int. Amp), 5 pA – 74 µA (dc Amp)<br>
                                Counter Electrode       :   Titanium.<br>
                                Reference Electrode     :   Ag / AgCl Combination.<br>
                                Working Electrodes      :   Silver/ Platinum/ Glassy carbon/ AAA<br>
                                Electronic Noise        :   DC &lt; 80 pC, IPAD &lt; 5 pA<br>
                              </small>
                         </th>
                        </tr>

                        <tr style="padding:10px">
                          <th colspan="2"><span class="text-primary">UV- Vis Detector and Post column Reagent assembly for Transition metals along with iron and chromium speciation’s.</span><br>
                              <small> a)  Light source: Deuterium &amp; Tungsten Lamp.  <br>
                              b)  Wavelength Range: 190-900 nm or higher.<br>
                            c)  Cell : PEEK , Volume  : 11µL.<br>
                            d)  Bandwidth: 6 nm or less<br>
                            e)  Wavelength accuracy: ±1 nm<br>
                            f)  Post Column Derivatization Unit to convert UV-Absorbance of TM &amp; Lanthanide
                              </small>
                         </th>
                        </tr>

                       <tr>
                          <th colspan="2"><span class="text-primary">Autosampler</span>: <small> Automated sample for loading of samples having a capacity of 50 Poly vials of 5ml or 0.5ml vial size, With caps of 10 µm filter pore size, with simultaneous injection facility. </small>
                         </th>
                        </tr>

                        <tr>
                          <th colspan="2"><span class="text-primary">Suppressor:</span> <small>  Online Self Regenerating membrane base Suppressor for  both anions and Cations application to eliminate counter ions from solvent &amp; sample. </small>
                         </th>
                        </tr>

                        <tr>
                          <th colspan="2"> <span class="text-primary">Columns -</span> <br><small>•  High capacity columns for Anion, cation, carbohydrates, Cyanide and sulphide Transition metals applications.<br>
                           •  Columns compatible for Hydroxide and MSA eluents respectively exists</small>
                         </th>
                        </tr>

                         <tr>
                          <th colspan="2"> <span class="text-primary">Chromatography Software -</span> <small> Chromatography software - include acquiring data, quantitation, producing a report, and the options to upgrade to an incorporated excel like spreadsheet for report flexibility.
                      </small>
                         </th>
                        </tr>


                      </tbody>
                      </table>
          <!-- charges below -->
            <h3 class="text-danger"><u>Testing Charges (per sweep).</u></h3>
            <table class="table table-hover">
        <thead>
          <tr style="border-bottom: 2.5px solid #000;">
            <th>Parameters to be analysed</th>
            <th>NITK</th>
            <th>Academic Institute/ NITK Alumni*</th>
            <th>Industry*</th>

          </tr>
        </thead>
        <tbody>

            <tr>
            <th style="color:#0094BB"> All cations (Li, Na, K, Ca, Mg) <span style="font-family: monospace; color:orange">[per sample]</span></th>
            <th> Rs. 350/- </th>
            <th> Rs. 500/- </th>
            <th> Rs. 700/- </th>

          </tr>
          <tr>
            <th style="color:#0094BB"> All anions (F, Cl, NO<sub>3</sub>, SO<sub>4</sub>, PO<sub>4</sub>) <span style="font-family: monospace; color:orange">[per sample]</span></th>
            <th> Rs. 350/- </th>
            <th> Rs. 500/- </th>
            <th> Rs. 700/- </th>
          </tr>

           <tr>
            <th style="color:#0094BB"> All ions (Cations + Anions) <span style="font-family: monospace; color:orange">[per sample]</span></th>
            <th> Rs. 700/- </th>
            <th> Rs. 1,000/- </th>
            <th> Rs. 1,400/- </th>
          </tr>

          <tr>
            <th style="color:#0094BB"> Carbohydrates/ Alcohols/ Cyanide / Sulphide <span style="font-family: monospace; color:orange">[each parameter]</span></th>
            <th> Rs. 1,000/- </th>
            <th> Rs. 2,000/- </th>
            <th> Rs. 4,000/- </th>
          </tr>




        </tbody>
      </table>
        </div>

        <div class="text-danger fw-bold">
            <p>*Sample preparation charges, GST(18%) extra. Above charges are for providing raw data.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Ms. Thrithila Shetty (Technical Staff, CRF), Email: <span class="text-info">crf_ics@nitk.edu.in</span></h5>
            <h5>Dr. Arun Kumar Thalla (Ion Chromatography, Faculty in-charge), Email: <span class="text-info"> arunkumar@nitk.edu.in</span>, Mob: <span class="text-info">+91-9480855797</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
