<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtnmain"%> <!--this has no profile dropdown because its for main page-->

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Micromachining with EDM facility</h1>
    </div>
    <div class="hero">

        <div class="equipment-img-wrap">
            <div class="equipment-img">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <%=image_tag 'micromachine/micromachining-1.jpg' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %> <!--this image is overlaping-->
                        </div>
                        <div class="carousel-item">
                            <%=image_tag 'micromachine/micromachining-2.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                        </div>
                        <div class="carousel-item">
                            <%=image_tag 'micromachine/micromachining-3.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                        </div>
                        <div class="carousel-item">
                            <%=image_tag 'micromachine/micromachining-4.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
        </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold">Make:</span><span class="data text-warning fw-bold">DT-110i, Mikrotools Pte. Ltd., Singapore</span>
            </div>
            <div class="mb-3">
              <div class="mb-3">
                  <span class="fw-bold">Located at:</span><span class="data fs-smlr">CRF Annexe - G06 </span>
              </div>
                </div>

                <div class="mb-3">
                    <h3 class="fw-bold"><u> Features</u>:</h3>
                    <p class="fs-smlr">Low speed spindle (3000 rpm), High speed spindle (10000 rpm), Micro EDM</p>
                </div>

                <div class="mb-3">
                    <h3 class="fw-bold"><u> Specification</u>:</h3>
                    <p class="fs-smlr">Precision control of movement by NC codes, Job area of (in mm) 100(1st axis), 100(2nd axis), 200(3rd axis)</p>
                </div>

                <div class="mb-3">
                  <h3 class="fw-bold">Facilities</h3>
                  <p class="fs-smlr"> Capable of multiple machining processes such as turning (50 µm), milling (100 µm low speed, 30 µm high speed), drilling (200 µm), grinding and high speed milling of hard alloys, EDM die sinking, EDM milling, wire based electrode dressing facility, 200 mm travel in X-, 100 mm each in Y- and Z-directions with negligible backlash, touch-screen based GUI, CCD camera to visually monitor the workpiece with rapid tool changing mechanism, NC code assisted:</p>
                </div>

                <div class="mb-3">
                    <h3 class="fw-bold"><u>Applications</u>:</h3>
                    <ul class="fs-smlr">
                      <li>Removal of material in the order of microns</li>
                      <li>Machining of high precision parts like bio medical implants/stents</li>
                      <li>Micro EDM facility for drilling holes or slots with minimum dimension of 250 µm</li>
                      <li> High degree of Surface roughness</li>
                      <li>Micro Geometry & Shape</li>
                    </ul>
                </div>
              </div>

              <div class="mb-3">
                <p class="text-warning fw-bold fs-smlr"> Machining charges as per actuals (Machine time x cost per hour)</p>
                <p  class="text-warning fw-bold fs-smlr">Raw material and consumables charges will be as per the requirement, if any.</p>
              </div>

              <div class="regular-charges">
                <h3 class="text-danger text-center">Testing charges (Cost/Hour)</h3>
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Job order type</th>
                      <th><b>Turning</b></th>
                       <th><b>Milling/Drilling</b></th>
                        <th><b>EDM</b> </th>
                         <th><b>WEDG</b> </th>
                    </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <th style="color:#0094BB">NITK users</th>
                           <th>Rs. 250/- </th>
                           <th>Rs. 300/- </th>
                           <th>Rs. 350/- </th>
                           <th>Rs. 450/- </th>

                      </tr>
                    <tr>
                      <th style="color:#0094BB">Other academic institutions / Research and Development organizations*</th>
                     <th>Rs. 550/- </th>
                           <th>Rs. 600/- </th>
                           <th>Rs. 650/- </th>
                           <th>Rs. 750/- </th>

                    </tr>
                    <tr>
                      <th style="color:#0094BB">Industry personnel*</th>
                      <th>Rs. 850/- </th>
                           <th>Rs. 900/- </th>
                           <th>Rs. 950/- </th>
                           <th>Rs. 1050/- </th>

                    </tr>


                  </tbody>
                </table>

                <h4 class="text-center text-danger ">*GST(18%) extra. Above charges are for providing raw material.</h4>
              </div>

        <div class="queries text-center">
            <h3 class="fs-smlr">For further Query Contact:</h3>
            <h3 class="fs-smlr">Mr. Nishanth (Operator CRF), Mob: <span class="text-info">+91-9632493401 </span> , Email:<span class="text-info"> crf_mircotool@nitk.edu.in</span>  </h3>
            <h5 class="fs-smlr">Dr. Navin Karanth P. (Faculty in-charge), Mob: <span class="text-info">+91-9449058052</span>  Email:<span class="text-info"> navinkaranth.p@nitk.edu.in</span> </h5>
        </div>

    </div>
  </div>


<%=render "partials/footer" %>
