<%= stylesheet_link_tag "faculty-core-page" %>
<%= stylesheet_link_tag "staff-page" %>
<%= stylesheet_link_tag "loginFeatures" %>

<%=render "partials/loginHeading" %>



<!--switcher is given here-->
<div id="switcher-div">
  <div id="core" class="backcolor">
    <span>Core</span>
  </div>
  <div id="staff">
    <span>Staff</span>
  </div>
</div>

<div id="core-section">
  <div class="patron-head" >
        <h1 id="patron-head">Patron</h1>
      </div>
          <div class="director">
            <div class="card" style="width: 25rem;">
              <%= image_tag 'adm-img/adm-img/DirectorNITK.jpg'%>
              <div class="card-body text-center">
                <p class="card-text fw-bold text-lg-center ">Prof. Prasad Krishna</p>
                <p>Director, NITK</p>
              </div>
            </div>
          </div>

          <div class="chair-head">
              <h1 class="text-center fw-bold">Chairman</h1>
          </div>

          <div class="chairman">
            <div class="card" >
              <%= image_tag 'adm-img/adm-img/Chairman.jpg' ,height: 256 %>
              <div class="card-body">
                <p class="card-text fw-bold text-center">Dr. M. N. Satyanarayan</p>
                <p class="card-text text-center">Chairman CRF NITK</p>
              </div>
            </div>
          </div>



          <div class="adv-head">
            <h1>Advisory Committee</h1>
          </div>
          <div class="advisory-comitte">
            <div class="card" style="width: 15rem;">
              <%= image_tag 'adm-img/adm-img/Prof S.M Kulkarni.jpg'  %>
              <div class="card-body">
                <p class="card-text fw-bold text-center">Prof. Satybodh M. Kulkarni</p>
                <p class="text-center">Dean (Research & Consultancy), NITK</p>
              </div>
            </div>

            <div class="card" style="width: 15rem;">
              <%= image_tag 'adm-img/adm-img/BabuNarayan.png' %>
              <div class="card-body ">
                <p class="card-text fw-bold text-center">Prof. K. S. Babu Narayan</p>
                <p class="card-text text-center">Dean (Planning & Development), NITK</p>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <%= image_tag 'adm-img/adm-img/VidhyaShetty.png' %>
              <div class="card-body">
                <p class="card-text fw-bold text-center">Prof. Vidya Shetty</p>
                <p class="card-text text-center">Dean (Academic), NITK</p>
              </div>
            </div>
            <div class="card" style="width: 15rem;">
              <%= image_tag 'adm-img/adm-img/Prof. G. C. Mohan Kumar.jpg'  %>
              <div class="card-body">
                <p class="card-text fw-bold text-center">Prof. G. C. Mohan Kumar</p>
                <p class="card-text text-center">Dean (Faculty Welfare), NITK</p>
              </div>
            </div>
          </div>



          <div class="core-head">
            <h1>Core Committee</h1>
          </div>
            <div class="core-committe">
              <div class="card" style="width: 15rem;">
                <%= image_tag 'adm-img/adm-img/M R Rahman.png' ,height: 256 %>
                <div class="card-body">
                  <p class="card-text fw-bold text-center">Dr. Mohammad Rizwanur Rahman</p>
                  <p class="card-text text-center">Dept of MME</p>
                </div>
              </div>
              <div class="card" style="width: 15rem;">
                <%= image_tag 'adm-img/adm-img/Keyur.jpg'  %>
                <div class="card-body">
                  <p class="card-text fw-bold text-center">Dr. Keyur Raval.</p>
                  <p class="card-text text-center">Dept of Chemical Engg</p>
                </div>
              </div>
              <div class="card" style="width: 15rem;">
                <%= image_tag 'adm-img/adm-img/srikanth.png'  %>
                <div class="card-body">
                  <p class="card-text fw-bold text-center">Dr. Srikanth Bontha.</p>
                  <p class="card-text text-center">Dept of Mechanical. Engg.</p>
                </div>
              </div>
              <div class="card" style="width: 15rem;">
                <%= image_tag 'adm-img/adm-img/Gangamma.jpg' %>
                <div class="card-body">
                  <p class="card-text fw-bold text-center fw-bold">Dr. Gangamma S</p>
                  <p class="card-text text-center">Dept. of Chemical Engg.</p>
                </div>
              </div>
              <div class="card" style="width: 15rem;">
                <%= image_tag 'adm-img/adm-img/Udaya kumar D.png' %>
                <div class="card-body">
                  <p class="card-text fw-bold text-center">Dr. Udaya Kumar Dalimba</p>
                  <p class="card-text text-center">Department of Chemistry</p>
                </div>
              </div>
            </div>
</div>



<div id="staff-section" class="vis">
    <div class="working-head">
                <h2 class="text-center fw-bold">Working Staff</h2>
            </div>

             <!-- <div class="staff-parent">
              <div class="staff">

                <div class="staff-set" id="set-1">
                    <div class="staff-cards" id="staff-1">
                        <div  id="staff-1-info">
                            <p class="text-center fw-bold">Mr. Nishanth Kumar, B.Engg</p>
                            <p class="text-center">Technical Staff</p>
                            <p class="text-center">NITK-CRF</p>
                        </div>
                    </div>
                    <div class="staff-cards" id="staff-2">
                      <div  id="staff-1-info">
                          <p class="text-center fw-bold">Mr. Kiran, B. Engg</p>
                          <p class="text-center">Dept of XYZ</p>
                      </div>
                  </div>
                  <div class="staff-cards" id="staff-3">
                      <div  id="staff-1-info">
                          <p class="text-center fw-bold">Mr. Vikram Suvarna, Diploma (Mech Engg.)</p>
                          <p class="text-center">Dept of XYZ</p>
                      </div>
                  </div>
                  <div class="staff-cards" id="staff-4">
                      <div  id="staff-1-info">
                          <p class="text-center fw-bold">Mrs. Thrithila Shetty, B.Sc.</p>
                          <p class="text-center">Dept of XYZ</p>
                      </div>
                  </div>
                </div>

               <div class="staff-set" id="set-2">
                <div class="staff-cards" id="staff-5">
                    <div  id="staff-1-info">
                        <p class="text-center fw-bold">Mr. Pradeep</p>
                        <p class="text-center">Dept of XYZ</p>
                    </div>
                </div>
                <div class="staff-cards" id="staff-6">
                    <div  id="staff-1-info">
                        <p class="text-center fw-bold">Mr. Pradeep</p>
                        <p class="text-center">Dept of XYZ</p>
                    </div>
                </div>
               </div>
              </div>
          </div>  -->

           <div class="staff-parent">

                <!-- <div class="set" id="set1"> -->
                    <div class="staff-cards" id="staff-1" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Nishanth Kumar, B.Engg</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-2" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Kiran, B. Engg</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-3" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Vikram Suvarna, Diploma <span style="font-size: small;">(Mech Engg.)</span></h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-4" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mrs. Thrithila Shetty, B.Sc</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>
                <!-- </div> -->

                <!-- <div class="set" id="set2"> -->
                    <div class="staff-cards" id="staff-5" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Pradeep</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-6" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mrs. Pratheeksha K P, M.Sc.</h5>
                           <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-7" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Yashvanth K S, ITI</h5>
                          <h6 class="card-subtitle text-center">Electrician</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-8" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mrs. Vikrami, M.Com.</h5>
                          <h6 class="card-subtitle text-center">Office Asst.</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>
                <!-- </div> -->

                <!-- <div class="set" id="set3"> -->
                    <div class="staff-cards" id="staff-9" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Ms. Rakshitha M S, B.B.M</h5>
                          <h6 class="card-subtitle text-center">Purchase Section</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-10" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Ms. Disha A Shetty, M.Sc.</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-11" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mr. Jithesh Shetty, B.E</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>

                      <div class="staff-cards" id="staff-12" style="width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title text-center">Mrs. Suraksha S Shetty, M.Sc.</h5>
                          <h6 class="card-subtitle text-center">Technical Staff</h6>
                          <p class="card-text text-center">CRF NITK</p>
                        </div>
                      </div>
                <!-- </div> -->

                <!-- <div class="set" id="set4"> -->
                <div class="staff-cards" id="staff-13" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title text-center">Mr. Sanath S, B.Engg (Mech)</h5>
                        <h6 class="card-subtitle text-center">Technical Staff</h6>
                        <p class="card-text text-center">CRF NITK</p>
                    </div>
                    </div>
                <!-- </div> -->
            </div>

            <h1 id="faculities" class="text-center fw-bold">Associated Faculty In-Charge</h1>
            <div class="info-parent">
                <!-- set 1 -->
                <!-- <div class="info-children"> -->
                    <div class="info-cards" id="child-1">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. Anandhan_Srinivasan.jpg' %>
                        </div>
                        <!-- <hr> -->
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof Anandhan Srinivasan</p>
                            <p class="text-center">Dept. of MME</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-2">
                        <div class="info-img" id="equip-img">
                        <%= image_tag 'faculty/faculty/Prof. Arun M. Isloor.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. Arun M. Isloor</p>
                            <p class="text-center">Dept. of Chemistry</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-3">
                        <div class="info-img" id="equip-img">
                        <%= image_tag 'faculty/faculty/Prof. K.N. Prabhu.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. K.N. Prabhu</p>
                            <p class="text-center">Dept. of MME</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-4">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/m-n-satyanarayan-image.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. M.N. Satyanarayan</p>
                            <p class="text-center">Dept. of Physics</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-5">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. Rajmohan B.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. Rajmohan B</p>
                            <p class="text-center">Dept. of Chemical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-6">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. S-Murigendrappa.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. S.M. Murugendrappa</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-7">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. Srikantha Rao.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. Srikantha Rao</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- set 2 -->
                <!-- <div class="info-children"> -->
                    <div class="info-cards" id="child-8">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. Udaya Bhat K.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof Udaya Bhat </p>
                            <p class="text-center">Dept. of MME</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-9">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Prof. Veershetty Gumtapure.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Prof. Veershetty Gumtapure</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-10">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Ajay_Kumar Yadav.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Ajay Kumar Yadav</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-11">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. arun-kumar-thalla.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Arun Kumar Thalla</p>
                            <p class="text-center">Dept. of Civil Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-12">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/CPDevatha.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr.Devatha  C.P</p>
                            <p class="text-center">Dept. of Civil Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-13">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Gnanasekaran.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Gnanasekaran</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-14">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Gangamma.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Gangamma S</p>
                            <p class="text-center">Dept. of Chemical Engg.</p>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- set-3 -->
                <!-- <div class="info-children"> -->
                    <div class="info-cards" id="child-15">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/HemanthaKumar.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Hemantha Kumar</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-16">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/RavishankarKS.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. K.S. Ravishankar</p>
                            <p class="text-center">Dept. of MME.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-17">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Keyur.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Keyur Raval</p>
                            <p class="text-center">Dept. of Chemical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-18">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/NavinKamath.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Navin Karanth</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-19">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. ParthasarathyP.png' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Parthasarathy P</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-20">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Poornesh K.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Poornesh K</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-21">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Preetham-Kumar-G-V.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr.Preetham Kumar G V</p>
                            <p class="text-center">Dept. of MME</p>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- set 4 -->
                <!-- <div class="info-children"> -->
                    <div class="info-cards" id="child-22">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/pruthviraj-u.png' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Pruthviraj U</p>
                            <p class="text-center">Dept. of WROE.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-23">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Ramesh M.R.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Dr. Ramesh M.R</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-24">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Ranjith_M.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Ranjith M</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-25">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/M R Rahman.png' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr.Rizwanur Rahman</p>
                            <p class="text-center">Dept. of MME.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-26">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Sharanappa.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Sharanappa Joladarashi</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-27">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Shwetha H. R.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Shwetha H. R</p>
                            <p class="text-center">Dept. of WROE</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-28">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Somasekhara Rao Todeti.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Somasekhara Rao Todeti</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                <!-- </div> -->
                <!-- set 5 -->
                <!-- <div class="info-children"> -->
                    <div class="info-cards" id="child-29">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/srikanth.png' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Srikanth Bontha</p>
                            <p class="text-center">Dept. of Mechanical.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-30">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Sudhakar Jambagi.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Sudhakar Jambagi</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-31">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Sumanth-Govindarajan.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr.Sumanth-Govindarajan</p>
                            <p class="text-center">Dept. of MME</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-32">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Udaya kumar D.png' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr.Udaya kumar D</p>
                            <p class="text-center">Dept. of Chemistry.</p>
                        </div>
                    </div>
                    <div class="info-cards" id="child-33">
                        <div class="info-img" id="equip-img">
                            <%= image_tag 'faculty/faculty/Dr. Vasudeva M.jpg' %>
                        </div>
                        <div  id="equip-no">
                            <p class="text-center fw-bold">Dr. Vasudeva M</p>
                            <p class="text-center">Dept. of Mechanical Engg.</p>
                        </div>
                    </div>
                <!-- </div> -->

            </div>
</div>


<%=render "partials/footer" %>


<!--JS code for the switcher-->
<script>
  let coresec = document.getElementById('core-section');
  let staffsec = document.getElementById('staff-section');
  let core = document.getElementById('core');
  let staff = document.getElementById('staff');

  core.addEventListener('click', ()=> {
    coresec.classList.remove('vis');
    staffsec.classList.add('vis');
    core.classList.add('backcolor');
    staff.classList.remove('backcolor');

  })
  staff.addEventListener('click', ()=> {
    staffsec.classList.remove('vis');
    coresec.classList.add('vis');
    staff.classList.add('backcolor');
    core.classList.remove('backcolor');
  })
</script>
<!--switcher JS code ends here-->
