<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @spark_o.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @spark_o.composition %>
</p>

<p>
  <strong>Samplefe:</strong>
  <%= @spark_o.samplefe %>
</p>

<p>
  <strong>Sampleni:</strong>
  <%= @spark_o.sampleni %>
</p>

<p>
  <strong>Samplezn:</strong>
  <%= @spark_o.samplezn %>
</p>

<p>
  <strong>Samplesn:</strong>
  <%= @spark_o.samplesn %>
</p>

<p>
  <strong>Samplecu:</strong>
  <%= @spark_o.samplecu %>
</p>

<p>
  <strong>Sampleti:</strong>
  <%= @spark_o.sampleti %>
</p>

<p>
  <strong>Sampleal:</strong>
  <%= @spark_o.sampleal %>
</p>

<p>
  <strong>Samplepb:</strong>
  <%= @spark_o.samplepb %>
</p>

<p>
  <strong>Samplemg:</strong>
  <%= @spark_o.samplemg %>
</p>

<p>
  <strong>More:</strong>
  <%= @spark_o.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @spark_o.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @spark_o.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @spark_o.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @spark_o.status %>
</p>

<%= link_to 'Edit', edit_spark_o_path(@spark_o) %> |
<%= link_to 'Back', spark_os_path %>
