<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @five_axi.sample %>
</p>

<p>
  <strong>Material:</strong>
  <%= @five_axi.material %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @five_axi.depth %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @five_axi.operation %>
</p>

<p>
  <strong>Tool:</strong>
  <%= @five_axi.tool %>
</p>

<p>
  <strong>Specimentolerance:</strong>
  <%= @five_axi.specimentolerance %>
</p>

<p>
  <strong>Cncprogram:</strong>
  <%= @five_axi.cncprogram %>
</p>

<p>
  <strong>Rotationalspeed:</strong>
  <%= @five_axi.rotationalspeed %>
</p>

<p>
  <strong>Feedrate:</strong>
  <%= @five_axi.feedrate %>
</p>

<p>
  <strong>More:</strong>
  <%= @five_axi.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @five_axi.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @five_axi.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @five_axi.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @five_axi.status %>
</p>

<%= link_to 'Edit', edit_five_axi_path(@five_axi) %> |
<%= link_to 'Back', five_axis_path %>
