<%= form_with(model: hr_fesem_c) do |form| %>
  <% if hr_fesem_c.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hr_fesem_c.errors.count, "error") %> prohibited this hr_fesem_c from being saved:</h2>

      <ul>
        <% hr_fesem_c.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :sample, style: "display: block" %>
    <%= form.text_field :sample %>
  </div>

  <div>
    <%= form.label :composition, style: "display: block" %>
    <%= form.text_field :composition %>
  </div>

  <div>
    <%= form.label :stype, style: "display: block" %>
    <%= form.text_field :stype %>
  </div>

  <div>
    <%= form.label :sphase, style: "display: block" %>
    <%= form.text_field :sphase %>
  </div>

  <div>
    <%= form.label :measurement, style: "display: block" %>
    <%= form.text_field :measurement %>
  </div>

  <div>
    <%= form.label :eds_required, style: "display: block" %>
    <%= form.text_field :eds_required %>
  </div>

  <div>
    <%= form.label :toxic, style: "display: block" %>
    <%= form.text_field :toxic %>
  </div>

  <div>
    <%= form.label :conducting, style: "display: block" %>
    <%= form.text_field :conducting %>
  </div>

  <div>
    <%= form.label :more, style: "display: block" %>
    <%= form.text_field :more %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>

<div class="container">
    <div id="equipment-name">
      <h1>HR-FESEM</h1>
    </div>
    <div class='hero'>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">No of Sample</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect03">Sample Composition</label>
      <input type="text" class="form-control" id="inputGroupSelect03" placeholder="Possible Elements">
    </div>

      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect03">Sample Phase</label>
        <input type="text" class="form-control" id="inputGroupSelect03" placeholder="Solid/ Powder/ Fibre/ Film/ etc..">
      </div>

      <div>
          <label class="input-group-text" for="inputGroupSelect02">Measurement Required</label>
          <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
          <label class="form-check-label" for="flexCheckChecked">
            SEM
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            EBSD
          </label>
        </div>
              <div><p class="text-warning">Max. 1 Sample</p></div>
      </div>

 <div class="input-group mb-3">
      <label class="input-group-text text-info" for="inputGroupSelect04">EDX/EDAX required: </label>
      <select class="form-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        <option value="2">Yes</option>
        <option value="3">No</option>
      </select>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect04">Sample is toxic?</label>
      <select class="form-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        <option value="2">Yes</option>
        <option value="3">No</option>
      </select>
    </div>

     <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect04">Sample is Conducting?</label>
      <select class="form-select" id="inputGroupSelect04">
        <option selected>Choose...</option>
        <option value="2">Yes</option>
        <option value="3">No</option>
      </select>
    </div>

      <div class="input-group mb-3" id="collegeid-input">
        <label for="exampleInputEmail1" class="input-group-text ">Reference Files</label>
        <input type="file" class="form-control " id="exampleInputEmail1" >
      </div>

    <div class="input-group mb-3">
      <input type="text" class="form-control" id="maxdegreeInput" placeholder="Tell us more about testing requirement">
    </div>

  <div class="actions">
      <button type="submit" class="btn btn-primary" id="sbt">Book Slot</button>
  </div>

  </div>
</div>

<%=render "partials/footer" %>
