<div id="<%= dom_id hr_fesem_c %>">
  <p>
    <strong>Sample:</strong>
    <%= hr_fesem_c.sample %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= hr_fesem_c.composition %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= hr_fesem_c.stype %>
  </p>

  <p>
    <strong>Sphase:</strong>
    <%= hr_fesem_c.sphase %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= hr_fesem_c.measurement %>
  </p>

  <p>
    <strong>Eds required:</strong>
    <%= hr_fesem_c.eds_required %>
  </p>

  <p>
    <strong>Toxic:</strong>
    <%= hr_fesem_c.toxic %>
  </p>

  <p>
    <strong>Conducting:</strong>
    <%= hr_fesem_c.conducting %>
  </p>

  <p>
    <strong>More:</strong>
    <%= hr_fesem_c.more %>
  </p>

</div>
