<p style="color: green"><%= notice %></p>

<%= render @hr_fesem_c %>

<div>
  <%= link_to "Edit this hr fesem c", edit_hr_fesem_c_path(@hr_fesem_c) %> |
  <%= link_to "Back to hr fesem cs", hr_fesem_cs_path %>

  <%= button_to "Destroy this hr fesem c", @hr_fesem_c, method: :delete %>
</div>
