<div id="<%= dom_id xrd %>">
  <p>
    <strong>Sample:</strong>
    <%= xrd.sample %>
  </p>

  <p>
    <strong>Measurement:</strong>
    <%= xrd.measurement %>
  </p>

  <p>
    <strong>Composition:</strong>
    <%= xrd.composition %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= xrd.stype %>
  </p>

  <p>
    <strong>Mind:</strong>
    <%= xrd.mind %>
  </p>

  <p>
    <strong>Maxd:</strong>
    <%= xrd.maxd %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= xrd.reference %>
  </p>

  <p>
    <strong>More:</strong>
    <%= xrd.more %>
  </p>

</div>
