<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
      <h1>3D Non-Contact Profilometer</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: three_d_non_contact) do |form| %>
        <% if three_d_non_contact.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(three_d_non_contact.errors.count, "error") %> prohibited this three_d_non_contact from being saved:</h2>

            <ul>
              <% three_d_non_contact.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>


      <div class="input-group mb-3">
        <%= form.label :scant, "ScanType", class:"input-group-text", for:"scan-type"%>
        <%= form.select(:scant, ['Area', 'Profile'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "scan-type",:required => true}) %>
    </div>
  
    <div class="input-group mb-3">
        <%= form.label :sample,"No of Sample", class:"input-group-text", for:"inputGroupSelect01"%>
        <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
    </div>

    <div class="input-group mb-3">
        <%= form.label :xrange,"X Range", class:"input-group-text", for:"x_range"%>
        <%= form.text_field :xrange, type:"text", class:"form-control", id:"x_range", placeholder:"Possible Elements" %>
        <%= form.label :xrange,"mm", class:"input-group-text", for:"x_range"%>
    </div>
    
    <div class="input-group mb-3 vis"  id="y_range" >
      <%= form.label :yrange,"Y Range", class:"input-group-text", for:"y_range-f"%>
      <%= form.text_field :yrange, type:"text", class:"form-control", id:"y_range-f", placeholder:"Possible Elements" %>
      <%= form.label :yrange,"mm", class:"input-group-text", for:"y_range-f" %>
    </div>

      <div class="input-group mb-3">
        <%= form.label :stepinterval,"Step Interval", class:"input-group-text", for:"step_interval" %>
        <%= form.text_field :stepinterval, type:"text", class:"form-control", id:"step_interval", placeholder:"Solid/ Powder/ Fibre/ Film/ etc.." %>
        <%= form.label :stepinterval,"µm", class:"input-group-text", for:"step_interval" %>
      </div>

    <div>
      <div class="text-warning"><p><b>Note:</b>Sample must be flat as possible. (Approx. 180° flatness)</p>
      </div>

      <h2 class="text-info text-center">SAFETY INFORMATION</h2>

      <div>
      <div class="fw-bold"><p></p>
      </div>

 <div class="input-group mb-3">
       <%= form.label :incompatible, "Whether incompatible with any material ", class:"input-group-text fw-bold", for:"incompatibile" %>
       <%= form.select(:incompatible, ['Yes','No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "incompatibile",:required => true}) %>

    </div>
    <div class="input-group mb-3">
    <%= form.label :toxicity, "ScanType", class:"input-group-text", for:"inputGroupSelect01"%>
    <%= form.select(:toxicity, ['yes', 'No'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
</div>

    <div class="input-group mb-3" id="ref-file">
    <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
    <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
  </div>
    <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>
      <div id="instruct">
      <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
  </div>
  <div class="input-group mb-3">
  <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more"%>
  <%= form.text_field :more, type:"text", class:"form-control", id:"tell-us-more", placeholder:"Possible Elements" %>
  </div>

  <div class="actions">
      <%= form.submit 'Book Slot',class:"btn btn-primary" ,id:"sbt" %>
    </div>
  </div>
</div>
</div>
</div>

<%=render "partials/footer" %>








<div>

</div>

<div>

</div>
<% end %>

 
<script>

    let incompability = document.getElementById('incompatibile');
    let mentionCompabilty = document.getElementById('mention-compability');
    let yRange = document.getElementById('y_range');
    let scanType = document.getElementById('scan-type');
    
    
    incompability.addEventListener('click', () => {
        mentionCompabilty.classList.add('vis');

        if(incompability.value == 'Yes'){
          mentionCompabilty.classList.toggle('vis')
        }
    })
    scanType.addEventListener('click', () => {
        yRange.classList.add('vis');

        if(scanType.value == 'Area'){
          yRange.classList.toggle('vis')
        }
    })

</script>
