<div id="<%= dom_id three_d_non_contact %>">
  <p>
    <strong>Sample:</strong>
    <%= three_d_non_contact.sample %>
  </p>

  <p>
    <strong>Scant:</strong>
    <%= three_d_non_contact.scant %>
  </p>


  <p>
    <strong>Stepinterval:</strong>
    <%= three_d_non_contact.stepinterval %>
  </p>

  <p>
    <strong>Incompatible:</strong>
    <%= three_d_non_contact.incompatible %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= three_d_non_contact.toxicity %>
  </p>

  <p>
    <strong>More:</strong>
    <%= three_d_non_contact.more %>
  </p>

</div>
