<p style="color: green"><%= notice %></p>

<%= render @three_d_non_contact %>

<div>
  <%= link_to "Edit this three d non contact", edit_three_d_non_contact_path(@three_d_non_contact) %> |
  <%= link_to "Back to three d non contacts", three_d_non_contacts_path %>

  <%= button_to "Destroy this three d non contact", @three_d_non_contact, method: :delete %>
</div>
