<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
      <h1>Ball Milling Unit</h1>
    </div>
    <div class='hero'>

      <%= form_with(model: ball_mailing) do |form| %>
        <% if ball_mailing.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(ball_mailing.errors.count, "error") %> prohibited this ball_mailing from being saved:</h2>

            <ul>
              <% ball_mailing.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
            <% if @slot_type=="regular"%>
            <div class="input-group mb-3">
              <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample_no"%>
              <%= form.select(:sample, [1, 2,3,4,5], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample_no",:required => true}) %>
            </div>
             <%else%>
             <div id="instruct">
                 <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
                 <p class="text-danger"></p>
             </div>
             <div class="input-group mb-3">
               <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
               <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
             </div>
             <%end%>




    <div class="input-group mb-3">
      <%= form.label :feed, "Feed Material", class:"input-group-text",for:"feed_material"%>
      <%= form.text_field :feed, class:"form-control", id:"feed_material", placeholder:""%>
    </div>


    <div>
      <%= form.label :toxicity, "Type of Ball Milling", class:"form-check-label fw-bold", for:"type_of_ball_" %>
        <div class="form-check">
            <%= form.radio_button :btype, "Planetary [100 - 600 RPM]", class:"form-check-input", type:"radio", id:"planetary" %>
            <%= form.label :btype, "Planetary [100 - 600 RPM]", class:"form-check-label", for:"planetary"%>
        </div>
        <div class="form-check">
              <%= form.radio_button :btype, 'High Energy [400 - 2000 RPM]', class:"form-check-input", type:"radio", id:"high_energy"  %>
              <%= form.label :btype, "High Energy [400 - 2000 RPM]", class:"form-check-label", for:"high_energy"%>
        </div>
    </div>


    <div class="input-group mb-3">
      <%= form.label :grind,"Grinding Feed Type", class:"input-group-text", for:"grind_feed_type"%>
      <%= form.select(:grind, ["Wet", "Dry"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "grind_feed_type",:required => true}) %>
    </div>


    <div class="input-group mb-3 vis" id="solvent-type-div">
      <%= form.label :specify, "Specify type of Solvent", class:"input-group-text",for:"spec_solvent"%>
      <%= form.text_field :specify, class:"form-control", id:"spec_solvent", placeholder:""%>
    </div>

    <div>
        <p class="fw-bold text-info">Measurement Information</p>
    </div>

    <div id='step1' class='set vis'>
      <div class="input-group mb-3">
        <%= form.label :size, "Grain Size (<3mm)", class:"input-group-text",for:"grain_size"%>
        <%= form.text_field :size, class:"form-control", id:"grain_size", placeholder:""%>
        <%= form.label :size, "mm", class:"input-group-text",for:"grain_size"%>
      </div>

      <div class="input-group mb-3">
        <%= form.label :grinding, "Grinding Time", class:"input-group-text",for:"grind_time"%>
        <%= form.text_field :grinding, class:"form-control", id:"grind_time", placeholder:""%>
        <%= form.label :grinding, "mins", class:"input-group-text",for:"grind_time"%>
      </div>

      <div class="input-group mb-3">
        <%= form.label :speed, "Speed (<2000)", class:"input-group-text",for:"speed"%>
        <%= form.text_field :speed, class:"form-control", id:"speed", placeholder:""%>
        <%= form.label :speed, "RPM", class:"input-group-text",for:"speed"%>
      </div>

      <div class="input-group mb-3">
        <%= form.label :hardness, "Hardness", class:"input-group-text",for:"hardness"%>
        <%= form.text_field :hardness, class:"form-control", id:"hardness", placeholder:""%>
        <%= form.label :hardness, "Mohs", class:"input-group-text",for:"hardness"%>
      </div>
    </div>


    <div id='step2' class='set vis'>
            <div class="input-group mb-3 mt-3">
              <label class="input-group-text text-succcess" for="grain_size_2">Grain Size (&lt3mm)</label>
              <input type="text" class="form-control" id="grain_size_2" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_2">mm</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="grind_time_2">Grinding Time</label>
              <input type="text" class="form-control" id="grind_time_2" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_2">mins</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="speed_2">Speed (&lt2000)</label>
              <input type="text" class="form-control" id="speed_2" placeholder="">
              <label class="input-group-text" for="speed_2">RPM</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="hardness_2">Hardness</label>
              <input type="text" class="form-control" id="hardness_2" placeholder="">
              <label class="input-group-text" for="hardness_2">Mohs</label>
            </div>
        </div>

        <div id='step3' class='set vis'>
            <div class="input-group mb-3 mt-3">
              <label class="input-group-text text-succcess" for="grain_size_3">Grain Size (&lt3mm)</label>
              <input type="text" class="form-control" id="grain_size_3" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_3">mm</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="grind_time_3">Grinding Time</label>
              <input type="text" class="form-control" id="grind_time_3" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_3">mins</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="speed_3">Speed (&lt2000)</label>
              <input type="text" class="form-control" id="speed_3" placeholder="">
              <label class="input-group-text" for="speed_3">RPM</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="hardness_3">Hardness</label>
              <input type="text" class="form-control" id="hardness_3" placeholder="">
              <label class="input-group-text" for="hardness_3">Mohs</label>
            </div>
        </div>

        <div id='step4' class='set vis'>
        <div class="input-group mb-3 mt-3">
                <label class="input-group-text text-succcess" for="grain_size_4">Grain Size (&lt3mm)</label>
              <input type="text" class="form-control" id="grain_size_4" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_4">mm</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="grind_time_4">Grinding Time</label>
              <input type="text" class="form-control" id="grind_time_4" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_4">mins</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="speed_4">Speed (&lt2000)</label>
              <input type="text" class="form-control" id="speed_4" placeholder="">
              <label class="input-group-text" for="speed_4">RPM</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="hardness_4">Hardness</label>
              <input type="text" class="form-control" id="hardness_4" placeholder="">
              <label class="input-group-text" for="hardness_4">Mohs</label>
            </div>
        </div>

<div id='step5' class='set vis'>
            <div class="input-group mb-3 mt-3">
              <label class="input-group-text text-succcess" for="grain_size_5">Grain Size (&lt3mm) </label>
              <input type="text" class="form-control" id="grain_size_5" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_5">mm</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="grind_time_5">Grinding Time</label>
              <input type="text" class="form-control" id="grind_time_5" placeholder="">
              <label class="input-group-text text-succcess" for="grain_size_5">mins</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text text-succcess" for="speed_5">Speed (&lt2000)</label>
              <input type="text" class="form-control" id="speed_5" placeholder="">
              <label class="input-group-text" for="speed_5">RPM</label>
            </div>

            <div class="input-group mb-3">
              <label class="input-group-text" for="hardness_5">Hardness</label>
              <input type="text" class="form-control" id="hardness_5" placeholder="">
              <label class="input-group-text" for="hardness_5">Mohs</label>
            </div>
        </div>





    <div>
        <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
    </div>


    <div>
      <%= form.label :toxicity, "Toxicity", class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
        <div class="form-check">
            <%= form.radio_button :toxicity, "Hazardous", class:"form-check-input", type:"radio", id:"flexRadioDefault22" %>
            <%= form.label :toxicity, "Hazardous", class:"form-check-label", for:"flexRadioDefault21"%>
        </div>
        <div class="form-check">
              <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault21",:checked => true  %>
              <%= form.label :toxicity, "Non-Hazardous", class:"form-check-label", for:"flexRadioDefault21"%>
        </div>
    </div>




        <div>
          <%= form.label :compatibility, "Compatability", class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :compatibility, "Corrosive", class:"form-check-input", type:"radio", id:"flexRadioDefaultwu2" %>
                <%= form.label :compatibility, "Corrosive", class:"form-check-label", for:"flexRadioDefaultwu2"%>
            </div>
            <div class="form-check">
                  <%= form.radio_button :compatibility, 'Non-Corrosive', class:"form-check-input", type:"radio", id:"flexRadioDefaultwu1",:checked => true  %>
                  <%= form.label :compatibility, "Non-Corrosive", class:"form-check-label", for:"flexRadioDefaultwu1"%>
            </div>
        </div>



        <div class="input-group mt-3 mb-3" id="user-file-input">
          <%= form.label :references ,"Attach Reference Paper(optional)" ,for:"upload-file", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"upload-file",multiple:true  %>
          </div>


          <div class="input-group mb-3">
            <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
            <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
        </div>

        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="mb-3">
          <%= form.label :more,"Additonal information,if any:", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>

        <div class="actions">
            <%= form.submit "Book Slot", class:"btn btn-primary", id:"sbt" %>
        </div>
  </div>
</div>

<%=render "partials/footer" %>

<% end %>


<script>
    let sample_no = document.getElementById('sample_no');
    let step1 = document.getElementById('step1');
    let step2 = document.getElementById('step2');
    let step3 = document.getElementById('step3');
    let step4 = document.getElementById('step4');
    let step5 = document.getElementById('step5');
    let grind_feed_type = document.getElementById('grind_feed_type');
    let solvent_type_div = document.getElementById('solvent-type-div');

    sample_no.addEventListener('click', () => {
        step1.classList.add('vis');
        step2.classList.add('vis');
        step3.classList.add('vis');
        step4.classList.add('vis');
        step5.classList.add('vis');

        if (sample_no.value == 1) {
            step1.classList.toggle('vis');
        }

        if (sample_no.value == 2) {
            step1.classList.toggle('vis');
            step2.classList.toggle('vis');
        }
        if (sample_no.value == 3) {
            step1.classList.toggle('vis');
            step2.classList.toggle('vis');
            step3.classList.toggle('vis');
        }
        if (sample_no.value == 4) {
            step1.classList.toggle('vis');
            step2.classList.toggle('vis');
            step3.classList.toggle('vis');
            step4.classList.toggle('vis');
        }
        if (sample_no.value == 5) {
            step1.classList.toggle('vis');
            step2.classList.toggle('vis');
            step3.classList.toggle('vis');
            step4.classList.toggle('vis');
            step5.classList.toggle('vis');
        }

    })

    grind_feed_type.addEventListener('click', ()=> {
      solvent_type_div.classList.add('vis')

      if (grind_feed_type.value == "Wet") {
        solvent_type_div.classList.toggle('vis')
      }
    })
</script>
