<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @ball_mailing.sample %>
</p>

<p>
  <strong>Feed:</strong>
  <%= @ball_mailing.feed %>
</p>

<p>
  <strong>Btype:</strong>
  <%= @ball_mailing.btype %>
</p>

<p>
  <strong>Grind:</strong>
  <%= @ball_mailing.grind %>
</p>

<p>
  <strong>Specify:</strong>
  <%= @ball_mailing.specify %>
</p>

<p>
  <strong>Size:</strong>
  <%= @ball_mailing.size %>
</p>

<p>
  <strong>Grinding:</strong>
  <%= @ball_mailing.grinding %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @ball_mailing.speed %>
</p>

<p>
  <strong>Hardness:</strong>
  <%= @ball_mailing.hardness %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @ball_mailing.toxicity %>
</p>

<p>
  <strong>Compatibility:</strong>
  <%= @ball_mailing.compatibility %>
</p>

<p>
  <strong>More:</strong>
  <%= @ball_mailing.more %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ball_mailing.status %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @ball_mailing.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @ball_mailing.slottime %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @ball_mailing.debit %>
</p>

<%= link_to 'Edit', edit_ball_mailing_path(@ball_mailing) %> |
<%= link_to 'Back', ball_mailings_path %>
