<p id="notice"><%= notice %></p>

<h1>Training3s</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @training3s.each do |training3| %>
      <tr>
        <td><%= link_to 'Show', training3 %></td>
        <td><%= link_to 'Edit', edit_training3_path(training3) %></td>
        <td><%= link_to 'Destroy', training3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Training3', new_training3_path %>
