<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @spectro_radio_meter.sample %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @spectro_radio_meter.nature %>
</p>

<p>
  <strong>Application:</strong>
  <%= @spectro_radio_meter.application %>
</p>

<p>
  <strong>Stype:</strong>
  <%= @spectro_radio_meter.stype %>
</p>

<p>
  <strong>More:</strong>
  <%= @spectro_radio_meter.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @spectro_radio_meter.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @spectro_radio_meter.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @spectro_radio_meter.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @spectro_radio_meter.status %>
</p>

<%= link_to 'Edit', edit_spectro_radio_meter_path(@spectro_radio_meter) %> |
<%= link_to 'Back', spectro_radio_meters_path %>
