<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>

<div class="container">
    <div id="equipment-name">
        <h1><%= @equipment.name%></h1>
    </div>
    <div class="hero">
    
        <div class="equipment-img-wrap">
            <div class="equipment-img">
                <div id="carouselExample" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="https://crf.nitk.ac.in/images/XRD1.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/RS_Result.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="https://crf.nitk.ac.in/images/XRDCompare.png" class="equipment-img-tag d-block w-100" alt="...">
                        </div>
                    </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                </div>
            </div>
        </div>
        <% @titles = @equipment.titles.all.map do |title| %>
        <p class="fw-bold hero-element mb-2"><%= title.title%></p>
        <ul>
        <% @contents = title.contents.all.map do |content| %>
        <section class="hero-element-text mb-4"><%= content.name%></section>

         <!-- <li> -->
            <% @briefs = content.briefs.all.map do |brief| %>
            <section><%= brief.name%></section>
            <% end %>
        <!-- </li> -->

        <% end %>
        </ul>
        <% end %>

    </div>
</div>

<%=render "partials/footer" %>