<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div id="search-div">
        <form class="d-flex" role="search">
          <input class="form-control me-2 font-quicksand" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-warning" type="submit">Search</button>
        </form>
      </div>

      <div id="profile-div">
        <div class="btn-group btn-profile">
          <%= link_to "My Profile", edit_user_registration_path ,class:"btn btn-outline-warning profile-dropdown"%>
          <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu font-quicksand">
            <div>
              <p class="text-muted" id="profile-dropdown-info">Signed in as<p>
              <a class="dropdown-item" href="#">UserName</a>
            </div>
            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
            <li><a class="dropdown-item" href="#">My Slots</a></li>
            <%# <li><a class="dropdown-item" href="#">Records</a></li> %>
            <li><hr class="dropdown-divider"></li>
            <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
          </ul>
        </div>
      </div>
    </div>
  </nav>

<div class="container">
    <div id="equipment-name">
      <h1><%= @equipment.name%></h1>
    </div>
    <div class='hero'>
  <% @question = @equipment.questions.all.map do |q| %>
    <!-- <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label"></label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div> -->
    <div class="form-check">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
      <label class="form-check-label" for="flexRadioDefault1">
        Default radio
      </label>
    </div>
    <div class="form-check mb-3">
      <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
      <label class="form-check-label" for="flexRadioDefault2">
        Default checked radio
      </label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Choose...</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
      <label for="floatingInput"><%= q.name%></label>
    </div>
  <%end%>
  <div class="actions">
      <button type="submit" class="btn btn-primary" id="sbt">Submit</button>

    </div>
  </div>
</div>
<%=render "partials/footer" %>
