<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>


<div class="container">
    <div id="equipment-name">
      <h1>Specimen Grinding Equipment</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: grinding) do |form| %>
        <% if grinding.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(grinding.errors.count, "error") %> prohibited this grinding from being saved:</h2>

            <ul>
              <% grinding.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

    <div class="input-group mb-3">
      <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample-no"%>
      <%= form.select(:sample, [1, 2,3,4,5,6,7,8,9,10], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-no",:required => true}) %>
    </div>

    <div class="input-group mb-3">
      <%= form.label :diameter, "Sample Diameter", class:"input-group-text",for:"sample-dia"%>
      <%= form.text_field :diameter, class:"form-control", id:"sample-dia", placeholder:""%>
      <%= form.label :diameter, "mm", class:"input-group-text",for:"sample-dia"%>
    </div>

    <div class="input-group mb-3">
      <%= form.label :mould,"Moulding Required", class:"input-group-text", for:"mould-required"%>
      <%= form.select(:mould, ["Yes","No"], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "mould-required",:required => true}) %>
    </div>

    <div id="mould-warn" class="vis">
        <p class="text-danger">Note: Sample should not be more than 20mm for moulding</p>
    </div>

    <div class="grit-paper">
       <h5 class="text-warning fw-text">Grit Paper required</h5>
       <% options = ['80', '120','180','220','320','400','600','800','1000','3200'] %>
       <% options.each do |option| %>
         <%= check_box_tag 'grinding[grit][]', option, @grinding.grit.include?(option) %>
         <%= label_tag "grinding_grit_#{option}", option %><br>
       <% end %>
    </div>

    <div class="diamond-grit-paper">
       <h5 class="text-warning fw-text">Diamond Grit Paper required</h5>
       <% options = ['80', '220','600'] %>
       <% options.each do |option| %>
         <%= check_box_tag 'grinding[diamond][]', option, @grinding.diamond.include?(option) %>
         <%= label_tag "grinding_diamond_#{option}", option %><br>
       <% end %>
    </div>

    <div class="diamond-grit-paper">
       <h5 class="text-warning fw-text">Suspension Solution</h5>
       <% options = ['Collidal Silica', 'Collidal Alumina'] %>
       <% options.each do |option| %>
         <%= check_box_tag 'grinding[suspension][]', option, @grinding.suspension.include?(option) %>
         <%= label_tag "grinding_suspension_#{option}", option %><br>
       <% end %>
    </div>

    <div class="diamond-grit-paper">
      <div>
           <h5 class="text-warning fw-text">Lapping Paper required</h5>
          <div class="form-check">
              <%= form.radio_button :lapping, "Yes", class:"form-check-input", type:"radio", id:"flexRadioDefault2" %>
              <%= form.label :lapping, "Yes", class:"form-check-label", for:"flexRadioDefault2"%>
          </div>
          <div class="form-check">
                <%= form.radio_button :lapping, 'No', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true  %>
                <%= form.label :lapping, "No", class:"form-check-label", for:"flexRadioDefault1"%>
          </div>
      </div>



    <div class="input-group mb-3" id="ref-file">
        <%= form.label :references ,"Attach Reference Paper(optional)" ,for:"upload-file", class:"input-group-text "%>
        <%= form.file_field :references,class:"form-control ",  id:"upload-file",multiple:true  %>
    </div>


      <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
    </div>

    <div id="instruct">
        <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
    </div>


    <div class="mb-3">
      <%= form.label :more,"Additonal information,if any:", class:"input-group-text", for:"tell-us-more" %>
      <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3",placeholder:"Testing Requirement.. (max 120 chairs)"%>
    </div>


    <div class="actions">
        <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
    </div>

    </div>
  </div>
</div>


<%=render "partials/footer" %>

<script>
    let warn = document.getElementById('mould-warn')
    let mould = document.getElementById('mould-required')

    mould.addEventListener('click', ()=> {
        warn.classList.add('vis');

        if(mould.value=="Yes") {
            warn.classList.toggle('vis')
        }
    })

</script>






<% end %>
