<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">Atomic Force Slotbooker</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_atomic_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_atomic1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_atomic_path,class:"nav-link active sidelink-wrap" ,id:"active-tab"%>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_atomic3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_atomic4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
<div id="slots">
    <div id="current-tab">
        <h2 class="fw-bold font-unbounded" id="tab-name">Atomic Force Microscope:Alloted Slots</h2>
    </div>


    <div id="slot-details">
    <div>
        <table class="table table-hover font-quicksand">
            <thead>
                <tr class="table-head font-unbounded">
                    <th scope="col" id="application-no">Appl No</th>
                    <th scope="col" id="name">Name</th>
                    <th scope="col" id="institute">Institute</th>
                    <th scope="col" id="department">Department</th>
                    <th scope="col" id="contact-no">Contact No:</th>
                    <th scope="col" id="sample-no">No of Samples</th>
                    <th scope="col" id="Sample Type">Sample Type</th>
                    <th scope="col" id="Sample Technique">Sample Technique</th>
                    <th scope="col" id="Scan Rate">Scan Rate</th>
                    <th scope="col" id="X range">X Range</th>
                    <th scope="col" id="Y range">Y Range</th>
                    <th scope="col" id="Description"> Sample Description</th>
                    <th scope="col" id="Toxicity">Toxicity</th>
                    <th scope="col" id="Compatibility">Compatability</th>
                    <th scope="col" id="Carcenogenic">Carcinogenic</th>
                    <th scope="col" id="more">More</th>
                    <th scope="col" id="booked-on">Booked On</th>
                    <th scope="col" id="slot-date">Slot Date</th>
                    <th scope="col" id="slot-time">Slot Time</th>
                    <th scope="col">Status</th>
                    <th scope="col" id="reference-paper">Reference Paper</th>
                    <th scope="col" id="reassign-col">Reassign</th>
                    <th scope="col" id="cancel-col">Cancel Slot</th>
                </tr>
            </thead>
            <tbody>

                  <% @atomic2.where(status:'alloted').each do |atomic|%>
                  <tr>
                    <!-- Button trigger modal -->
                    <th scope="row">CRF/ATOMIC/<%=atomic.id %>	</th>
                    <td> <%= atomic.user.firstname%><nobr> <%= atomic.user.lastname%></td>
                    <td> <%= atomic.user.orgname%> </td>
                    <td> <%= atomic.user.department%> </td>
                    <td> <%= atomic.user.contact%> </td>
                    <td> <%= atomic.sample%> </td>
                    <td> <%= atomic.stype%> </td>
                    <td> <%= Array(atomic.technique).join(", ") %> </td>
                    <td> <%= atomic.scan_rate%> </td>
                    <td> <%= atomic.x%> </td>
                    <td> <%= atomic.y%> </td>
                    <td> <%= atomic.description%> </td>
                    <td> <%= atomic.toxicity%> </td>
                    <td> <%= atomic.compatability%> </td>
                    <td> <%= atomic.carcinogenic%> </td>
                    <td> <%= atomic.more%> </td>
                    <td>Booked</td>
                    <td><span style="white-space: nowrap;"><%= atomic.slotdate.strftime('%d-%m-%Y')if atomic.slotdate.present? %></td>
                    <td><%= atomic.slottime.strftime('%H:%M:%S') if atomic.slottime.present? %></td>
                    <td> <%= atomic.status %></td>
                    <%if atomic.references.attached? %>
                    <%atomic.references.each do |file|%>
                    <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                       <% end %>
                  <% else %>
                    <td>NA</td>
                  <% end %>
                  <td id="assign-btn">
                      <!-- Button trigger modal -->
                       <%= button_tag "Reassign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{atomic.id}" }, id: "ani" %>
                       <div id="<%= atomic.id%>" class="modal">

                     <div class="modal-dialog">
                         <div class="modal-content">
                             <div class="modal-header">
                                 <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= atomic.user.firstname %></b></h1>
                                 <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                             </div>
                             <div class="modal-body">
                               <%= form_with(model: atomic,local:true) do |form| %>

                               <div class="input-group mb-3">
                               <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                               <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                             </div>

                             <div class="input-group mb-3">
                             <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                             <%= form.time_field :slottime, class:"form-control", id:"composition",min: Time.now.strftime('%H:%M')%>
                           </div>

                               <%=form.fields_for :equipment_table do |f| %>
                                <div class="input-group mb-3">
                                   <%= f.hidden_field :app_no, value:"CRF/ATOMIC/#{atomic.id}"%>
                                 </div>

                                <div class="input-group mb-3">
                                  <%= f.hidden_field :username, value:"#{atomic.user.name}"%>
                               </div>

                               <div class="input-group mb-3">
                                 <%= f.hidden_field :dummy, value:"#{atomic.status}"%>
                              </div>

                               <div class="input-group mb-3">
                                 <%= f.hidden_field :debit_head, value:"#{atomic.debit}" %>
                              </div>

                               <%end%>
                                <%=atomic.id%>

                                 <div class="actions">
                                   <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>

                                 </div>
                               <% end %>
                             </div>
                             <div class="modal-footer">
                                 <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                 <button type="button" class="btn btn-primary">Cancel Slot</button>
                             </div>
                         </div>
                     </div>
                 </div>
                   </td>


                   <td id="cancel-btn">
                      <!-- Button trigger modal -->
                        <%= button_tag "Cancel", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"#ani#{atomic.id}" }, id: "anish" %>

                       <!-- Modal -->
                        <div id="ani<%= atomic.id%>" class="modal">
                         <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel the slot assigned to<b><%= atomic.user.firstname %></b></h1>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                   </div>
                                   <div class="modal-body">
                                     <%= form_for atomic do |f| %>
                                       <p> Are you sure you want to cancel the slot ?</p>
                                       <%= f.hidden_field :status, value: 'cancelled' %>
                                   <div class="actions">


                                   </div>

                                    </div>
                                   <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                         <%= f.submit "Cancelled", class:"btn btn-primary", id:"sbt" %>
                                   </div>
                                   <% end %>
                               </div>
                           </div>
                       </div>
                   </td>

<%end%>
              </tr>

          </tbody>
      </table>

  </div>
  </div>


</div>


</div>
<script>
// Get the modals and buttons
var modal1 = document.getElementByClass("modal");
var btn1 = document.getElementById("ani");
var modal2 = document.getElementByClass("modal2");
var btn2 = document.getElementById("anish");
// Add event listeners to the buttons
btn1.addEventListener("click", function() {
modal1.style.display = "block";
});

btn2.addEventListener("click", function() {
modal2.style.display = "block";
});

// Close the modal when the user clicks anywhere outside of it
window.addEventListener("click", function(event) {
if (event.target == modal1) {
modal1.style.display = "none";
}
if (event.target == modal2) {
modal2.style.display = "none";
}
});
</script>
