<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_bet_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_bet1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_bet2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_bet3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_bet4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">BET Surface Area Analyzer Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col">Appl No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Institute</th>
                        <th scope="col">Department</th>
                        <th scope="col">Contact No:</th>
                        <th scope="col">No of Samples</th>
                        <th scope="col">Temperature</th>
                        <th scope="co">Standard Analysis</th>
                        <th scope="col">Customized Analysis</th>
                        <th scope="col">Incompatability with any material</th>
                        <th scope="col">Toxicity</th>
                        <th scope="col"> Disposal Method</th>
                        <th scope="col">More Information</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col">Reference Paper</th>


                    </tr>
                </thead>
                <tbody>
                    <% @bet.all.each do |bet|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/BET/<%=bet.id %>	</th>
                        <td> <%= bet.user.firstname%><nobr><%= bet.user.lastname%> </td>
                        <td> <%= bet.user.orgname%> </td>
                        <td> <%= bet.user.department%> </td>
                        <td> <%= bet.user.contact%> </td>
                        <td> <%= bet.sample%> </td>
                        <td> <%= bet.degassing%> </td>
                        <td> <%= bet.analysiscustom%> </td>
                        <td> <%= bet.analysisstandard%> </td>
                        <td> <%= bet.incompatibe%> </td>
                        <td> <%= bet.toxicity%> </td>
                        <td> <%= bet.disposal%></td>
                        <td> <%= bet.more%> </td>
                        <td>Booked</td>
                        <td><span style="white-space: nowrap;"><%= bet.slotdate.strftime('%d-%m-%Y')if bet.slotdate.present? %></td>
                          <td><%= bet.slottime.strftime('%H:%M:%S') if bet.slottime.present? %></td>
                          <td><%= bet.status%></td>
                          <%if bet.references.attached? %>
                          <%bet.references.each do |file|%>
                          <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                             <% end %>
                        <% else %>
                          <td>NA</td>
                        <% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
