<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Ultra-Centrifuge Slotbooker',slotbooker_centrifuge_path, class:'navbar-brand',id:'title'%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_centrifuge_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_centrifuge1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_centrifuge2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_centrifuge3_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_centrifuge4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">CENTRIFUGE:Completed Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Volume</th>
                        <th scope="col" id="composition">Speed</th>
                        <th scope="col" id="phase">Temperature</th>
                        <th scope="col" id="range">Toxicity</th>
                        <th scope="col" id="phase">Compatibility</th>
                        <th scope="col" id="range">Carcinogenic</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @centrifuge3.where(status:'completed').each do |centrifuge3|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/CENTRIFUGE/<%=centrifuge.id %>	</th>
                        <td> <%= centrifuge.user.firstname%><nobr>  <%= centrifuge.user.lastname%></td>
                        <td> <%= centrifuge.user.orgname%> </td>
                        <td> <%= centrifuge.user.department%> </td>
                        <td> <%= centrifuge.user.contact%> </td>
                        <td> <%= centrifuge.sample%> </td>
                        <td> <%= centrifuge.volume%> </td>
                        <td> <%= centrifuge.speed%> </td>
                        <td> <%= centrifuge.temperature%> </td>
                        <td> <%= centrifuge.toxicity%> </td>
                        <td> <%= centrifuge.compatibility%> </td>
                        <td> <%= centrifuge.carcinogenic%> </td>
                        <td> <%= centrifuge.more%> </td>
                        <td>Booked</td>

                        <td><span style="white-space: nowrap;"><%= centrifuge.slotdate.strftime('%d-%m-%Y')if centrifuge.slotdate.present? %></td>
                          <td><%= centrifuge.slottime.strftime('%H:%M:%S') if centrifuge.slottime.present? %></td>

                          <td><%= centrifuge.status%></td>
                          <%if centrifuge.references.attached? %>
                        <%centrifuge.references.each do |file|%>
                        <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                           <% end %>
                      <% else %>
                        <td>NA</td>
                      </tr>
                        <%end%>
                    <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
