<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to '5-Axis CNC Slotbooker', slotbooker_fiveaxis_path, class:'navbar-brand', id:'title'%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
              <li class="nav-item">
                      <%= link_to 'All Slots',slotbooker_fiveaxis_path,class:"nav-link active sidelink-wrap" ,id:"active-tab"%>
              </li>
              <li class="nav-item">
                      <%= link_to 'Pending Slots',slotbooker_fiveaxis1_path,class:"nav-link active sidelink-wrap" %>
                      </li>
              <li class="nav-item">
                      <%= link_to 'Alloted Slots',slotbooker_fiveaxis2_path,class:"nav-link active sidelink-wrap" %>
                      </li>
              <li class="nav-item">
                      <%= link_to 'Completed Slots',slotbooker_fiveaxis3_path,class:"nav-link active sidelink-wrap" %>
                      </li>
              <li class="nav-item">
                    <%= link_to 'Cancelled Slots',slotbooker_fiveaxis4_path,class:"nav-link active sidelink-wrap" %>
              </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">FIVE AXIS:All Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Material</th>
                        <th scope="col" id="composition">Depth</th>
                        <th scope="col" id="phase">Operation</th>
                        <th scope="col" id="range">Tool</th>
                        <th scope="col" id="request">Specimen Tolerance</th>
                        <th scope="col" id="phase">Cnc Program</th>
                        <th scope="col" id="range">Rotational Speed</th>
                        <th scope="col" id="request">Feed Rate</th>
                        <th scope="col" id="request">More</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @fiveaxis.all.each do |fiveaxis|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/Five Axis/<%=fiveaxis.id %>	</th>
                        <td> <%= fiveaxis.user.firstname%><nobr> <%= fiveaxis.user.lastname%></td>
                        <td> <%= fiveaxis.user.orgname%> </td>
                        <td> <%= fiveaxis.user.department%> </td>
                        <td> <%= fiveaxis.user.contact%> </td>
                        <td> <%= fiveaxis.sample%> </td>
                        <td> <%= fiveaxis.material%> </td>
                        <td> <%= fiveaxis.depth%> </td>
                        <td> <%= fiveaxis.operation%> </td>
                        <td> <%= fiveaxis.tool%> </td>
                        <td> <%= fiveaxis.specimentolerance%> </td>
                        <td> <%= fiveaxis.cncprogram%> </td>
                        <td> <%= fiveaxis.rotationalspeed%> </td>
                        <td> <%= fiveaxis.feedrate%> </td>
                        <td> <%= fiveaxis.more%> </td>
                        <td>Booked</td>

                        <td><span style="white-space: nowrap;"><%= fiveaxis.slotdate.strftime('%d-%m-%Y')if fiveaxis.slotdate.present? %></td>
                        <td><%= fiveaxis.slottime.strftime('%H:%M:%S') if fiveaxis.slottime.present? %></td>

                          <td><%= fiveaxis.status%></td>
                          <%if fiveaxis.references.attached? %>
                      <%fiveaxis.references.each do |file|%>
                      <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                         <% end %>
                    <% else %>
                      <td>NA</td>
                    <% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
