<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to '5-Axis CNC Slotbooker', slotbooker_fiveaxis_path, class:'navbar-brand', id:'title'%>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_fiveaxis_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_fiveaxis1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_fiveaxis2_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_fiveaxis3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_fiveaxis4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">5 Axis CNC:Alloted Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                      <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Material</th>
                        <th scope="col" id="composition">Depth</th>
                        <th scope="col" id="phase">Operation</th>
                        <th scope="col" id="range">Tool</th>
                        <th scope="col" id="request">Specimen Tolerance</th>
                        <th scope="col" id="phase">Cnc Program</th>
                        <th scope="col" id="range">Rotational Speed</th>
                        <th scope="col" id="request">Feed Rate</th>
                        <th scope="col" id="request">More</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>

                        <th scope="col" id="reference-paper">Reassign</th>
                  <th scope="col" id="reference-paper">Cancel</th>
                  <th scope="col" id="cancel-col">Complete</th>
                    </tr>
                </thead>
                <tbody>

                      <% @fiveaxis2.where(status:'alloted').each do |fiveaxis2|%>
                      <tr>
                        <th scope="row">CRF/FIVE AXIS/<%=fiveaxis2.id %>	</th>

                        <td> <%= fiveaxis2.user.firstname%><nobr> <%= fiveaxis2.user.lastname%></td>
                        <td> <%= fiveaxis2.user.orgname%> </td>
                        <td> <%= fiveaxis2.user.department%> </td>
                        <td> <%= fiveaxis2.user.contact%> </td>
                        <td> <%= fiveaxis2.sample%> </td>
                        <td> <%= fiveaxis2.material%> </td>
                        <td> <%= fiveaxis2.depth%> </td>
                        <td> <%= fiveaxis2.operation%> </td>
                        <td> <%= fiveaxis2.tool%> </td>
                        <td> <%= fiveaxis2.specimentolerance%> </td>
                        <td> <%= fiveaxis2.cncprogram%> </td>
                        <td> <%= fiveaxis2.rotationalspeed%> </td>
                        <td> <%= fiveaxis2.feedrate%> </td>
                        <td> <%= fiveaxis2.more%> </td>
                        <td>Booked</td>

                        <td><span style="white-space: nowrap;"><%= fiveaxis2.slotdate.strftime('%d-%m-%Y')if fiveaxis2.slotdate.present? %></td>
                        <td><%= fiveaxis2.slottime.strftime('%H:%M:%S') if fiveaxis2.slottime.present? %></td>

                          <td><%= fiveaxis2.status%></td>
                        <%if fiveaxis2.references.attached? %>
                    <%fiveaxis2.references.each do |file|%>
                    <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                       <% end %>
                  <% else %>
                    <td>NA</td>
                  <% end %>
                  <td id="assign-btn">
                        <!-- Button trigger modal -->
                         <%= button_tag "Reassign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{fiveaxis2.id}" }, id: "ani" %>
                         <div id="<%= fiveaxis2.id%>" class="modal">

                       <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= fiveaxis2.user.firstname %></b></h1>
                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                               </div>
                               <div class="modal-body">
                                 <%= form_with(model: fiveaxis2,local:true) do |form| %>

                                 <div class="input-group mb-3">
                                   <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                   <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                                 </div>

                                 <div class="input-group mb-3">
                                 <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                 <%= form.time_field :slottime, class:"form-control", id:"composition",min: Time.now.strftime('%H:%M')%>
                               </div>

                                 <%=form.fields_for :equipment_table do |f| %>
                                  <div class="input-group mb-3">
                                     <%= f.hidden_field :app_no, value:"CRF/FIVE/#{fiveaxis2.id}"%>
                                   </div>

                                  <div class="input-group mb-3">
                                    <%= f.hidden_field :username, value:"#{fiveaxis2.user.name}"%>
                                 </div>

                                 <div class="input-group mb-3">
                                   <%= f.hidden_field :dummy, value:"#{fiveaxis2.status}"%>
                                </div>

                                 <div class="input-group mb-3">
                                   <%= f.hidden_field :debit_head, value:"#{fiveaxis2.debit}" %>
                                </div>

                                 <%end%>

                                   <div class="actions">
                                     <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>

                                   </div>
                                 <% end %>
                               </div>
                               <div class="modal-footer">
                                   <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                   <button type="button" class="btn btn-primary">Cancel Slot</button>
                               </div>
                           </div>
                       </div>
                   </div>
                     </td>


                     <td id="cancel-btn">
                        <!-- Button trigger modal -->
                          <%= button_tag "Cancel", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"#ani#{fiveaxis2.id}" }, id: "anish" %>

                         <!-- Modal -->
                          <div id="ani<%= fiveaxis2.id%>" class="modal">
                           <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel the slot assigned to <b><%= fiveaxis2.user.firstname %></b></h1>
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                     </div>
                                     <div class="modal-body">
                                       <%= form_for fiveaxis2 do |f| %>
                                         <p> Are you sure you want to cancel the slot ?</p>
                                         <%= f.hidden_field :status, value: 'cancelled' %>
                                     <div class="actions">


                                     </div>

                                      </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                           <%= f.submit "Cancelled", class:"btn btn-primary", id:"sbt" %>
                                     </div>
                                     <% end %>
                                 </div>
                             </div>
                         </div>
                     </td>
                     <td id="complete-btn">
                        <!-- Button trigger modal -->
                          <%= button_tag "Complete", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"#mai#{fiveaxis2.id}" }, id: "anish" %>

                         <!-- Modal -->
                          <div id="mai<%= fiveaxis2.id%>" class="modal">
                           <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1 class="modal-title fs-5" id="staticBackdropLabel">Complete the slot assigned to <b><%= fiveaxis2.user.firstname %></b></h1>
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                     </div>
                                     <div class="modal-body">
                                       <%= form_for fiveaxis2 do |f| %>
                                         <p> Are you sure you want to complete the slot ?</p>
                                         <%= f.hidden_field :status, value: 'completed' %>
                                     <div class="actions">


                                     </div>

                                      </div>
                                     <div class="modal-footer">
                                         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                           <%= f.submit "Complete", class:"btn btn-primary", id:"sbt" %>
                                     </div>
                                     <% end %>
                                 </div>
                             </div>
                         </div>
                     </td>

  <%end%>
                </tr>

            </tbody>
        </table>

    </div>
    </div>


  </div>


  </div>
  <script>
  // Get the modals and buttons
  var modal1 = document.getElementByClass("modal");
  var btn1 = document.getElementById("ani");
  var modal2 = document.getElementByClass("modal2");
  var btn2 = document.getElementById("anish");
  // Add event listeners to the buttons
  btn1.addEventListener("click", function() {
  modal1.style.display = "block";
  });

  btn2.addEventListener("click", function() {
  modal2.style.display = "block";
  });

  // Close the modal when the user clicks anywhere outside of it
  window.addEventListener("click", function(event) {
  if (event.target == modal1) {
  modal1.style.display = "none";
  }
  if (event.target == modal2) {
  modal2.style.display = "none";
  }
  });
  </script>
