<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_xrd_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_xrd1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_xrd2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_xrd3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_xrd4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">All Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Measurement</th>
                        <th scope="col" id="composition">Composition</th>
                        <th scope="col" id="phase">Type</th>
                        <th scope="col" id="range">Range</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% Friction.all.each do |fric|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/FRIC/<%=fric.id %>	</th>
                        <td> <%= fric.user.name%> </td>
                        <td> <%= fric.user.orgname%> </td>
                        <td> <%= fric.user.department%> </td>
                        <td> <%= fric.user.contact%> </td>
                        <td> <%= fric.sample%> </td>
                        <td> <%= fric.material%> </td>
                        <td> <%= fric.pstype%> </td>
                        <td> <%= fric.tool%> </td>
                        <td> <%= fric.toolnom%> </td>
                        <td> <%= fric.rspeed%>
                        <td> <%= fric.wspeed%> </td>
                        <td> <%= fric.otforce%> </td>
                        <td> <%= fric.temp%> </td>
                        <td> <%= fric.measurement%> </td>
                        <td> <%= fric.depth%> </td>
                        <td> <%= fric.ptforce%>
                        <td> <%= fric.more%> </td>
                        <td>Booked</td>

                        <td> <%= fric.slotdate %></td>

                        <td> <%= fric.slottime %></td>

                          <td><%= fric.status%></td>
                          <td><%fric.references.each do |file|%>
                         <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %>
                     <%end%></td>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
