<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_ftnmr_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_ftnmr1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_ftnmr2_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_ftnmr3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_ftnmr4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">FTNmr:Alloted Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                      <th scope="col">Appl No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Institute</th>
                      <th scope="col">Department</th>
                      <th scope="col">Contact No:</th>
                      <th scope="col">No of Samples</th>
                      <th scope="col">Nature of Sample</th>
                      <th scope="col">Sample Phase</th>
                      <th scope="co">Solvent 1</th>
                      <th scope="co">Measurement 1</th>
                      <th scope="co">Solvent 2</th>
                      <th scope="co">Measurement 2</th>
                      <th scope="co">Solvent 3</th>
                      <th scope="co">Measurement 3</th>
                      <th scope="co">Solvent 4</th>
                      <th scope="co">Measurement 4</th>
                      <th scope="co">Solvent 5</th>
                      <th scope="co">Measurement 5</th>
                      <th scope="col">Toxicity</th>
                      <th scope="col">Health Hazard</th>
                      <th scope="col">Health hazard Method</th>
                      <th scope="col">Customisied Tempertaure</th>
                      <th scope="col">More Information</th>
                      <th scope="col" id="booked-on">Booked On</th>
                      <th scope="col" id="slot-date">Slot Date</th>
                      <th scope="col">Slot Time</th>
                      <th scope="col">Status</th>
                      <th scope="col">Reference Paper</th>

                          <th scope="col" id="reference-paper">Reassign</th>
                    <th scope="col" id="reference-paper">Cancel</th>
                    </tr>
                </thead>
                <tbody>

                      <% @ft2.where(status:'alloted').each do |ftnmr|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/ftnmr/<%=ftnmr.id %>	</th>
                        <td> <%= ftnmr.user.name%> </td>
                        <td> <%= ftnmr.user.orgname%> </td>
                        <td> <%= ftnmr.user.department%> </td>
                        <td> <%= ftnmr.user.contact%> </td>
                        <td> <%= ftnmr.sample%> </td>
                        <td> <%= ftnmr.nature%> </td>
                        <td> <%= ftnmr.phase%> </td>
                        <td> <%= ftnmr.solvent1%> </td>
                        <td> <%= Array(ftnmr.measurement1).join(", ") %> </td>
                        <td> <%= ftnmr.solvent2%> </td>
                        <td> <%= Array(ftnmr.measurement2).join(", ") %> </td>
                        <td> <%= ftnmr.solvent3%> </td>
                        <td> <%= Array(ftnmr.measurement3).join(", ") %> </td>
                        <td> <%= ftnmr.solvent4%> </td>
                        <td> <%= Array(ftnmr.measurement4).join(", ") %> </td>
                        <td> <%= ftnmr.solvent5%> </td>
                        <td> <%= Array(ftnmr.measurement5).join(", ") %> </td>
                        <td> <%= ftnmr.toxicity%> </td>
                        <td> <%= ftnmr.health%> </td>
                        <td> <%= Array(ftnmr.hazardmethod).join(", ") %> </td>
                        <td> <%= ftnmr.temp%> </td>
                        <td> <%= ftnmr.more%> </td>
                        <td>Booked</td>

                        <td> <%= ftnmr.slotdate %></td>

                        <td> <%= ftnmr.slottime %></td>

                          <td><%= ftnmr.status%></td>
                          <%if ftnmr.references.attached? %>
                    <%ftnmr.references.each do |file|%>
                    <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                       <% end %>
                  <% else %>
                    <td>NA</td>
                  <% end %>
                     <td id="assign-btn">
                         <!-- Button trigger modal -->
                          <%= button_tag "Reassign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{ftnmr.id}" }, id: "ani" %>
                          <div id="<%= ftnmr.id%>" class="modal">

                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= ftnmr.user.name %></b></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  <%= form_with(model: ftnmr,local:true) do |form| %>

                                      <div class="input-group mb-3">
                                      <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                      <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                    </div>

                                    <div class="input-group mb-3">
                                    <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                    <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                  </div>
                                   <%=ftnmr.id%>

                                    <div class="actions">
                                      <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>

                                    </div>
                                  <% end %>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Cancel Slot</button>
                                </div>
                            </div>
                        </div>
                    </div>
                      </td>


                      <td id="cancel-btn">
                         <!-- Button trigger modal -->
                           <%= button_tag "Cancel", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"#ani#{ftnmr.id}" }, id: "anish" %>

                          <!-- Modal -->
                           <div id="ani<%= ftnmr.id%>" class="modal">
                            <div class="modal-dialog">
                                  <div class="modal-content">
                                      <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel the slot <b><%= ftnmr.user.name %></b></h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                      <div class="modal-body">
                                        <%= form_for ftnmr do |f| %>
                                          <p> Are you sure you want to cancel the slot ?</p>
                                          <%= f.hidden_field :status, value: 'cancelled' %>
                                      <div class="actions">


                                      </div>

                                       </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                            <%= f.submit "Cancelled", class:"btn btn-primary", id:"sbt" %>
                                      </div>
                                      <% end %>
                                  </div>
                              </div>
                          </div>
                      </td>

<%end%>
                 </tr>

             </tbody>
         </table>

     </div>
     </div>


 </div>


</div>
<script>
// Get the modals and buttons
var modal1 = document.getElementByClass("modal");
var btn1 = document.getElementById("ani");
var modal2 = document.getElementByClass("modal2");
var btn2 = document.getElementById("anish");
// Add event listeners to the buttons
btn1.addEventListener("click", function() {
 modal1.style.display = "block";
});

btn2.addEventListener("click", function() {
 modal2.style.display = "block";
});

// Close the modal when the user clicks anywhere outside of it
window.addEventListener("click", function(event) {
 if (event.target == modal1) {
   modal1.style.display = "none";
 }
 if (event.target == modal2) {
   modal2.style.display = "none";
 }
});
</script>
