<%= stylesheet_link_tag "adminportal" %>
<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Glove Box Slotbooker', slotbooker_glove_path, class:'navbar-brand', id:'title' %>

        <div id="tab-div">
          <div class="btn-group btn-profile dropstart">
            <%= link_to 'Pending Slots',slotbooker_glove_path,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <li><%= link_to 'All Slots',slotbooker_glove_path,class:"dropdown-item " %></li>
              <li><%= link_to 'Pending Slots',slotbooker_glove1_path,class:"dropdown-item active"%></li>
              <li><%= link_to 'Alloted Slots',slotbooker_glove2_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Completed Slots',slotbooker_glove3_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Cancelled Slots',slotbooker_glove4_path,class:"dropdown-item" %></li>

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>


        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">
                <li class="nav-item-tab">
                    <%= link_to 'All Slots',slotbooker_glove_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab activated">
                    <%= link_to 'Pending Slots',slotbooker_glove1_path,class:"nav-link active activated-text dropdown-item"%>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Alloted Slots',slotbooker_glove2_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Completed Slots',slotbooker_glove3_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Canceled Slots',slotbooker_glove4_path,class:"nav-link active dropdown-item" %>
                </li>
            </ul>
        </div>


        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker-new">

<%# the content section is coded here %>
    <div id="slots">


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">Weight</th>
                        <th scope="col" id="composition">Days</th>
                        <th scope="col" id="composition">Toxicity</th>
                        <th scope="col" id="phase">Carcinogenic</th>
                        <th scope="col" id="range">Incompatible</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                        <th scope="col" id="reference-paper">Assign</th>
                    </tr>
                </thead>
                <tbody>

                        <% @glove1.where(status:'pending').each do |glove|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/GLOVE/<%=glove.id %>	</th>
                        <td> <%= glove.user.firstname%><nobr> <%= glove.user.lastname%></td>
                        <td> <%= glove.user.orgname%> </td>
                        <td> <%= glove.user.department%> </td>
                        <td> <%= glove.user.contact%> </td>
                        <td> <%= glove.weight%> </td>
                        <td> <%= glove.days%> </td>
                        <td> <%= glove.toxicity%> </td>
                        <td> <%= glove.carcinogenic%> </td>
                        <td> <%= glove.incompatible%> </td>
                        <td> <%= glove.more%> </td>
                        <td>Booked</td>

                        <td> <%= glove.slotdate %></td>

                        <td> <%= glove.slottime %></td>

                          <td><%= glove.status%></td>
                          <%if glove.references.attached? %>
                    <%glove.references.each do |file|%>
                    <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                       <% end %>
                  <% else %>
                    <td>NA</td>
                  <% end %>
                  <td id="assign-btn">
                      <!-- Button trigger modal -->
                       <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{glove.id}" }, id: "ani" %>
                       <div id="<%= glove.id%>" class="modal">

                       <div class="modal-dialog">
                             <div class="modal-content">
                                 <div class="modal-header">
                                     <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= glove.user.firstname %></b></h1>
                                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                   <div class="modal-body">
                                     <%= form_with(model: glove,local:true) do |form| %>

                                     <div class="input-group mb-3">
                                       <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                       <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                                     </div>

                                     <div class="input-group mb-3">
                                     <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                     <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                   </div>

                                      <%=form.fields_for :equipment_table do |f| %>
                                          <%= f.hidden_field :app_no, value:"CRF/GLOVE/#{glove.id}"%>
                                         <%= f.hidden_field :username, value:"#{glove.user.firstname}"%>
                                         <%= f.hidden_field :dummy, value:"alloted"%>
                                        <%= f.hidden_field :debit_head, value:"#{glove.debit}" %>
                                        <%= f.hidden_field :dept, value:"#{glove.user.department}" %>
                                       <%= f.hidden_field :email, value:"#{glove.user.email}" %>
                                       <%= f.hidden_field :equipname, value:"glove" %>
                                       <%= f.hidden_field :role, value:"#{glove.user.role}" %>
                                      <%= f.hidden_field :org, value:"#{glove.user.orgaddress}" %>
                                      <%= f.hidden_field :profesion, value:"#{glove.user.profession}" %>
                                      <%= f.hidden_field :orgname, value:"#{glove.user.orgname}" %>

                                      <%end%>

                                       <div class="actions">
                                         <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                       </div>
                                     <% end %>



                                   </div>
                               </div>
                           </div>

                     </div>

                                           </td>

                                       </tr>
                     <%end%>

                                   </tbody>
                               </table>

                           </div>
                           </div>


                       </div>


                     </div>

                     <button class="cssbuttons-io-button" id="scroll-left"> Left
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>

    <button class="cssbuttons-io-button" id="scroll-right"> Right
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>


<script>
    let left = document.getElementById('scroll-left');
    let right = document.getElementById('scroll-right');
    let slots = document.getElementById('slots');
    left.addEventListener("click", () => {
        console.log("hello")
        slots.scrollLeft -= 300;
    });
    right.addEventListener("click", () => {
        console.log("hello2")
        slots.scrollLeft += 300;
    });
</script>
                     <script>
                     // Get the modals and buttons
                     var modal1 = document.getElementByClass("modal");
                     var btn1 = document.getElementById("ani");

                     // Add event listeners to the buttons
                     btn1.addEventListener("click", function() {
                       modal1.style.display = "block";
                     });

                     btn2.addEventListener("click", function() {
                       modal2.style.display = "block";
                     });

                     // Close the modal when the user clicks anywhere outside of it
                     window.addEventListener("click", function(event) {
                       if (event.target == modal1) {
                         modal1.style.display = "none";
                       }
                       if (event.target == modal2) {
                         modal2.style.display = "none";
                       }
                     });
                     </script>
