<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Glow Discharge Slotbooker',slotbooker_glow_path,class:"navbar-brand",id:"title" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_glow_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_glow1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_glow2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_glow3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_glow4_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Glow Discharge: Cancelled Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="composition">No of Sample</th>
                        <th scope="col" id="composition">Elemental Composition</th>
                       <th scope="col" id="coating-ele">Coating </th>
                       <th scope="col" id="coating-ele">Coated Element</th>
                       <th scope="col" id="substrate-ele">Substrate Element</th>
                        <th scope="col" id="substrate-ele">Specification</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                        <% @glow4.where(status:'cancelled').each do |glow|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/GLOW/<%=glow.id %>	</th>
                        <td> <%= glow.user.firstname%><nobr> <%= glow.user.lastname%></td>
                        <td> <%= glow.user.orgname%> </td>
                        <td> <%= glow.user.department%> </td>
                        <td> <%= glow.user.contact%> </td>
                        <td> <%= glow.sample%> </td>
                        <td> <%= glow.elemental%> </td>
                        <td> <%= glow.coated%> </td>
                        <td> <%= glow.coated_ele%> </td>
                        <td> <%= glow.substarte%> </td>
                        <td> <%= glow.specification%> </td>
                        <td> <%= glow.more%> </td>
                        <td>Booked</td>

                        <td> <%= glow.slotdate %></td>

                        <td> <%= glow.slottime %></td>

                          <td><%= glow.status%></td>
                         <td><%glow.references.each do |file|%>
                      <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %>
                     <%end%></td>
                    </tr>
                      <%end%>

                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
