<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_highvaccum_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_highvaccum1_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_highvaccum2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_highvaccum3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_highvaccum4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">HIGHVACCUM:Pending Slots</h2>
        </div>

        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Composition</th>
                        <th scope="col" id="composition">Toxicity</th>
                        <th scope="col" id="phase">Required Atmosphere</th>
                        <th scope="col" id="range">Gas</th>
                        <th scope="col" id="composition">Start Temp</th>
                        <th scope="col" id="phase">End Temp</th>
                        <th scope="col" id="range">Sample Melting</th>
                        <th scope="col" id="composition">No of steps</th>
                        <th scope="col" id="phase">Temperature and Minutes</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                        <th scope="col" id="reference-paper">Assign</th>
                    </tr>
                </thead>
                <tbody>

                        <% @high1.where(status:'pending').each do |high|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/HIGHVACCUM/<%=high.id %>	</th>
                        <td> <%= high.user.name%> </td>
                        <td> <%= high.user.orgname%> </td>
                        <td> <%= high.user.department%> </td>
                        <td> <%= high.user.contact%> </td>
                        <td> <%= high.sample%> </td>
                        <td> <%= high.composition%> </td>
                        <td> <%= high.toxicity%> </td>
                        <td> <%= high.req_atoms%> </td>
                        <td> <%= high.gas%> </td>
                        <td> <%= high.starttemp%> </td>
                        <td> <%= high.endtemp%> </td>
                        <td> <%= high.samplemelting%> </td>
                        <td> <%= high.no_steps%> </td>
                        <td> Temp1:<nobr><%= high.temp1%>  min1:<%= high.min1%> <br>
                             Temp2:<%= high.temp1%>  min2: <%= high.temp2%><br>
                             Temp3:<%= high.temp3%>  min3: <%= high.temp3%><br>
                             Temp4:<%= high.temp4%>  min4: <%= high.temp4%><br>
                             Temp5:<%= high.temp5%>  min5: <%= high.temp5%><br>
                         </td>
                        <td> <%= high.more%> </td>
                        <td>Booked</td>

                        <td> <%= high.slotdate %></td>

                        <td> <%= high.slottime %></td>

                          <td><%= high.status%></td>
                          <%if high.references.attached? %>
                             <%high.references.each do |file|%>
                             <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                                <% end %>
                           <% else %>
                             <td>NA</td>
                           <% end %>

                      w
                      <td id="assign-btn">
                          <!-- Button trigger modal -->
                           <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{high.id}" }, id: "ani" %>
                           <div id="<%= high.id%>" class="modal">

                           <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= high.user.name %></b></h1>
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                       <div class="modal-body">
                                         <%= form_with(model: high,local:true) do |form| %>

                                             <div class="input-group mb-3">
                                             <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                             <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                           </div>

                                           <div class="input-group mb-3">
                                           <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                           <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                         </div>

                                          <%=form.fields_for :equipment_table do |f| %>
                                           <div class="input-group mb-3">
                                              <%= f.hidden_field :app_no, value:"CRF/high/#{high.id}"%>
                                            </div>

                                           <div class="input-group mb-3">
                                             <%= f.hidden_field :username, value:"#{high.user.name}"%>
                                          </div>


                                           <div class="input-group mb-3">
                                             <%= f.hidden_field :dummy, value:"alloted"%>
                                           </div>

                                          <div class="input-group mb-3">
                                            <%= f.hidden_field :debit_head, value:"#{high.debit}" %>
                                         </div>

                                          <%end%>

                                           <div class="actions">
                                             <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                           </div>
                                         <% end %>



                                       </div>
                                   </div>
                               </div>

                         </div>

                                               </td>

                                           </tr>
                         <%end%>

                                       </tbody>
                                   </table>

                               </div>
                               </div>


                           </div>


                         </div>
                         <script>
                         // Get the modals and buttons
                         var modal1 = document.getElementByClass("modal");
                         var btn1 = document.getElementById("ani");

                         // Add event listeners to the buttons
                         btn1.addEventListener("click", function() {
                           modal1.style.display = "block";
                         });

                         btn2.addEventListener("click", function() {
                           modal2.style.display = "block";
                         });

                         // Close the modal when the user clicks anywhere outside of it
                         window.addEventListener("click", function(event) {
                           if (event.target == modal1) {
                             modal1.style.display = "none";
                           }
                           if (event.target == modal2) {
                             modal2.style.display = "none";
                           }
                         });
                         </script>
