<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Ion Chromatography Slotbooker', slotbooker_ionc_path, class:'navbar-brand', id:'title' %>

        <div id="tab-div">
          <div class="btn-group btn-profile dropstart">
            <%= link_to 'All Slots',slotbooker_ionc_path,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <li><%= link_to 'All Slots',slotbooker_ionc_path,class:"dropdown-item active" %></li>
              <li><%= link_to 'Pending Slots',slotbooker_ionc1_path,class:"dropdown-item"%></li>
              <li><%= link_to 'Alloted Slots',slotbooker_ionc2_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Completed Slots',slotbooker_ionc3_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Cancelled Slots',slotbooker_ionc4_path,class:"dropdown-item" %></li>

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>

        
        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">
                <li class="nav-item-tab activated">
                    <%= link_to 'All Slots',slotbooker_ionc_path,class:"nav-link active activated-text dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Pending Slots',slotbooker_ionc1_path,class:"nav-link active dropdown-item"%>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Alloted Slots',slotbooker_ionc2_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Completed Slots',slotbooker_ionc3_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Canceled Slots',slotbooker_ionc4_path,class:"nav-link active dropdown-item" %>
                </li>
            </ul>
        </div>
        

        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div class="container-slot-booker-new">

    

<%# the content section is coded here %>
    <div id="slots">
        


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Nature</th>
                        <th scope="col" id="composition">Solvent</th>
                        <th scope="col" id="phase">Volume</th>
                        <th scope="col" id="range">Concentration</th>
                        <th scope="col" id="composition">Eluent</th>
                        <th scope="col" id="phase">Analysis</th>
                        <th scope="col" id="range">Elements</th>
                        <th scope="col" id="range">Column</th>
                        <th scope="col" id="composition">Flow Rate</th>
                        <th scope="col" id="phase">Temperature</th>
                        <th scope="col" id="range">Detector</th>
                        <th scope="col" id="phase">Toxicity</th>
                        <th scope="col" id="range">Hazards</th>
                        <th scope="col" id="range">Hazard method</th>
                        <th scope="col" id="range">disposal</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @ionc.all.each do |ionc|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/IONC/<%=ionc.id %>	</th>
                        <td> <%= ionc.user.firstname%><nobr> <%= ionc.user.lastname%></td>
                        <td> <%= ionc.user.orgname%> </td>
                        <td> <%= ionc.user.department%> </td>
                        <td> <%= ionc.user.contact%> </td>
                        <td> <%= ionc.sample%> </td>
                        <td> <%= ionc.nature%> </td>
                        <td> <%= ionc.solvent%> </td>
                        <td> <%= ionc.volume%> </td>
                        <td> <%= ionc.concentration%> </td>
                        <td> <%= ionc.eluent%> </td>
                        <td> <%= ionc.analysis%> </td>
                        <td> <%= ionc.elements%> </td>
                        <td> <%= ionc.column%> </td>
                        <td> <%= ionc.flow_rate%> </td>
                        <td> <%= ionc.temperature%> </td>
                        <td> <%= ionc.detector%> </td>
                        <td> <%= ionc.toxicity%> </td>
                        <td> <%= ionc.hazards%></td>
                        <td> <%= Array(ionc.hazard_method).join(", ") %> </td>
                        <td> Specific Disposal:<nobr><%= ionc.disposal%><br>Disposal Method :<%= ionc.disposal_yes%></td>
                        <td> <%= ionc.more%> </td>
                        <td>Booked</td>

                        <td> <%= ionc.slotdate %></td>

                        <td><%= ionc.slottime.strftime('%H:%M:%S') if ionc.slottime.present? %></td>

                          <td><%= ionc.status%></td>
                          <%if ionc.references.attached? %>
                          <%ionc.references.each do |file|%>
                          <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                             <% end %>
                        <% else %>
                          <td>NA</td>
                        <% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
<button class="cssbuttons-io-button" id="scroll-left"> Left
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>

    <button class="cssbuttons-io-button" id="scroll-right"> Right
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>


<script>
    let left = document.getElementById('scroll-left');
    let right = document.getElementById('scroll-right');
    let slots = document.getElementById('slots');
    left.addEventListener("click", () => {
        console.log("hello")
        slots.scrollLeft -= 300;
    });
    right.addEventListener("click", () => {
        console.log("hello2")
        slots.scrollLeft += 300;
    });
</script>