<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'LASER Slotbooker',slotbooker_laser_path,class:"navbar-brand",id:"title" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_laser_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_laser1_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_laser2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_laser3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_laser4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">LASER: Pending Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                      <tr class="table-head font-unbounded">
                  <th scope="col" id="application-no">Appl No</th>
                  <th scope="col" id="name">Name</th>
                  <th scope="col" id="institute">Institute</th>
                  <th scope="col" id="department">Department</th>
                  <th scope="col" id="contact-no">Contact No:</th>
                  <th scope="col">Slot Type</th>
                  <th scope="col" id="sample-no">No of Samples</th>
                  <th scope="col" id="composition">Composition</th>
                  <th scope="col" id="composition">Sample Type</th>
                  <th scope="col" id="phase">Temp Points</th>
                  <th scope="col" id="range">Toxicity</th>
                  <th scope="col" id="range">Compatibility</th>
                  <th scope="col" id="request">More info</th>
                  <th scope="col" id="booked-on">Booked On</th>
                  <th scope="col" id="slot-date">Slot Date</th>
                  <th scope="col" id="slot-time">Slot Time</th>
                  <th scope="col">Status</th>
                  <th scope="col" id="reference-paper">Reference Paper</th>
                    <th scope="col" id="assign-col">Assign</th>
                    </tr>
                </thead>
                <tbody>

                      <% @laser1.where(status:'pending').each do |laser|%>
                     <tr class="<%if laser.expresssample != nil %>exp-slot-entry <%else%> <%end%>">
                        <th scope="row">CRF/LASER/<%=laser.id %>	</th>
                        <td> <%= laser.user.firstname%><nobr> <%= laser.user.lastname%></td>
                    <td> <%= laser.user.orgname%> </td>
                    <td> <%= laser.user.department%> </td>
                    <td> <%= laser.user.contact%> </td>
                   <td> <%if laser.expresssample  != nil %> Express <%else%> Regular <%end%> </td>
                    <td><% if laser.sample == nil %> <%= laser.expresssample%> <%else%> <%= laser.sample%> </td> <%end%>
                    <td> <%= laser.composition%> </td>
                    <td> <%= laser.stype%> </td>
                    <td> <%= laser.temp_points%> </td>
                    <td> <%= laser.toxicity%> </td>
                    <td> <%= laser.compatibility%> </td>
                        <td> <%= laser.more%> </td>
                        <td>Booked</td>
                        <td><%= laser.slotdate %></td>
                        <td><%= laser.slottime %></td>

                        <td> <%= laser.status %></td>
                        <%if laser.references.attached? %>
                        <%laser.references.each do |file|%>
                        <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                           <% end %>
                      <% else %>
                        <td>NA</td>
                      <% end %>
                      <td id="assign-btn">
                          <!-- Button trigger modal -->
                           <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{laser.id}" }, id: "ani" %>
                           <div id="<%= laser.id%>" class="modal">

                           <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the assignment to <b><%= laser.user.firstname %></b></h1>
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                       <div class="modal-body">
                                         <%= form_with(model: laser,local:true) do |form| %>

                                             <div class="input-group mb-3">
                                             <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                             <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                           </div>

                                           <div class="input-group mb-3">
                                           <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                           <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                         </div>

                                        <%=form.fields_for :equipment_table do |f| %>
                                        <%= f.hidden_field :app_no, value:"CRF/LASER/#{laser.id}"%>
                                        <%= f.hidden_field :username, value:"#{laser.user.firstname}"%>
                                        <%= f.hidden_field :dummy, value:"alloted"%>
                                        <%= f.hidden_field :debit_head, value:"#{laser.debit}" %>
                                        <%= f.hidden_field :dept, value:"#{laser.user.department}" %>
                                        <%= f.hidden_field :email, value:"#{laser.user.email}" %>
                                        <%= f.hidden_field :equipname, value:"laser" %>
                                        <%= f.hidden_field :role, value:"#{laser.user.role}" %>
                                        <%= f.hidden_field :org, value:"#{laser.user.orgaddress}" %>
                                        <%= f.hidden_field :profesion, value:"#{laser.user.profession}" %>
                                        <%= f.hidden_field :orgname, value:"#{laser.user.orgname}" %>


                                          <%end%>

                                           <div class="actions">
                                             <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                           </div>
                                         <% end %>



                                       </div>
                                   </div>
                               </div>

                         </div>

                                               </td>

                                           </tr>
                         <%end%>

                                       </tbody>
                                   </table>

                               </div>
                               </div>


                           </div>


                         </div>
                         <script>
                         // Get the modals and buttons
                         var modal1 = document.getElementByClass("modal");
                         var btn1 = document.getElementById("ani");

                         // Add event listeners to the buttons
                         btn1.addEventListener("click", function() {
                           modal1.style.display = "block";
                         });

                         btn2.addEventListener("click", function() {
                           modal2.style.display = "block";
                         });

                         // Close the modal when the user clicks anywhere outside of it
                         window.addEventListener("click", function(event) {
                           if (event.target == modal1) {
                             modal1.style.display = "none";
                           }
                           if (event.target == modal2) {
                             modal2.style.display = "none";
                           }
                         });
                         </script>
