<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Low Force Fatigue Slotbooker',slotbooker_low_path,class:"navbar-brand",id:"title" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_low_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_low1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_low2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_low3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_low4_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Low Force Fatigue: Cancelled Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                      <th scope="col" id="application-no">Appl No</th>
                      <th scope="col" id="name">Name</th>
                      <th scope="col" id="institute">Institute</th>
                      <th scope="col" id="department">Department</th>
                      <th scope="col" id="contact-no">Contact No:</th>
                      <th scope="col" id="sample-no">sample</th>
                      <th scope="col" id="sample-no">sample code</th>
                      <th scope="col" id="composition">sample type</th>
                      <th scope="col" id="composition">table type</th>
                      <th scope="col" id="composition">table f</th>
                      <th scope="col" id="composition">mention</th>
                      <th scope="col" id="request">More info</th>
                      <th scope="col" id="booked-on">Booked On</th>
                      <th scope="col" id="slot-date">Slot Date</th>
                      <th scope="col" id="slot-time">Slot Time</th>
                      <th scope="col">Status</th>
                      <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @low4.where(status:'cancelled').each do |low4|%>
                      <tr>
                        <th scope="row">CRF/low/<%=low4.id %>	</th>

                      
                        <td> <%= low4.user.firstname%><nobr> <%= low4.user.firstname%></td>
                        <td> <%= low4.user.orgname%> </td>
                        <td> <%= low4.user.department%> </td>
                        <td> <%= low4.user.contact%> </td>

                        <td> <%= low4.sample%> </td>
                        <td> <%= low4.sc1%>
                             <%= low4.sc2%> <br>
                             <%= low4.sc3%> <br>
                             <%= low4.sc4%><br>
                             <%= low4.sc5%></td>
                        <td> <%= low4.st1%>
                             <%= low4.st2%>
                             <%= low4.st3%>
                             <%= low4.st4%>
                             <%= low4.st5%></td>
                         <td> <%= low4.tt1%>
                              <%= low4.tt2%>
                              <%= low4.tt3%>
                              <%= low4.tt4%>
                              <%= low4.tt5%></td>
                        <td> <%= low4.m1%>
                             <%= low4.m2%>
                             <%= low4.m3%>
                             <%= low4.m4%>
                             <%= low4.m5%></td>
                        <td> <%= low4.tf1%>
                             <%= low4.tf2%>
                             <%= low4.tf3%>
                             <%= low4.tf4%>
                             <%= low4.tf5%></td>
                        <td> <%= low4.more%> </td>
                        <td>Booked</td>

                        <td> <%= low4.slotdate %></td>

                        <td> <%= low4.slottime %></td>

                          <td><%= low4.status%></td>
                          <%if low4.references.attached? %>
                          <%low4.references.each do |file|%>
                          <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                             <% end %>
                        <% else %>
                          <td>NA</td>
                        <% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
