<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'SHPB Slotbooker',slotbooker_multi_path,class:"navbar-brand",id:"title" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_multi_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_multi1_path,class:"nav-link active sidelink-wrap"%>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_multi2_path,class:"nav-link active sidelink-wrap",id:"active-tab"  %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_multi3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_multi4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">SHPB: Alloted Slots</h2>
        </div>

        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Sample Type</th>
                        <th scope="col" id="composition">Size</th>
                        <th scope="col" id="phase">Measurement</th>
                        <th scope="col" id="range">Drop Range</th>
                        <th scope="col" id="sample-no">Drop Velocity</th>
                        <th scope="col" id="composition">Drop Temperature</th>
                        <th scope="col" id="composition">Drop Shape</th>
                        <th scope="col" id="phase">Shpb length</th>
                        <th scope="col" id="range">Shpb Temp</th>
                        <th scope="col" id="phase">Bullet Velocity</th>
                        <th scope="col" id="range">Bullet Shape</th>
                        <th scope="col" id="phase">Bird Velocity</th>
                        <th scope="col" id="range">Bird Shape</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                        <th scope="col" id="reference-paper">Reassign</th>
                        <th scope="col" id="reference-paper">Cancel</th>
                    </tr>
                </thead>
                <tbody>

                        <% @multi2.where(status:'alloted').each do |multi|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/multi/<%=multi.id %>	</th>
                        <td> <%= multi.user.firstname%><nobr> <%= multi.user.lastname%></td>
                        <td> <%= multi.user.orgname%> </td>
                        <td> <%= multi.user.department%> </td>
                        <td> <%= multi.user.contact%> </td>
                        <td> <%= multi.sample%> </td>
                        <td> <%= multi.stype%> </td>
                        <td> <%= multi.size%> </td>
                        <td> <%= multi.measuerment%> </td>
                        <td> <%= multi.drop_range%> </td>
                        <td> <%= multi.drop_velocity%> </td>
                        <td> <%= multi.drop_temp%> </td>
                        <td> <%= multi.drop_shape%> </td>
                        <td> <%= multi.shpb_lenght%> </td>
                        <td> <%= multi.shpb_temp%> </td>
                        <td> <%= multi.bullet_velocity%> </td>
                        <td> <%= multi.bullet_shape%> </td>
                        <td> <%= multi.bird_velocity%> </td>
                        <td> <%= multi.bird_shape%> </td>
                        <td> <%= multi.more%> </td>
                        <td>Booked</td>

                        <td> <%= multi.slotdate %></td>

                        <td> <%= multi.slottime %></td>

                          <td><%= multi.status%></td>
                          <%if multi.references.attached? %>
                         <%multi.references.each do |file|%>
                         <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                            <% end %>
                       <% else %>
                         <td>NA</td>
                       <% end %>
                       <td id="assign-btn">
                       <!-- Button trigger modal -->
                        <%= button_tag "Reassign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{multi.id}" }, id: "ani" %>
                        <div id="<%= multi.id%>" class="modal">

                      <div class="modal-dialog">
                          <div class="modal-content">
                              <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Reassignment to <b><%= multi.user.firstname %></b></h1>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <%= form_with(model: multi,local:true) do |form| %>

                                    <div class="input-group mb-3">
                                    <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                    <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                  </div>

                                  <div class="input-group mb-3">
                                  <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                  <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                </div>

                                <%=form.fields_for :equipment_table do |f| %>

                                    <%= f.hidden_field :app_no, value:"CRF/MULTI/#{multi.id}"%>
                                    <%= f.hidden_field :username, value:"#{multi.user.name}"%>
                                    <%= f.hidden_field :dummy, value:"#{multi.status}"%>
                                    <%= f.hidden_field :debit_head, value:"#{multi.debit}" %>
                                <%end%>
                                  <div class="actions">
                                    <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                  </div>
                                <% end %>
                              </div>
                          </div>
                      </div>
                  </div>
                    </td>


                    <td id="cancel-btn">
                       <!-- Button trigger modal -->
                         <%= button_tag "Cancel", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"#ani#{multi.id}" }, id: "anish" %>

                        <!-- Modal -->
                         <div id="ani<%= multi.id%>" class="modal">
                          <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cancel the slot assigned to <b><%= multi.user.firstname %></b></h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <%= form_for multi do |f| %>
                                        <p> Are you sure you want to cancel the slot ?</p>
                                        <%= f.hidden_field :status, value: 'cancelled' %>
                                    <div class="actions">


                                    </div>

                                     </div>
                                    <div class="modal-footer">
                                          <%= f.submit "Cancel", class:"btn btn-primary", id:"sbt" %>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </td>

 <%end%>
               </tr>

           </tbody>
       </table>

   </div>
   </div>


 </div>


 </div>
 <script>
 // Get the modals and buttons
 var modal1 = document.getElementByClass("modal");
 var btn1 = document.getElementById("ani");
 var modal2 = document.getElementByClass("modal2");
 var btn2 = document.getElementById("anish");
 // Add event listeners to the buttons
 btn1.addEventListener("click", function() {
 modal1.style.display = "block";
 });

 btn2.addEventListener("click", function() {
 modal2.style.display = "block";
 });

 // Close the modal when the user clicks anywhere outside of it
 window.addEventListener("click", function(event) {
 if (event.target == modal1) {
 modal1.style.display = "none";
 }
 if (event.target == modal2) {
 modal2.style.display = "none";
 }
 });
 </script>
