<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Nitrogen Slotbooker', slotbooker_milli_path, class:'navbar-brand', id:'title' %>

        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker-new">

    
<%# the content section is coded here %>
    <div id="slots">


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">Quantity</th>
                        <th scope="col" id="composition">Purpose</th>
                        <th scope="col" id="request">Debit</th>
                    </tr>
                </thead>
                <tbody>

                      <% @nitrogen.all.each do |nitrogen|%>
                      <tr>
                        <!-- Button trigger modal -->
                        <th scope="row">CRF/NITROGEN/<%=nitrogen.id %>	</th>
                        <td> <%= nitrogen.user.name%> </td>
                        <td> <%= nitrogen.user.orgname%> </td>
                        <td> <%= nitrogen.user.department%> </td>
                        <td> <%= nitrogen.user.contact%> </td>
                        <td> <%= nitrogen.quantity%> </td>
                        <td> <%= nitrogen.purpose%> </td>
                        <td> <%= nitrogen.debit%> </td>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
