<%= stylesheet_link_tag "paymentportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-payments">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">              
                 <%= link_to 'All Payments',slotbooker_payment_path,class:"nav-link active sidelink-wrap" %>              
                </li>
                <li class="nav-item">
                        <%= link_to 'Department Operating Cost',slotbooker_paymentD_path,class:"nav-link active sidelink-wrap" %>
                </li>           
                <li class="nav-item">
                    <%= link_to 'CPDA Fund',slotbooker_paymentC_path,class:"nav-link active sidelink-wrap" %> 
                </li>
                           
                <li class="nav-item">
                    <%= link_to 'Student Contingency',slotbooker_paymentS_path,class:"nav-link active sidelink-wrap" %> 
                </li>
                        
                <li class="nav-item">
                    <%= link_to 'Project Fund',slotbooker_paymentP_path,class:"nav-link active sidelink-wrap" %> 
                </li>

                <li class="nav-item">
                    <%= link_to 'Manual Entry',slotbooker_paymentM_path,class:"nav-link active sidelink-wrap" %> 
                </li>
                <li class="nav-item">
                    <%= link_to 'Update',slotbooker_paymentU_path,class:"nav-link active sidelink-wrap", id:"active-tab"  %> 
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="hero">
        <div id="manual-heading">
            <h1>Proforma Update</h1>
        </div>

        <hr>

        <div id="wrap" class="mt-3">

            <div class="mb-3">
                <div class="input-group">
                    <label class="input-group-text" id="app-no-label" for="app-no">ApplNo/Ref. No</label>
                    <input type="text" class="form-control" id="app-no" aria-describedby="basic-addon3" placeholder="CRF/XXX/$$$">
                </div>
            </div>

            <div class="actions mb-3">
                <button type="submit" class="btn btn-outline-success" id="sbt-check">Check</button>
            </div>

            <div class="actions mb-3">
                <button type="submit" class="btn btn-success" id="sbt">Edit Fund</button>
            </div>

                
        </div>
            



    </div>


</div>
