<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Probe Sonicator Slotbooker',slotbooker_probe_path,class:"navbar-brand",id:"title" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_probe_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_probe1_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_probe2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_probe3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_probe4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
<div id="slots">
    <div id="current-tab">
        <h2 class="fw-bold font-unbounded" id="tab-name">Probe Sonicator: Pending  Slots</h2>
    </div>


    <div id="slot-details">
    <div>
        <table class="table table-hover font-quicksand">
            <thead>
                <tr class="table-head font-unbounded">
                    <th scope="col" id="application-no">Appl No</th>
                    <th scope="col" id="name">Name</th>
                    <th scope="col" id="institute">Institute</th>
                    <th scope="col" id="department">Department</th>
                    <th scope="col" id="contact-no">Contact No:</th>
                    <th scope="col" id="sample-no">No of Samples</th>
                    <th scope="col" id="composition">Sample Size</th>
                    <th scope="col" id="composition">Amplitude</th>
                    <th scope="col" id="phase">Volume</th>
                    <th scope="col" id="range">Viscosity</th>
                    <th scope="col" id="request">More info</th>
                    <th scope="col" id="booked-on">Booked On</th>
                    <th scope="col" id="slot-date">Slot Date</th>
                    <th scope="col" id="slot-time">Slot Time</th>
                    <th scope="col">Status</th>
                    <th scope="col" id="reference-paper">Reference Paper</th>
                      <th scope="col" id="reference-paper">Assign</th>
                </tr>
            </thead>
            <tbody>

                    <% @probe1.where(status:'pending').each do |probe|%>
                  <tr>
                    <!-- Button trigger modal -->
                    <th scope="row">CRF/PROBE/<%=probe.id %>	</th>
                    <td> <%= probe.user.firstname%><nobr> <%= probe.user.lastname%></td>
                    <td> <%= probe.user.orgname%> </td>
                    <td> <%= probe.user.department%> </td>
                    <td> <%= probe.user.contact%> </td>
                    <td> <%= probe.sample%> </td>
                    <td> <%= probe.size%> </td>
                    <td> <%= probe.amplitude%> </td>
                    <td> <%= probe.volume%> </td>
                    <td> <%= probe.viscosity%> </td>
                    <td> <%= probe.more%> </td>
                    <td>Booked</td>

                    <td> <%= probe.slotdate %></td>

                    <td> <%= probe.slottime %></td>

                      <td><%= probe.status%></td>
                      <%if probe.references.attached? %>
                    <%probe.references.each do |file|%>
                    <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                 <%end%>
                      <% else %>
                        <td>NA</td>
                      <% end %>
                      <td id="assign-btn">
                          <!-- Button trigger modal -->
                           <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{probe.id}" }, id: "ani" %>
                           <div id="<%= probe.id%>" class="modal">

                           <div class="modal-dialog">
                                 <div class="modal-content">
                                     <div class="modal-header">
                                         <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= probe.user.firstname %></b></h1>
                                         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                      </div>
                                       <div class="modal-body">
                                         <%= form_with(model: probe,local:true) do |form| %>

                                             <div class="input-group mb-3">
                                             <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                             <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                           </div>

                                           <div class="input-group mb-3">
                                           <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                           <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                         </div>

                                          <%=form.fields_for :equipment_table do |f| %>
                                              <%= f.hidden_field :app_no, value:"CRF/XRD/#{probe.id}"%>
                                             <%= f.hidden_field :username, value:"#{probe.user.name}"%>
                                             <%= f.hidden_field :dummy, value:"alloted"%>
                                            <%= f.hidden_field :debit_head, value:"#{probe.debit}" %>
                                           <%= f.hidden_field :dept, value:"#{probe.user.department}" %>
                                          <%= f.hidden_field :email, value:"#{probe.user.email}" %>
                                          <%= f.hidden_field :role, value:"#{probe.user.role}" %>
                                          <%= f.hidden_field :org, value:"#{probe.user.orgaddress}" %>
                                          <%= f.hidden_field :profesion, value:"#{probe.user.profession}" %>
                                          <%= f.hidden_field :orgname, value:"#{probe.user.orgname}" %>

                                          <%= f.hidden_field :equipname, value:"probe" %>
                                          <%end%>

                                           <div class="actions">
                                             <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                           </div>
                                         <% end %>
                                       </div>
                                   </div>
                               </div>

                         </div>

                                               </td>

                                           </tr>
                         <%end%>

                                       </tbody>
                                   </table>

                               </div>
                               </div>


                           </div>


                         </div>
                         <script>
                         // Get the modals and buttons
                         var modal1 = document.getElementByClass("modal");
                         var btn1 = document.getElementById("ani");

                         // Add event listeners to the buttons
                         btn1.addEventListener("click", function() {
                           modal1.style.display = "block";
                         });

                         btn2.addEventListener("click", function() {
                           modal2.style.display = "block";
                         });

                         // Close the modal when the user clicks anywhere outside of it
                         window.addEventListener("click", function(event) {
                           if (event.target == modal1) {
                             modal1.style.display = "none";
                           }
                           if (event.target == modal2) {
                             modal2.style.display = "none";
                           }
                         });
                         </script>
