<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_tga_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_tga1_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_tga2_path,class:"nav-link active sidelink-wrap"%>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_tga3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_tga4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">TGAFTTR:Pending Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                  <tr class="table-head font-unbounded">
                      <th scope="col">Appl No</th>
                      <th scope="col">Name</th>
                      <th scope="col">Institute</th>
                      <th scope="col">Department</th>
                      <th scope="col">Contact No:</th>
                      <th scope="col">No. of Samples</th>
                      <th scope="col">Sample Type</th>
                      <th scope="col">Sample Description</th>
                      <th scope="col">Sample Nature</th>
                      <th scope="col">Measurement</th>
                      <th scope="col">FTIR Method and Y ordiante</th>
                      <th scope="col">Temperature Range</th>
                      <th scope="col">Scan Rate</th>
                      <th scope="col">Atmosphere</th>
                      <th scope="col">Hazard</th>
                      <th scope="col">Compatability</th>
                      <th scope="col">Carcinogenic</th>
                      <th scope="col">Explosive</th>
                      <th scope="col">More Information</th>
                      <th scope="col" id="booked-on">Booked On</th>
                      <th scope="col" id="slot-date">Slot Date</th>
                      <th scope="col">Slot Time</th>
                      <th scope="col">Status</th>
                      <th scope="col">Reference Paper</th>
                      <th scope="col">Assign</th>

                  </tr>
              </thead>
              <tbody>
                <% @tga1.where(status:'pending').each do |tga|%>
                  <tr>
                    <!-- Button trigger modal -->
                    <th scope="row">CRF/TGAFTTR/<%=tga.id %>	</th>
                    <td> <%= tga.user.name%> </td>
                    <td> <%= tga.user.orgname%> </td>
                    <td> <%= tga.user.department%> </td>
                    <td> <%= tga.user.contact%> </td>
                    <td> <%= tga.sample%> </td>
                    <td> <%= tga.stype%> </td>
                    <td> <%= tga.description%> </td>
                    <td> <%= tga.nature%> </td>
                    <td> <%= tga.measurement%> </td>
                    <td> ATR:<nobr> <%= tga.atr%><br>KBR:<%= tga.kbr%><br>Yordinate:<%= tga.yordinate%>  </td>
                    <td> <%= tga.min_temp%>° to <%= tga.max_temp%>°</td>
                    <td> <%= tga.scan_rate%> </td>
                    <td> <%= tga.atmosphere%> </td>
                    <td> <%= tga.hazard%> </td>
                    <td> <%= tga.compatability%> </td>
                    <td> <%= tga.carcinogenic%> </td>
                    <td> <%= tga.explosive%> </td>
                    <td>Booked</td>
                    <td><%= tga.slotdate %></td>
                    <td><%= tga.slottime %></td>
                    <td> <%= tga.status %></td>
                    <%if tga.references.attached? %>
                    <%tga.references.each do |file|%>
              <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
              <%end%>
                <% else %>
                  <td>NA</td>
                <% end %>
                <td id="assign-btn">
                    <!-- Button trigger modal -->
                     <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{tga.id}" }, id: "ani" %>
                     <div id="<%= tga.id%>" class="modal">

<<<<<<< HEAD
<<<<<<< HEAD
                    <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= tga.user.name %></b></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    <%= form_with(model: tga,local:true) do |form| %>
=======
=======
>>>>>>> c95eb03bcfaf4f67b061724f5933bb4c21e41a9b
                     <div class="modal-dialog">
                           <div class="modal-content">
                               <div class="modal-header">
                                   <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= tga.user.name %></b></h1>
                                   <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                 <div class="modal-body">
                                   <%= form_with(model: tga,local:true) do |form| %>
<<<<<<< HEAD
>>>>>>> c95eb03bcfaf4f67b061724f5933bb4c21e41a9b
=======
>>>>>>> c95eb03bcfaf4f67b061724f5933bb4c21e41a9b

                                       <div class="input-group mb-3">
                                       <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                       <%= form.date_field :slotdate, class:"form-control", id:"composition"%>
                                     </div>

                                     <div class="input-group mb-3">
                                     <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                     <%= form.time_field :slottime, class:"form-control", id:"composition"%>
                                   </div>

                                    <%=form.fields_for :equipment_table do |f| %>
                                     <div class="input-group mb-3">
                                        <%= f.hidden_field :app_no, value:"CRF/TGA/#{tga.id}"%>
                                      </div>

                                     <div class="input-group mb-3">
                                       <%= f.hidden_field :username, value:"#{tga.user.name}"%>
                                    </div>


                                     <div class="input-group mb-3">
                                       <%= f.hidden_field :dummy, value:"alloted"%>
                                     </div>

                                    <div class="input-group mb-3">
                                      <%= f.hidden_field :debit_head, value:"#{tga.debit}" %>
                                   </div>

                                   <div class="input-group mb-3">
                                     <%= f.hidden_field :dept, value:"#{tga.user.department}" %>
                                  </div>

                                  <div class="input-group mb-3">
                                    <%= f.hidden_field :email, value:"#{tga.user.email}" %>
                                 </div>

<<<<<<< HEAD
<<<<<<< HEAD
                    <%# <%=tga.id%>
=======
                                  <div class="input-group mb-3">
                                    <%= f.hidden_field :equipname, value:"tga" %>
                                 </div>
>>>>>>> c95eb03bcfaf4f67b061724f5933bb4c21e41a9b
=======
                                  <div class="input-group mb-3">
                                    <%= f.hidden_field :equipname, value:"tga" %>
                                 </div>
>>>>>>> c95eb03bcfaf4f67b061724f5933bb4c21e41a9b

                                    <%end%>

                                     <div class="actions">
                                       <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                     </div>
                                   <% end %>
                                 </div>
                             </div>
                         </div>

                   </div>

                                         </td>

                                     </tr>
                   <%end%>

                                 </tbody>
                             </table>

                         </div>
                         </div>


                     </div>


                   </div>
                   <script>
                   // Get the modals and buttons
                   var modal1 = document.getElementByClass("modal");
                   var btn1 = document.getElementById("ani");

                   // Add event listeners to the buttons
                   btn1.addEventListener("click", function() {
                     modal1.style.display = "block";
                   });

                   btn2.addEventListener("click", function() {
                     modal2.style.display = "block";
                   });

                   // Close the modal when the user clicks anywhere outside of it
                   window.addEventListener("click", function(event) {
                     if (event.target == modal1) {
                       modal1.style.display = "none";
                     }
                     if (event.target == modal2) {
                       modal2.style.display = "none";
                     }
                   });
                   </script>
