<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_threednon_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_threednon1_path,class:"nav-link active sidelink-wrap",id:"active-tab" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_threednon2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_threednon3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_threednon4_path,class:"nav-link active sidelink-wrap" %>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">THREE:Pending Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                          <th scope="col">Appl No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Institute</th>
                        <th scope="col">Department</th>
                        <th scope="col">Contact No:</th>
                        <th scope="col">No of Samples</th>
                        <th scope="col">Scan Type</th>
                        <th scope="co">X Range</th>
                        <th scope="col">Y Range</th>
                        <th scope="col">Step Interval</th>
                        <th scope="col">Whether Incompatible with any material</th>
                        <th scope="col">Toxicity</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                        <th scope="col" id="assign-col">Asssign</th>
                    </tr>
                </thead>
                <tbody>

                      <% @three1.where(status:'pending').each do |threes|%>
                      <tr>
                        <th scope="row">CRF/THREE/<%=threes.id %>	</th>
                        <td> <%= threes.user.firstname%><nobr><%=threes.user.lastname%></td>
                        <td> <%= threes.user.orgname%> </td>
                        <td> <%= threes.user.department%> </td>
                        <td> <%= threes.user.contact%> </td>
                        <td> <%= threes.sample%> </td>
                        <td> <%= threes.scant%> </td>
                        <td> <%= threes.xrange%> </td>
                        <td> <%= threes.yrange%> </td>
                        <td> <%= threes.stepinterval%> </td>
                        <td> <%= threes.incompatible%> </td>
                        <td> <%= threes.toxicity%> </td>
                        <td> <%= threes.more%> </td>
                        <td>Booked</td>
                        <td><span style="white-space: nowrap;"><%= threes.slotdate.strftime('%d-%m-%Y')if threes.slotdate.present? %></td>
                        <td><%= threes.slottime.strftime('%H:%M:%S') if threes.slottime.present? %></td>
                        <td> <%=threes.status %></td>
                        <%if threes.references.attached? %>
                        <%threes.references.each do |file|%>
                  <td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
                  <%end%>
                    <% else %>
                      <td>NA</td>
                    <% end %>

                    <td id="assign-btn">
                        <!-- Button trigger modal -->
                         <%= button_tag "Assign", type: "button", class: "btn btn-primary", data: { bs_toggle: "modal", bs_target:"##{threes.id}" }, id: "ani" %>
                         <div id="<%= threes.id%>" class="modal">

                         <div class="modal-dialog">
                               <div class="modal-content">
                                   <div class="modal-header">
                                       <h1 class="modal-title fs-5" id="staticBackdropLabel">Confirm the Assignment to <b><%= threes.user.name %></b></h1>
                                       <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                     <div class="modal-body">
                                       <%= form_with(model: threes,local:true) do |form| %>

                                       <div class="input-group mb-3">
                                       <%= form.label :slotdate, "Slot Date", class:"input-group-text"%>
                                       <%= form.date_field :slotdate,value: Date.today.strftime('%Y-%m-%d'), class:"form-control", id:"composition",min: Date.today.strftime('%Y-%m-%d') %>
                                     </div>

                                     <div class="input-group mb-3">
                                     <%= form.label :slottime, "Slot Time", class:"input-group-text"%>
                                     <%= form.time_field :slottime, class:"form-control", id:"composition",min: Time.now.strftime('%H:%M')%>
                                   </div>

                                        <%=form.fields_for :equipment_table do |f| %>
                                         <div class="input-group mb-3">
                                            <%= f.hidden_field :app_no, value:"CRF/XRD/#{threes.id}"%>
                                          </div>

                                         <div class="input-group mb-3">
                                           <%= f.hidden_field :username, value:"#{threes.user.name}"%>
                                        </div>


                                         <div class="input-group mb-3">
                                           <%= f.hidden_field :dummy, value:"alloted"%>
                                         </div>

                                        <div class="input-group mb-3">
                                          <%= f.hidden_field :debit_head, value:"#{threes.debit}" %>
                                       </div>

                                       <div class="input-group mb-3">
                                         <%= f.hidden_field :dept, value:"#{threes.user.department}" %>
                                      </div>

                                      <div class="input-group mb-3">
                                        <%= f.hidden_field :email, value:"#{threes.user.email}" %>
                                     </div>

                                      <div class="input-group mb-3">
                                        <%= f.hidden_field :equipname, value:"threed" %>
                                     </div>

                                        <%end%>

                                         <div class="actions">
                                           <%= form.submit "Allot", class:"btn btn-primary", id:"sbt" %>
                                         </div>
                                       <% end %>
                                     </div>
                                 </div>
                             </div>

                       </div>

                                             </td>

                                         </tr>
                       <%end%>

                                     </tbody>
                                 </table>

                             </div>
                             </div>


                         </div>


                       </div>
                       <script>
                       // Get the modals and buttons
                       var modal1 = document.getElementByClass("modal");
                       var btn1 = document.getElementById("ani");

                       // Add event listeners to the buttons
                       btn1.addEventListener("click", function() {
                         modal1.style.display = "block";
                       });

                       btn2.addEventListener("click", function() {
                         modal2.style.display = "block";
                       });

                       // Close the modal when the user clicks anywhere outside of it
                       window.addEventListener("click", function(event) {
                         if (event.target == modal1) {
                           modal1.style.display = "none";
                         }
                         if (event.target == modal2) {
                           modal2.style.display = "none";
                         }
                       });
                       </script>
