<%= stylesheet_link_tag "adminportal" %>

<div id="header">
<nav class="navbar bg-primary navbar-expand-lg navbar-dark">
<a class="navbar-brand" id="title" href="#content">CRF ADMIN</a>
<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
<span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="btn-head">
<ul class="navbar-nav ms-auto">
    <li class="nav-item" id="admin-mail">
        <a class="nav-link" href="#">admin@mail</a>
    </li>
    <li class="nav-item" id="logout">
      <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
    </li>
</ul>
</div>
</nav>
</div>
<div class="container">

    <div id="navigation">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="#"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                    <div class="sidelink-wrap-model">
                        <a class="nav-link active" aria-current="page" href="#">All</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="sidelink-wrap-model">
                        <a class="nav-link active" aria-current="page" href="#">Pending Slot</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="sidelink-wrap-model">
                        <a class="nav-link active" aria-current="page" href="#chart">Alloted Slots</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="sidelink-wrap-model">
                        <a class="nav-link active" aria-current="page" href="#chart">Completed Slots</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="sidelink-wrap-model">
                        <a class="nav-link active" aria-current="page" href="#chart">Cancelled Slots</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold" id="tab-name">Slots</h2>
        </div>


        <div id="slot-details">

            <table class="table table-hover">
                <thead>
                    <tr class="bg-light">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Composition</th>
                        <th scope="col" id="phase">Phase</th>
                        <th scope="col" id="range">Range</th>
                        <th scope="col" id="request">Request</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                      <% @xrd.each do |xrds|%>
                        <th scope="row">CRF/XRD/<%=xrds.id %>	</th>

                        <td> <%= xrds.user.name%> </td>
                        <td> <%= xrds.user.orgname%> </td>
                        <td> <%= xrds.user.department%> </td>
                        <td> <%= xrds.user.contact%> </td>
                        <td> <%= xrds.sample%> </td>
                        <td> <%= xrds.measurement%> </td>
                        <td> <%= xrds.composition%> </td>
                        <td> <%= xrds.stype%> </td>
                        <td> <%= xrds.mind%>° to <%= xrds.maxd%>°</td>
                        <td> </td>
                        <td> <%= xrds.more%> </td>

                        <%end%>
                        <td>Booked</td>
                        <td><button type="button" name="button" type="btn btn-primary">Assign</button></td>.
                        <td>Not Available</td>

                    </tr>
                </tbody>
            </table>

        </div>


    </div>


</div>
