<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'Zeta Potential Slotbooker', slotbooker_zeta_path, class:'navbar-brand', id:'title' %>
        <div id="tab-div">
          <div class="btn-group btn-profile dropstart">
            <%= link_to 'Completed Slots',slotbooker_zeta3_path,class:"btn btn-outline-warning profile-dropdown" %>
            <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu font-quicksand">
              <li><%= link_to 'All Slots',slotbooker_zeta_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Pending Slots',slotbooker_zeta1_path,class:"dropdown-item"%></li>
              <li><%= link_to 'Alloted Slots',slotbooker_zeta2_path,class:"dropdown-item" %></li>
              <li><%= link_to 'Completed Slots',slotbooker_zeta3_path,class:"dropdown-item active" %></li>
              <li><%= link_to 'Cancelled Slots',slotbooker_zeta4_path,class:"dropdown-item" %></li>

              <li><hr class="dropdown-divider"></li>
              <li><%= link_to 'LogOut',destroy_user_session_path,method: :delete, class:"dropdown-item profile-dropdown", id:"log-out" %></li>
            </ul>
          </div>
        </div>

        
        <div class="collapse navbar-collapse tab" id="btn-head">
            <ul class="navbar-nav">
                <li class="nav-item-tab">
                    <%= link_to 'All Slots',slotbooker_zeta_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Pending Slots',slotbooker_zeta1_path,class:"nav-link active dropdown-item"%>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Alloted Slots',slotbooker_zeta2_path,class:"nav-link active dropdown-item" %>
                </li>
                <li class="nav-item-tab activated">
                    <%= link_to 'Completed Slots',slotbooker_zeta3_path,class:"nav-link active activated-text dropdown-item" %>
                </li>
                <li class="nav-item-tab">
                    <%= link_to 'Canceled Slots',slotbooker_zeta4_path,class:"nav-link active dropdown-item" %>
                </li>
            </ul>
        </div>

        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>

    </nav>
</div>

<div class="container-slot-booker-new">

    
  
<%# the content section is coded here %>
    <div id="slots">
        


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Sample Type</th>
                        <th scope="col" id="composition">Toxicity</th>
                        <th scope="col" id="phase">Element</th>
                        <th scope="col" id="range">Solvent</th>
                        <th scope="col" id="composition">Refractive Index</th>
                        <th scope="col" id="composition">viscosity Poise</th>
                        <th scope="col" id="phase">Viscosity Temperature</th>
                        <th scope="col" id="range">Solute Known</th>
                        <th scope="col" id="composition">Solute name</th>
                        <th scope="col" id="phase">Refective Index(Solute)</th>
                        <th scope="col" id="range">Abs Coefficent</th>
                        <th scope="col" id="composition">Measurement Angle</th>
                        <th scope="col" id="phase">Type of Analysis Required</th>
                        <th scope="col" id="range">Analysis Temperature</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @zeta3.where(status:'completed').each do |zeta|%>
                      <tr>
                        <th scope="row">CRF/Zeta Potential Sizes/<%=zeta.id %>	</th>
                        <td> <%= zeta.user.firstname%><nobr> <%= zeta.user.lastname%> </td>
                        <td> <%= zeta.user.orgname%> </td>
                        <td> <%= zeta.user.department%> </td>
                        <td> <%= zeta.user.contact%> </td>
                        <td> <%= zeta.sample%> </td>
                        <td> <%= zeta.stype%> </td>
                        <td> <%= zeta.toxicity%> </td>
                        <td> <%= zeta.element%> </td>
                        <td> <%= zeta.solvent%> </td>
                        <td> <%= zeta.refractive_index%> </td>
                        <td> <%= zeta.viscositypoise%> </td>
                        <td> <%= zeta.viscositytemp%> </td>
                        <td> <%= zeta.soluteknown%> </td>
                        <td> <%= zeta.solutename%> </td>
                        <td> <%= zeta.refindex%> </td>
                        <td> <%= zeta.abscoefficent%> </td>
                        <td> <%= zeta.angle%> </td>
                        <td> <%= zeta.analysis_type%> </td>
                        <td> <%= zeta.analysis_temperature%> </td>
                        <td> <%= zeta.more%> </td>
                        <td>Booked</td>
                        <td> <%= zeta.slotdate %> </td>
                        <td><span style="white-space: nowrap;"><%= zeta.slotdate.strftime('%d-%m-%Y')if zeta.slotdate.present? %></td>
                        <td><%= zeta.slottime.strftime('%H:%M:%S') if zeta.slottime.present? %></td>
  <td> <%= zeta.status %></td>
  <%if zeta.references.attached? %>
  <%zeta.references.each do |file|%>
<td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
<%end%>
<% else %>
<td>NA</td>
<% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
<button class="cssbuttons-io-button" id="scroll-left"> Left
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>

    <button class="cssbuttons-io-button" id="scroll-right"> Right
        <div class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path fill="currentColor" d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"></path></svg>
        </div>
    </button>


<script>
    let left = document.getElementById('scroll-left');
    let right = document.getElementById('scroll-right');
    let slots = document.getElementById('slots');
    left.addEventListener("click", () => {
        console.log("hello")
        slots.scrollLeft -= 300;
    });
    right.addEventListener("click", () => {
        console.log("hello2")
        slots.scrollLeft += 300;
    });
</script>