<%= stylesheet_link_tag "adminportal" %>

<div id="header">
    <nav class="navbar bg-dark navbar-expand-lg navbar-dark">
        <%= link_to 'ZETA Slotbooker',slotbooker_zeta_path,class:"navbar-brand",id:"title"  %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#btn-head">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="btn-head">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" id="admin-mail">
                    <a class="nav-link" href="#">admin@mail</a>
                </li>
                <li class="nav-item" id="logout">
                <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="container-slot-booker">

    <div id="navigation" class="font-quiucksand">
        <!--below is the button of Nitk CRF logo-->
        <div id="navigation-logo">
          <a href="/"> <%=image_tag 'logoT', id:"logopic", class:"btn btn-left" %> </a>
        </div>

        <div class="sidelinks">

            <h2 class="fw-bold text-center">Navigation</h2>
            <ul class="sidelinks-model-list">
                <%# below are code to get items on the navigation pane %>
                <li class="nav-item">
                        <%= link_to 'All Slots',slotbooker_zeta_path,class:"nav-link active sidelink-wrap" %>
                </li>
                <li class="nav-item">
                        <%= link_to 'Pending Slots',slotbooker_zeta1_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Alloted Slots',slotbooker_zeta2_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                        <%= link_to 'Completed Slots',slotbooker_zeta3_path,class:"nav-link active sidelink-wrap" %>
                        </li>
                <li class="nav-item">
                      <%= link_to 'Cancelled Slots',slotbooker_zeta4_path,class:"nav-link active sidelink-wrap" ,id:"active-tab"%>
                </li>
            </ul>
        </div>
    </div>

<%# the content section is coded here %>
    <div id="slots">
        <div id="current-tab">
            <h2 class="fw-bold font-unbounded" id="tab-name">Zeta Potential Sizes: Cancelled Slots</h2>
        </div>


        <div id="slot-details">
        <div>
            <table class="table table-hover font-quicksand">
                <thead>
                    <tr class="table-head font-unbounded">
                        <th scope="col" id="application-no">Appl No</th>
                        <th scope="col" id="name">Name</th>
                        <th scope="col" id="institute">Institute</th>
                        <th scope="col" id="department">Department</th>
                        <th scope="col" id="contact-no">Contact No:</th>
                        <th scope="col" id="sample-no">No of Samples</th>
                        <th scope="col" id="composition">Sample Type</th>
                        <th scope="col" id="composition">Toxicity</th>
                        <th scope="col" id="phase">Element</th>
                        <th scope="col" id="range">Solvent</th>
                        <th scope="col" id="composition">Refractive Index</th>
                        <th scope="col" id="composition">viscosity Poise</th>
                        <th scope="col" id="phase">Viscosity Temperature</th>
                        <th scope="col" id="range">Solute Known</th>
                        <th scope="col" id="composition">Solute name</th>
                        <th scope="col" id="phase">Refective Index(Solute)</th>
                        <th scope="col" id="range">Abs Coefficent</th>
                        <th scope="col" id="composition">Measurement Angle</th>
                        <th scope="col" id="phase">Type of Analysis Required</th>
                        <th scope="col" id="range">Analysis Temperature</th>
                        <th scope="col" id="request">More info</th>
                        <th scope="col" id="booked-on">Booked On</th>
                        <th scope="col" id="slot-date">Slot Date</th>
                        <th scope="col" id="slot-time">Slot Time</th>
                        <th scope="col">Status</th>
                        <th scope="col" id="reference-paper">Reference Paper</th>
                    </tr>
                </thead>
                <tbody>

                      <% @zeta4.where(status:'cancelled').each do |zeta|%>
                      <tr>
                        <th scope="row">CRF/Zeta Potential Sizes/<%=zeta.id %>	</th>
                        <td> <%= zeta.user.firstname%><nobr> <%= zeta.user.lastname%> </td>
                        <td> <%= zeta.user.orgname%> </td>
                        <td> <%= zeta.user.department%> </td>
                        <td> <%= zeta.user.contact%> </td>
                        <td> <%= zeta.sample%> </td>
                        <td> <%= zeta.stype%> </td>
                        <td> <%= zeta.toxicity%> </td>
                        <td> <%= zeta.element%> </td>
                        <td> <%= zeta.solvent%> </td>
                        <td> <%= zeta.refractive_index%> </td>
                        <td> <%= zeta.viscositypoise%> </td>
                        <td> <%= zeta.viscositytemp%> </td>
                        <td> <%= zeta.soluteknown%> </td>
                        <td> <%= zeta.solutename%> </td>
                        <td> <%= zeta.refindex%> </td>
                        <td> <%= zeta.abscoefficent%> </td>
                        <td> <%= zeta.angle%> </td>
                        <td> <%= zeta.analysis_type%> </td>
                        <td> <%= zeta.analysis_temperature%> </td>
                        <td> <%= zeta.more%> </td>
                        <td>Booked</td>
<<<<<<< HEAD
                        <td><%= zeta.slotdate %> </td>
=======
                        <td><span style="white-space: nowrap;"><%= zeta.slotdate.strftime('%d-%m-%Y')if zeta.slotdate.present? %></td>
>>>>>>> 3a5c36457abb0bb6b8aaf5f51515b9b17ff1af62
                        <td><%= zeta.slottime.strftime('%H:%M:%S') if zeta.slottime.present? %></td>
  <td> <%= zeta.status %></td>
  <%if zeta.references.attached? %>
  <%zeta.references.each do |file|%>
<td> <%= link_to "Download", rails_blob_path(file, disposition: :attachment), class: "btn btn-primary" %></td>
<%end%>
<% else %>
<td>NA</td>
<% end %>
                    </tr>
                      <%end%>
                </tbody>
            </table>

        </div>
        </div>


    </div>


</div>
