



<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1> μ-EDM</h1>
    </div>
    <div class='hero'>
      <%= form_with(model: micro_edm) do |form| %>
        <% if micro_edm.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(micro_edm.errors.count, "error") %> prohibited this micro_edm from being saved:</h2>

            <ul>
              <% micro_edm.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <% if @slot_type=="regular"%>
        <div class="input-group mb-3">
          <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample-no"%>
          <%= form.select(:sample, [1, 2,3,4,5], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-no",:required => true}) %>
        </div>
     <%else%>
     <div id="instruct">
         <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
         <p class="text-danger"></p>
     </div>
     <div class="input-group mb-3">
       <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
       <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
     </div>
     <%end%>



        <div class="input-group mb-3">
          <%= form.label :composition,"Samples Composition" ,class:"input-group-text",for:"sample_composition"%>
          <%= form.text_field :composition , class:"form-control", id:"sample_composition", placeholder:""%>
        </div>



        <div class="input-group mb-3">
          <%= form.label :toolmaterial,"Tool Material/Nomenclature",class:"input-group-text",for:"tool_nomenclature" %>
          <%= form.text_field :toolmaterial, class:"form-control",id:"tool_nomenclature",placeholder:""%>
        </div>
        <div class="input-group mb-3">
          <%= form.label :toolelectrode,"Tool Electrode", class:"input-group-text", for:"toll"%>
          <%= form.select(:toolelectrode, ['From Applicant','From lab'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "toll",:required => true}) %>
        </div>


        <div>
            <p class="fw-bold text-info">Measurement Information</p>
        </div>
        <% options = ['Micro-Milling', 'Micro-Turning','Micro-Drilling','Micro-Edg','Micor-Edm'] %>
        <% options.each do |option| %>
          <%= check_box_tag 'micro_edm[measuerment][]', option, @micro_edm.measuerment.include?(option) %>
          <%= label_tag "micro-edms_measuerment_#{option}", option %><br>
        <% end %>


        <div class="text-success">
          <p>If process parameters are known, click above checkboxes</p>
        </div>

        <div class="process-param">
          <div class="text-warning">
            <p>Process Parameter</p>
          </div>

          <div>
            <div id="millling" class="vis">
              <div>
                  <p class="fw-bold">Milling</p>
                </div>

                <div class="input-group mb-3">

                  <%= form.text_field :millingfeed,class:"form-control" ,id:"feed",placeholder:"Feed" %>
                    <%= form.label :millingfeed ,"mm/min",class:"input-group-text",for:"feed"%>
                </div>

                <div class="input-group mb-3">
                  <%= form.text_field :millingspeed,class:"form-control" ,id:"feed",placeholder:"Toll Speed" %>
                    <%= form.label :millingspeed ,"rpm",class:"input-group-text",for:"feed"%>

                </div>
              </div>

            <div id="turning" class="vis">
                <div>
                  <p class="fw-bold">Turning</p>
                </div>

                <div class="input-group mb-3">
                  <%= form.text_field :turningfeed,class:"form-control" ,id:"feed" ,placeholder:"Feed"%>
                    <%= form.label :turningfeed ,"mm/min",class:"input-group-text",for:"feed"%>

                </div>

                <div class="input-group mb-3">
                  <%= form.text_field :turningspeed,class:"form-control" ,id:"toll-speed" ,placeholder:"Tool Speed"%>
                    <%= form.label :turningspeed ,"rpm",class:"input-group-text",for:"toll-speed"%>
                </div>
            </div>

            <div id="drill" class="vis">
              <div>
                <p class="fw-bold">Drilling</p>
              </div>

              <div class="input-group mb-3">
                <%= form.text_field :drillingdepth,class:"form-control" ,id:"depth" ,placeholder:"Feed"%>
                  <%= form.label :drillingdepth ,"mm",class:"input-group-text",for:"feed"%>
              </div>

              <div class="input-group mb-3">
                <%= form.text_field :drillingspeed,class:"form-control" ,id:"toll_speed" ,placeholder:"Toll Spped"%>
                  <%= form.label :drillingspeed ,"rpm",class:"input-group-text",for:"toll_speed"%>
              </div>
            </div>

            <div id="edm" class="vis">
              <div class="EDG" id="EDMParameter">
                <p class="fw-bold" >EDM</p>
              </div>

              <div class="input-group mb-3">
                <%= form.text_field :edmvoltage,class:"form-control" ,id:"wire_tension" ,placeholder:"Voltage 80-130"%>
                  <%= form.label :edmvoltage ,"V",class:"input-group-text",for:"wire_tension"%>
              </div>

            <div class="input-group mb-3">
              <%= form.label :edmcapacitance,"Capacitance", class:"input-group-text", for:"sample-no"%>
              <%= form.select(:edmcapacitance, ['10pf','100pf','1nf','100nf','400nf'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-no"}) %>
            </div>

            </div>
            <div id="edg" class="vis">
              <div class="EDG" id="EDGParameter">
                <p class="fw-bold" >EDG</p>
              </div>
              <div>
               <%= form.label :edgpolarity, "Tool Polarity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
                 <div class="form-check">
                     <%= form.radio_button :edgpolarity, '+ve', class:"form-check-input", type:"radio", id:"flexRadioDefault2",:checked => true  %>+ve
                 </div>
                 <div class="form-check">
                       <%= form.radio_button :edgpolarity, '-ve', class:"form-check-input", type:"radio", id:"flexRadioDefault1"  %> -ve
                 </div>
             </div>


              <div class="input-group mb-3">
                <%= form.text_field :edgwire,class:"form-control" ,id:"wire_tension" ,placeholder:"Wire Tension"%>
                  <%= form.label :edgwire ,"%",class:"input-group-text",for:"wire_tension"%>
              </div>

              <div class="input-group mb-3">
                <%= form.text_field :edgfeed,class:"form-control" ,id:"wire_feed" ,placeholder:"Wire Feed"%>
                  <%= form.label :edgfeed ,"mm",class:"input-group-text",for:"wire_tension"%>
              </div>
            </div>
        </div>

        <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Attach Material properties in .pdf" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>


        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="input-group mb-3">
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
        </div>


      </div>

              <div class="actions">
                <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
              </div>

    </div>
    </div>
<%end%>

    <%=render "partials/footer" %>


    <script>
        let mill = document.getElementById('micromill-check')
        let turn = document.getElementById('microturn-check')
        let drill = document.getElementById('microdrill-check')
        let edm = document.getElementById('microedm-check')
        let edg = document.getElementById('microedg-check')
        let mil_div = document.getElementById('millling')
        let turn_div = document.getElementById('turning')
        let drill_div = document.getElementById('drill')
        let edm_div = document.getElementById('edm')
        let edg_div = document.getElementById('edg')
        mill.addEventListener('change', ()=> {
            mil_div.classList.add('vis');

            if(mill.checked) {          //checks whether checkbox is checked or not
                mil_div.classList.toggle('vis')
            }
        })
        turn.addEventListener('change', ()=> {
            turn_div.classList.add('vis');

            if(turn.checked) {
                turn_div.classList.toggle('vis')
            }
        })
        drill.addEventListener('change', ()=> {
            drill_div.classList.add('vis');

            if(drill.checked) {
                drill_div.classList.toggle('vis')
            }
        })
        edm.addEventListener('change', ()=> {
            edm_div.classList.add('vis');

            if(edm.checked) {
                edm_div.classList.toggle('vis')
            }
        })
        edg.addEventListener('change', ()=> {
            edg_div.classList.add('vis');

            if(edg.checked) {
                edg_div.classList.toggle('vis')
            }
        })

    </script>
