<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @micro_edm.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @micro_edm.composition %>
</p>

<p>
  <strong>Toolelectrode:</strong>
  <%= @micro_edm.toolelectrode %>
</p>

<p>
  <strong>Toolmaterial:</strong>
  <%= @micro_edm.toolmaterial %>
</p>

<p>
  <strong>Milling:</strong>
  <%= @micro_edm.milling %>
</p>

<p>
  <strong>Turning:</strong>
  <%= @micro_edm.turning %>
</p>

<p>
  <strong>Drilling:</strong>
  <%= @micro_edm.drilling %>
</p>

<p>
  <strong>Edm:</strong>
  <%= @micro_edm.edm %>
</p>

<p>
  <strong>Edg:</strong>
  <%= @micro_edm.edg %>
</p>

<p>
  <strong>More:</strong>
  <%= @micro_edm.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @micro_edm.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @micro_edm.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @micro_edm.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @micro_edm.status %>
</p>

<%= link_to 'Edit', edit_micro_edm_path(@micro_edm) %> |
<%= link_to 'Back', micro_edms_path %>
