<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @ft_nm.sample %>
</p>

<p>
  <strong>Nature:</strong>
  <%= @ft_nm.nature %>
</p>

<p>
  <strong>Phase:</strong>
  <%= @ft_nm.phase %>
</p>

<p>
  <strong>Solvent1:</strong>
  <%= @ft_nm.solvent1 %>
</p>

<p>
  <strong>Measurement1:</strong>
  <%= @ft_nm.measurement1 %>
</p>

<p>
  <strong>Solvent2:</strong>
  <%= @ft_nm.solvent2 %>
</p>

<p>
  <strong>Measurement2:</strong>
  <%= @ft_nm.measurement2 %>
</p>

<p>
  <strong>Solvent3:</strong>
  <%= @ft_nm.solvent3 %>
</p>

<p>
  <strong>Measurement3:</strong>
  <%= @ft_nm.measurement3 %>
</p>

<p>
  <strong>Solvent4:</strong>
  <%= @ft_nm.solvent4 %>
</p>

<p>
  <strong>Measurement4:</strong>
  <%= @ft_nm.measurement4 %>
</p>

<p>
  <strong>Measurement5:</strong>
  <%= @ft_nm.measurement5 %>
</p>

<p>
  <strong>Solvent5:</strong>
  <%= @ft_nm.solvent5 %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @ft_nm.toxicity %>
</p>

<p>
  <strong>Health:</strong>
  <%= @ft_nm.health %>
</p>

<p>
  <strong>More:</strong>
  <%= @ft_nm.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @ft_nm.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @ft_nm.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @ft_nm.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ft_nm.status %>
</p>

<%= link_to 'Edit', edit_ft_nm_path(@ft_nm) %> |
<%= link_to 'Back', ft_nms_path %>
