<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @ultra_centrifuge.sample %>
</p>

<p>
  <strong>Volume:</strong>
  <%= @ultra_centrifuge.volume %>
</p>

<p>
  <strong>Speed:</strong>
  <%= @ultra_centrifuge.speed %>
</p>

<p>
  <strong>Temperature:</strong>
  <%= @ultra_centrifuge.temperature %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @ultra_centrifuge.toxicity %>
</p>

<p>
  <strong>Compatibility:</strong>
  <%= @ultra_centrifuge.compatibility %>
</p>

<p>
  <strong>Carcinogenic:</strong>
  <%= @ultra_centrifuge.carcinogenic %>
</p>

<p>
  <strong>More:</strong>
  <%= @ultra_centrifuge.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @ultra_centrifuge.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @ultra_centrifuge.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @ultra_centrifuge.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ultra_centrifuge.status %>
</p>

<%= link_to 'Edit', edit_ultra_centrifuge_path(@ultra_centrifuge) %> |
<%= link_to 'Back', ultra_centrifuges_path %>
