<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Glove Box</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="glove-box-images" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <%=image_tag 'glove-box-images/GloveBox_2.jpg' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                  </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#glove-box-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#glove-box-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">

          <div class="mb-3">
              <span class="fw-bold" style="color:blue" >Glove Box provide a leak-tight environment for work with contamination-sensitive materials"</span>
          </div>

            <div class="mb-3">
                <span class="fw-bold text-warning" >[Prolab GB II, ProRes Scientific LLP, INDIA]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data">CRF Block - S03</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Large Antechamber</u>:</h4>
                  <ul>
                    <li>Cylindrical type 400 mm Ø 600 mm Length</li>
                    <li>Analogue vacuum gauge</li>
                    <li>Manual evacuating and refill valve</li>
                  </ul>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Small Antechamber</u>:</h4>
                  <ul>
                    <li>Cylindrical type 154 mm Ø 410 mm Length</li>
                    <li> Manual evacuating and refill valve</li>
                  </ul>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Elite single coloum Gas purication system</u></h4>
                  <li><1ppm O2 and <1ppm H2O purity</li>
                    <li> O<sub>2</sub> capacity : 41L purification column</li>
                    <li>Variable speed circulation blower 110 m<sup>3</sup>/h</li>
                    <li>Automatic pressure control +/- 15mbar</li>
                    <li>Automatic purging</li>
                    <li>Integrated moisture analyzer 0-1000 ppm</li>
            </div>

        </div>

        <div class="regular-charges">
            <!-- storage charges -->
            <h3 class="text-danger"><u>Storage charges (per month).</u></h3>
            <table class="table table-hover">
                <thead>
                  <tr style="border-bottom: 2.5px solid #000;">

                    <th>NITK<sup>#</sup></th>
                    <th>Academic &amp; Research Institute<sup>#</sup>*</th>
                     <th>Industry<sup>#</sup>*</th>

                  </tr>
                </thead>
                <tbody>
            <tr>
                  <th style="color:#0094BB">Rs. 500/- <span style="color: orange; font: monospace;">[small container]</span></th>
                    <th style="color:#0094BB">Rs. 1000/- <span style="color: orange; font: monospace;">[small container]</span></th>
                    <th style="color:#0094BB">-</th>
                   </tr>

                   <tr>
                  <th style="color:#0094BB">Rs. 1000/- <span style="color: orange; font: monospace;">[large container]</span></th>
                    <th style="color:#0094BB">Rs. 2000/- <span style="color: orange; font: monospace;">[large container]</span></th>
                    <th style="color:#0094BB">-</th>
                  </tr>



                </tbody>
              </table>
            <!-- storage charges end-->

            <h3 class="text-danger"><u>Conducting Experiment [as per feasibility] charges (per experiment).</u></h3>
            <table class="table table-hover">
              <thead>
                <tr style="border-bottom: 2.5px solid #000;">

                  <th>NITK<sup>#</sup></th>
                  <th>Academic &amp; Research Institute<sup>#</sup>*</th>
                   <th>Industry<sup>#</sup>*</th>

                </tr>
              </thead>
              <tbody>
          <tr>
                <th style="color:#0094BB">Rs. 500/- </th>
                  <th style="color:#0094BB">Rs. 1000/- </th>
                  <th style="color:#0094BB">-</th>
                 </tr>

              </tbody>
            </table>
        </div>

        <div class="text-danger fw-bold">
            <p>#Depending on usabaility, *GST(18%) extra.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Mr. Jithesh Shetty (Technical Staff, CRF), Email: <span class="text-info">crf_synlab@nitk.edu.in</span></h5>
            <h5>Dr. Rizwanur Rahman (Faculty in-charge), Mob: <span class="text-info">+91-9620169801</span>  ,Email: <span class="text-info"> crf_synlab@nitk.edu.in</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
