<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "knowEquipment"%>
<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
     <h1 class="text-center">Glow Discharge Optical Emission Spectrometer</h1>

    </div>
    <div class="hero">

      <div class="equipment-img-wrap" >
        <div class="equipment-img">
            <div id="glow-images" class="carousel slide">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                      <%=image_tag 'glow-oes-images/GDOES_2.png' , class:"equipment-img-tag d-block w-100 card-img", alt:"..." %>
                  </div>
                </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#glow-images" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#glow-images" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
            </div>
        </div>
     </div>


        <div id="content">
            <div class="mb-3">
                <span class="fw-bold text-warning" >[GD-Profiler 2TM, Horiba, France]</span>
            </div>

            <div class="mb-3">
                <span class="fw-bold">Located at:</span><span class="data">CRF Annexe - F03</span>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Features</u>:</h4>
                  <ol type="a">
                    <li>Quantitative elemental depth profile analysis from the first nanometer down to more than 150 microns</li>
                    <li>RF-Only generator is Class E standard and optimized for stability and crater shape allowing for real surface analysis</li>
                    <li> Source can be pulsed with synchronized acquisition for optimum results on fragile samples. The use of an RF source allows analysis of conventional and non conventional layers and materials</li>
                    <li>Simultaneous optic provides full spectral coverage from 110 to 800 nm, including deep UV access to analyze H, O, C, N and Cl</li>
                    <li>HORIBA original, ion-etched holographic gratings assure the highest light throughput and resolution for maximum light efficiency and sensitivity</li>
                    <li>Patented HDD detection provides speed and sensitivity in detection without compromise</li>
                  </ol>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Resolution/Specification:</u></h4>
                  <ol type="a">
                    <li>Optional monochromator with Image mode and high Dynamic detection for full spectrum record and total flexibility</li>
                    <li>Pulsed RF Source for operation in RF and pulsed RF modes with auto-matching</li>
                    <li> Plasma Cleaning function built in</li>
                    <li> Patented UFS for Ultra-Fast Sputtering of polymeric and organic materials</li>
                    <li>Various anode diameters and accessories for odd shape samples</li>
                  </ol>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>List of Facilities:</u></h4>
                  <ul >
                    <li>Direct measurement of the depth as a function of time, with nanometric precision</li>
                    <ol type="i">
                      <li>  (i) Depth profiling from few hundred nm to 150 microns</li>
                    </ol>
                    <li>Ultrafast elemental depth profile analysis of thin and thick layers, conducting or isolating, with high sensitivity to all elements</li>
                  </ul>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Application domains</u>:</h4>
                  <ul>
                    <li> Li batteries – positive and negative electrodes</li>
                    <li>Nitriding – in-depth N and C measurements</li>
                    <li>LED – depth resolution, process control</li>
                    <li> Structured materials</li>
                    <li>Hard disks – Uniformity check and repeatability</li>
                    <li>Cationic exchange in glass</li>
                    <li>Coatings on steel</li>
                    <li>Polymer</li>
                    <li>Hydrogen – H and D can be measured simultaneously</li>
                  </ul>
            </div>

            <div class="mb-3">
                <h4 class="fw-bold"><u>Sample Dimension and Structure</u>:</h4>
                  <ul>
                    <li>The samples size must be 3cm x 3cm or more</li>
                    <li>The samples must be polished to mirror finish, free of oxide, grease and oil</li>
                    <li> Smaller and thinner samples have lesser repeatability</li>
                    <li>For non-conductive sample maintain the thickness 2mm or below</li>
                  </ul>
            </div>

        </div>

        <div class="regular-charges">
            <h3 class="text-danger"><u>Testing charges (sample basis).</u></h3>
            <table class="table">
              <thead>
                <tr style="border-bottom: 2.5px solid #000;">
                  <th>Details</th>
                  <th style="color:#0094BB">NITK</th>
                  <th style="color:#0094BB">External-Academic Institute</th>
                  <th style="color:#0094BB">External-R&amp;D Institute / Industry</th>

                </tr>
              </thead>
              <tbody>

                  <tr>
                  <th> Quantitative elemental depth profile analysis </th>
                  <th> Rs. 1,500/- </th>
                  <th> Rs. 2,250/- </th>
                  <th> Rs. 3,000/- </th>

                </tr>
              </tbody>
            </table>
        </div>

        <div class="text-danger fw-bold">
            <p>#Grit Paper, Grinding Suspension or other consumable charged extra.</p>
            <p>*GST (18%) extra.</p>
            <br>
        </div>

        <div class="queries text-center">
            <h3>For further Query Contact:</h3>
            <h5>Mr. Jithesh Shetty (Technical Staff, CRF), Email: <span class="text-info">crf_gdoes@nitk.edu.in</span></h5>
            <h5>Prof. M. N. Satyanarayan (GD-OES, Faculty in-charge),  Email: <span class="text-info"> satya_mn@nitk.edu.in</span></h5>

        </div>


    </div>
</div>

<%=render "partials/footer" %>
