<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @low_fatigue.sample %>
</p>

<p>
  <strong>Sc1:</strong>
  <%= @low_fatigue.sc1 %>
</p>

<p>
  <strong>St1:</strong>
  <%= @low_fatigue.st1 %>
</p>

<p>
  <strong>Tt1:</strong>
  <%= @low_fatigue.tt1 %>
</p>

<p>
  <strong>Tf1:</strong>
  <%= @low_fatigue.tf1 %>
</p>

<p>
  <strong>Sc2:</strong>
  <%= @low_fatigue.sc2 %>
</p>

<p>
  <strong>St2:</strong>
  <%= @low_fatigue.st2 %>
</p>

<p>
  <strong>Tt2:</strong>
  <%= @low_fatigue.tt2 %>
</p>

<p>
  <strong>Tf2:</strong>
  <%= @low_fatigue.tf2 %>
</p>

<p>
  <strong>Sc3:</strong>
  <%= @low_fatigue.sc3 %>
</p>

<p>
  <strong>St3:</strong>
  <%= @low_fatigue.st3 %>
</p>

<p>
  <strong>Tt3:</strong>
  <%= @low_fatigue.tt3 %>
</p>

<p>
  <strong>Tf3:</strong>
  <%= @low_fatigue.tf3 %>
</p>

<p>
  <strong>Sc4:</strong>
  <%= @low_fatigue.sc4 %>
</p>

<p>
  <strong>St4:</strong>
  <%= @low_fatigue.st4 %>
</p>

<p>
  <strong>Tt4:</strong>
  <%= @low_fatigue.tt4 %>
</p>

<p>
  <strong>Tf4:</strong>
  <%= @low_fatigue.tf4 %>
</p>

<p>
  <strong>Sc5:</strong>
  <%= @low_fatigue.sc5 %>
</p>

<p>
  <strong>St5:</strong>
  <%= @low_fatigue.st5 %>
</p>

<p>
  <strong>Tt5:</strong>
  <%= @low_fatigue.tt5 %>
</p>

<p>
  <strong>Tf5:</strong>
  <%= @low_fatigue.tf5 %>
</p>

<p>
  <strong>More:</strong>
  <%= @low_fatigue.more %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @low_fatigue.slottime %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @low_fatigue.slotdate %>
</p>

<p>
  <strong>Status:</strong>
  <%= @low_fatigue.status %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @low_fatigue.debit %>
</p>

<p>
  <strong>M1:</strong>
  <%= @low_fatigue.m1 %>
</p>

<p>
  <strong>M2:</strong>
  <%= @low_fatigue.m2 %>
</p>

<p>
  <strong>M3:</strong>
  <%= @low_fatigue.m3 %>
</p>

<p>
  <strong>M4:</strong>
  <%= @low_fatigue.m4 %>
</p>

<p>
  <strong>M5:</strong>
  <%= @low_fatigue.m5 %>
</p>

<%= link_to 'Edit', edit_low_fatigue_path(@low_fatigue) %> |
<%= link_to 'Back', low_fatigues_path %>
