<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @high_temp_vaccum.sample %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @high_temp_vaccum.composition %>
</p>

<p>
  <strong>Toxicity:</strong>
  <%= @high_temp_vaccum.toxicity %>
</p>

<p>
  <strong>Req atoms:</strong>
  <%= @high_temp_vaccum.req_atoms %>
</p>

<p>
  <strong>Gas:</strong>
  <%= @high_temp_vaccum.gas %>
</p>

<p>
  <strong>Starttemp:</strong>
  <%= @high_temp_vaccum.starttemp %>
</p>

<p>
  <strong>Endtemp:</strong>
  <%= @high_temp_vaccum.endtemp %>
</p>

<p>
  <strong>Samplemelting:</strong>
  <%= @high_temp_vaccum.samplemelting %>
</p>

<p>
  <strong>No steps:</strong>
  <%= @high_temp_vaccum.no_steps %>
</p>

<p>
  <strong>Temp1:</strong>
  <%= @high_temp_vaccum.temp1 %>
</p>

<p>
  <strong>Min1:</strong>
  <%= @high_temp_vaccum.min1 %>
</p>

<p>
  <strong>Temp2:</strong>
  <%= @high_temp_vaccum.temp2 %>
</p>

<p>
  <strong>Min2:</strong>
  <%= @high_temp_vaccum.min2 %>
</p>

<p>
  <strong>Temp3:</strong>
  <%= @high_temp_vaccum.temp3 %>
</p>

<p>
  <strong>Min3:</strong>
  <%= @high_temp_vaccum.min3 %>
</p>

<p>
  <strong>Temp4:</strong>
  <%= @high_temp_vaccum.temp4 %>
</p>

<p>
  <strong>Min4:</strong>
  <%= @high_temp_vaccum.min4 %>
</p>

<p>
  <strong>Temp5:</strong>
  <%= @high_temp_vaccum.temp5 %>
</p>

<p>
  <strong>Min5:</strong>
  <%= @high_temp_vaccum.min5 %>
</p>

<p>
  <strong>More:</strong>
  <%= @high_temp_vaccum.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @high_temp_vaccum.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @high_temp_vaccum.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @high_temp_vaccum.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @high_temp_vaccum.status %>
</p>

<%= link_to 'Edit', edit_high_temp_vaccum_path(@high_temp_vaccum) %> |
<%= link_to 'Back', high_temp_vaccums_path %>
