<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @three_d_scanner.sample %>
</p>

<p>
  <strong>Size:</strong>
  <%= @three_d_scanner.size %>
</p>

<p>
  <strong>Texture:</strong>
  <%= @three_d_scanner.texture %>
</p>

<p>
  <strong>Ply:</strong>
  <%= @three_d_scanner.ply %>
</p>

<p>
  <strong>Stt:</strong>
  <%= @three_d_scanner.stt %>
</p>

<p>
  <strong>Wrl:</strong>
  <%= @three_d_scanner.wrl %>
</p>

<p>
  <strong>Obj:</strong>
  <%= @three_d_scanner.obj %>
</p>

<p>
  <strong>Asc:</strong>
  <%= @three_d_scanner.asc %>
</p>

<p>
  <strong>Aop:</strong>
  <%= @three_d_scanner.aop %>
</p>

<p>
  <strong>Ptx:</strong>
  <%= @three_d_scanner.ptx %>
</p>

<p>
  <strong>Xyzrgb:</strong>
  <%= @three_d_scanner.xyzrgb %>
</p>

<p>
  <strong>More:</strong>
  <%= @three_d_scanner.more %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @three_d_scanner.debit %>
</p>

<p>
  <strong>Slotdate:</strong>
  <%= @three_d_scanner.slotdate %>
</p>

<p>
  <strong>Slottime:</strong>
  <%= @three_d_scanner.slottime %>
</p>

<p>
  <strong>Status:</strong>
  <%= @three_d_scanner.status %>
</p>

<%= link_to 'Edit', edit_three_d_scanner_path(@three_d_scanner) %> |
<%= link_to 'Back', three_d_scanners_path %>
