<%= stylesheet_link_tag "adminportal" %>

        <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid">
                    <a class="navbar-brand font-unbounded" href="#">CRF ADMIN</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                               <%= link_to "Dashboard", mainportal_admindashboard_path ,class:"nav-link active nav-btn main-elements" %>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link active nav-btn main-elements" id='active-tab'>Statistics</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active nav-btn main-elements" id="model">Models</a>
                            </li>
                            <div id="model-list" class="vis">
                                <%= link_to "Users", mainportal_adminModelUsers_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Equipments", mainportal_adminModelEquip_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Payment", mainportal_adminModelPayment_path ,class:"nav-link active nav-btn model-element" %>
                                <%= link_to "Feedbacks", feedbacks_index_path ,class:"nav-link active nav-btn model-element" %>
                            </div>
                        </ul>

                </div>
                    <div>
                    </div>
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item" id="admin-mail">
                            <a class="nav-link" href="#">admin@mail</a>
                        </li>
                        <li class="nav-item" id="logout">
                        <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
                        </li>
                    </ul>
                    </div>
                </div>


        </nav>

<div class="container">

        <div id="stats">
            <h2 class="fw-bold">All Statistics</h2>
        </div>
        <div id="chart-1" class="mt-5 mb-3">
                <div>
                    <h2>Equipment vs Revenue</h2>
                </div>
                <!--Script tag to fetch data to the chart-->
                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['Work',     11],
                        ['Eat',      2],
                        ['Commute',  2],
                        ['Watch TV', 2],
                        ['Sleep',    7]
                        ]);

                        var options = {
                        title: 'My Daily Activities'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                    }
                </script>

                <div id="piechart" style="width: 900px; height: 500px;"></div>

        </div>

        <div id="chart-2" class="mt-5 mb-3">
                <div>
                    <h2>All States</h2>
                </div>
                <!--Script tag to fetch data to the chart-->
                <script type="text/javascript">
                    google.charts.load('current', {'packages':['corechart']});
                    google.charts.setOnLoadCallback(drawChart);

                    function drawChart() {

                        var data = google.visualization.arrayToDataTable([
                        ['Task', 'Hours per Day'],
                        ['Work',     11],
                        ['Eat',      2],
                        ['Commute',  2],
                        ['Watch TV', 2],
                        ['Sleep',    7]
                        ]);

                        var options = {
                        title: 'My Daily Activities'
                        };

                        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

                        chart.draw(data, options);
                    }
                </script>

                <div id="piechart" style="width: 900px; height: 500px;"></div>

        </div>

    </div>


</div>




<!--This script tag is added to add toggle feature to model button-->
<script>
    let model = document.getElementById('model');
    let modellist = document.getElementById('model-list');

    model.addEventListener('click', ()=> {
        modellist.classList.toggle('vis');
        modellist.classList.toggle('flex');
        model.classList.toggle('model-black');

    })
</script>
