<%= stylesheet_link_tag "adminportal" %>
<%# NAVBAR %>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand font-unbounded" href="#">CRF CHAIRMAN</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="flex">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Dashboard", mainportal_chairmanDashboard_path ,class:"nav-link active nav-btn main-element" %>
        </li>
        <li class="nav-item">
          <%= link_to "Statistics", mainportal_chairmanStats_path, class: "nav-link active nav-btn main-element", id:'active-tab' %>
        </li>
        <li class="nav-item">
          <a class="nav-link active nav-btn main-elements" id="model">Models</a>
        </li>
        <div id="model-list" class="vis">
          <%= link_to "Users", mainportal_chairmanUsers_path ,class:"nav-link active nav-btn model-element" %>
          <%= link_to "Equipments", mainportal_chairmanEquip_path ,class:"nav-link active nav-btn model-element" %>
          <%= link_to "Payment", payment_payment_path ,class:"nav-link active nav-btn model-element" %>
        </div>
        </ul>
      </div>

      <ul class="navbar-nav ms-auto">
        <li class="nav-item" id="Home">
          <%= link_to 'Home',home_index_path,class:"btn btn-primary"%>
        </li>
        <li class="nav-item" id="logout">
          <%= link_to 'LogOut',destroy_user_session_path,method: :delete ,class:"btn btn-danger"%>
        </li>
      </ul>
    </div>
  </div>
</nav>

<%# STYLING %>
<style>
  .container {
    display: flex;
    justify-content: center;
  }
  #mini-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    max-width: 600px; /* Adjust the width as needed */
  }
  .card-body {
    text-align: center;
  }
</style>

<div class="container">
  <div id="mini-cards">
    <div class="card-body">
      <h5 class="card-title">User Stats</h5>
      <%= link_to mainportal_chairmanStats_path, class: "nav-link active nav-btn main-element" do %>
        <%= image_tag 'users', class: "mini-card-icon" %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title">Sample Stats</h5>
      <%= link_to mainportal_chairmanStatsSamples_path, class: "nav-link active nav-btn main-element" do %>
        <%= image_tag 'samples', class: "mini-card-icon" %>
      <% end %>
    </div>

    <div class="card-body">
      <h5 class="card-title">Payment Stats</h5>
      <%= link_to mainportal_chairmanStatsPayment_path, class: "nav-link active nav-btn main-element" do %>
        <%= image_tag 'payment_', class: "mini-card-icon" %>
      <% end %>
    </div>
  </div>
</div>



<div id="chart" class="mt-5 mb-3">
<div id="stats">
    <h2 class="fw-bold">Payment Statistics</h2>
</div>

<!---------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------DEPARTMENT-WISE REVENUE STATS--------------------------------------------------------------->

<%= form_with url: mainportal_chairmanStatsPayment_path do |form| %>
  <% options = options_from_collection_for_select(Equiplist.all,'id','name')%>
  <div class="input-group mb-3">
    <%= form.label :entry ,"Equipment" ,for:"Equip", class:"input-group-text "%>
    <%= form.select(:entry ,Equiplist.all.collect { |f| [f.name] } ,{:include_blank => 'Choose...'}, {:class => 'form-select',:id => "Equip" , :required => true})%>
    <%= form.submit "Stats", class:"btn btn-primary", id:"sbt" %>
  </div>
<%end%>

<!-- Department Names in an array -->
<% departments = [
  'AI Engineering',
  'Chemical Engineering',
  'Chemistry',
  'Civil Engineering',
  'CS Engineering',
  'EE Engineering',
  'EC Engineering',
  'IT Engineering',
  'Mechanical Engineering',
  'Mining Engineering',
  'Metallurgical Engineering',
  'Physics',
  'Water Resources & Ocean Engineering'
] %>

<%# Calculation of Total Revenue for each of the Department %>
<% @total = {} %> <!--This is a map that would store the dep name with its corresponding revenue--->
<% departments.each do |department| %>
  <% @sam = [] %> <!--This array will store the total revenue of a particular department-->
  <% User.all.where(department: department).each do |user| %>
  <%@s =0%>
    <% if @entry == 'XRD' %>
      <% user.xrds.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'HR-FESEM [Carl Zeiss]' %>
      <% user.hr_fesem_cs.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'HR-FESEM [Jeol]' %>
      <% user.hr_fesem_js.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == '3-D Non Contact Profilometer' %>
      <% user.three_d_non_contacts.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Raman Spectrometer with PL' %>
      <% user.raman_microscope.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'TGA-FTIR' %>
      <% user.tga_fttr.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'BET Surface Area Analyzer' %>
      <% user.bets.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'HR-LCMS' %>
      <% user.hrlcms.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'UV-Vis-NIR' %>
      <% user.uv_vis_nir.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Laser Flash Analyser' %>
      <% user.laser.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Cell-Imaging MultiMode Reader' %>
      <% user.cell_imaging.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Atomic Force Microscope' %>
      <% user.atomic_force_microscope.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'FT-NMR' %>
      <% user.ft_nms.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'ICP-MS' %>
      <% user.icp_ms.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Advance Modular Rheometer' %>
      <% user.advance_molecular_rheometers.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Ion Chromatography' %>
      <% user.ion_chromotography.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Intergrated MultiRole Tester' %>
      <% user.integrated_multi_role_tester.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Scratch/Indentation Tester' %>
      <% user.scratch_indentations.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Zeta Potential/Particle Sizer' %>
      <% user.zeta_potential_size.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'High Temp Vacuum Furnace' %>
      <% user.high_temp_vaccum.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Impedance Analyzer' %>
      <% user.impedance_analy.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Tribometer' %>
      <% user.tribometers.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == '3D-Scanner' %>
      <% user.three_d_scanner.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'GAIT Analysis' %>
      <% @entry = nil %>
    <% elsif @entry == 'Spectro-Radiometer' %>
      <% user.spectro_radio_meter.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Spark-OES' %>
      <% user.spark_o.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Glow Discharges-OES' %>
      <% user.glows.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Ball Milling Unit' %>
      <% user.ball_mailings.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Low Force Fatigue with DMA' %>
      <% user.low_fatigues.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Micro-EDM' %>
      <% user.micro_edms.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == '5-Axes CNC' %>
      <% user.five_axi.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Multi Purpose Impact Testing (SHPB)' %>
      <% user.multi_impact_testers.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Friction Stir Welding/Surfacing(FSW)' %>
      <% user.frictions.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Electro Chemical Polishing' %>
      <% user.electro_chemical.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Milli-Q water' %>
      <% @entry = nil %>
    <% elsif @entry == 'Glove Box' %>
      <% @entry = nil %>
    <% elsif @entry == 'Probe Sonicator' %>
      <% user.probe_sonicator.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Ultra-Centrifuge' %>
      <% user.ultra_centrifuge.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Gas Sensing' %>
      <% user.gas_sensing.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Liquid Nitrogen' %>
      <% @entry = nil %>
      <% @sam.push(@s) %>
    <% elsif @entry == 'Ansys System Lab' %>
      <% @entry = nil %>
    <% elsif @entry == 'Automatic MultiSpecimen Polisher' %>
      <% user.grindings.each do |eq| %>
        <% if eq.equipment_table.dummy == 'payment_completed' %>
          <% @s = eq.equipment_table.pay + @s %>
        <% end %>
      <% end %>
      <% @sam.push(@s) %>
    <% end %>
  <% end %>
  <%# Assigning the total revenue values to the corresponding department in the map %>
  <% if @entry != nil%>
        <% @total[department] = @sam.sum %>
  <%end%>
<% end %>

<%#  Storing all the revenue values in the department variabbles so as to use it in the charts%>
<% civil_engineering = @total['Civil Engineering'] %>
<% ai_engineering = @total['AI Engineering'] %>
<% chemical_engineering = @total['Chemical Engineering'] %>
<% chemistry = @total['Chemistry'] %>
<% cs_engineering = @total['CS Engineering'] %>
<% ee_engineering = @total['EE Engineering'] %>
<% ec_engineering = @total['EC Engineering'] %>
<% it_engineering = @total['IT Engineering'] %>
<% mechanical_engineering = @total['Mechanical Engineering'] %>
<% mining_engineering = @total['Mining Engineering'] %>
<% metallurgical_engineering = @total['Metallurgical Engineering'] %>
<% physics = @total['Physics'] %>
<% water_resources_ocean_engineering = @total['Water Resources & Ocean Engineering'] %>

<div id="stats">
    <h5 class="fw-bold"><%="Branch-wise #{@entry} Revenue Distribution"%></h5>
</div>

<div id="chart-3" class="mt-5 mb-3">
  <!--Script tag to fetch data to the chart-->
  <script type="text/javascript">
    var ai_engineering = <%= ai_engineering %>;
    var chemical_engineering = <%= chemical_engineering %>;
    var chemistry = <%= chemistry %>;
    var civil_engineering = <%= civil_engineering %>;
    var cs_engineering = <%= cs_engineering %>;
    var ee_engineering = <%= ee_engineering %>;
    var ec_engineering = <%= ec_engineering %>;
    var it_engineering = <%= it_engineering %>;
    var mechanical_engineering = <%= mechanical_engineering %>;
    var mining_engineering = <%= mining_engineering %>;
    var metallurgical_engineering = <%= metallurgical_engineering %>;
    var physics = <%= physics %>;
    var water_resources_ocean_engineering = <%= water_resources_ocean_engineering %>;


    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var data = google.visualization.arrayToDataTable([
            ['Internal', 'Hours per Day'],
            ['AI Engineering', ai_engineering],
            ['Chemical Engineering', chemical_engineering],
            ['Chemistry', chemistry],
            ['Civil Engineering', civil_engineering],
            ['CS Engineering', cs_engineering],
            ['EE Engineering', ee_engineering],
            ['EC Engineering', ec_engineering],
            ['IT Engineering', it_engineering],
            ['Mechanical Engineering', mechanical_engineering],
            ['Mining Engineering', mining_engineering],
            ['Metallurgical Engineering', metallurgical_engineering],
            ['Physics', physics],
            ['Water Resources & Ocean Engineering', water_resources_ocean_engineering]
        ]);

        var options = {
            title: 'Department-wise division'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart3'));
        chart.draw(data, options);
    }
  </script>

  <div id="piechart3" style="width: 900px; height: 500px;"></div>
</div>

<!-------------------------------------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------NITK VS EXTERNAL REVENUE STATS------------------------------------------------------------------->

<%# User map %>
<% users = [
 'student',
 'faculty',
 'external'
] %>

<%# Variables Initialization %>
<% student =0 %>
<% faculty =0 %>
<% @total = {} %>
<% users.each do |user| %>
<% @sam = [] %>

<% User.all.where(role: user).each do |user| %>
  <%@s =0%>
  <% if @entry == 'XRD' %>
    <% user.xrds.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'HR-FESEM [Carl Zeiss]' %>
    <% user.hr_fesem_cs.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'HR-FESEM [Jeol]' %>
    <% user.hr_fesem_js.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == '3-D Non Contact Profilometer' %>
    <% user.three_d_non_contacts.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Raman Spectrometer with PL' %>
    <% user.raman_microscope.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'TGA-FTIR' %>
    <% user.tga_fttr.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'BET Surface Area Analyzer' %>
    <% user.bets.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'HR-LCMS' %>
    <% user.hrlcms.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'UV-Vis-NIR' %>
    <% user.uv_vis_nir.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Laser Flash Analyser' %>
    <% user.laser.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Cell-Imaging MultiMode Reader' %>
    <% user.cell_imaging.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Atomic Force Microscope' %>
    <% user.atomic_force_microscope.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'FT-NMR' %>
    <% user.ft_nms.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'ICP-MS' %>
    <% user.icp_ms.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Advance Modular Rheometer' %>
    <% user.advance_molecular_rheometers.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Ion Chromatography' %>
    <% user.ion_chromotography.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Intergrated MultiRole Tester' %>
    <% user.integrated_multi_role_tester.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Scratch/Indentation Tester' %>
    <% user.scratch_indentations.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Zeta Potential/Particle Sizer' %>
    <% user.zeta_potential_size.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'High Temp Vacuum Furnace' %>
    <% user.high_temp_vaccum.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Impedance Analyzer' %>
    <% user.impedance_analy.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Tribometer' %>
    <% user.tribometers.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == '3D-Scanner' %>
    <% user.three_d_scanner.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'GAIT Analysis' %>
    <% @entry = nil %>
  <% elsif @entry == 'Spectro-Radiometer' %>
    <% user.spectro_radio_meter.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Spark-OES' %>
    <% user.spark_o.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Glow Discharges-OES' %>
    <% user.glows.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Ball Milling Unit' %>
    <% user.ball_mailings.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Low Force Fatigue with DMA' %>
    <% user.low_fatigues.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Micro-EDM' %>
    <% user.micro_edms.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == '5-Axes CNC' %>
    <% user.five_axi.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Multi Purpose Impact Testing (SHPB)' %>
    <% user.multi_impact_testers.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Friction Stir Welding/Surfacing(FSW)' %>
    <% user.frictions.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Electro Chemical Polishing' %>
    <% user.electro_chemical.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Milli-Q water' %>
    <% @entry = nil %>
  <% elsif @entry == 'Glove Box' %>
    <% @entry = nil %>
  <% elsif @entry == 'Probe Sonicator' %>
    <% user.probe_sonicator.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Ultra-Centrifuge' %>
    <% user.ultra_centrifuge.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Gas Sensing' %>
    <% user.gas_sensing.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Liquid Nitrogen' %>
    <% @entry = nil %>
    <% @sam.push(@s) %>
  <% elsif @entry == 'Ansys System Lab' %>
    <% @entry = nil %>
  <% elsif @entry == 'Automatic MultiSpecimen Polisher' %>
    <% user.grindings.each do |eq| %>
      <% if eq.equipment_table.dummy == 'payment_completed' %>
        <% @s = eq.equipment_table.pay + @s %>
      <% end %>
    <% end %>
    <% @sam.push(@s) %>
  <% end %>
<% end %>

<% if @entry != nil%>
      <% @total[user] = @sam.sum %>
<%end%>

<% end %>



<% if @entry != nil%>
<% student = @total['student'] %>
<% faculty = @total['faculty'] %>
<% external = @total['external'] %>
<% nitk= student + faculty%>
<% end %>


<div id="stats">
    <h5 class="fw-bold"><%=" User-wise #{@entry} Revenue Distribution"%></h5>
</div>


<div id="chart-4" class="mt-5 mb-3">
  <!--Script tag to fetch data to the chart-->
  <script type="text/javascript">
    var nitk = <%= nitk %>;
    var external = <%= external %>;

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          var data = google.visualization.arrayToDataTable([
              ['Internal', 'Hours per Day'],
              ['Nitk', nitk],
              ['External', external]
          ]);

          var options = {
              title: 'User-wise division'
          };

          var chart = new google.visualization.PieChart(document.getElementById('piechart4'));
          chart.draw(data, options);
      }
  </script>


  <div id="piechart4" style="width: 900px; height: 500px;"></div>
</div>
</div>

<script>
    let model = document.getElementById('model');
    let modellist = document.getElementById('model-list');

    model.addEventListener('click', ()=> {
        modellist.classList.toggle('vis');
        modellist.classList.toggle('flex');
        model.classList.toggle('model-black');

    })
</script>
