<div id="<%= dom_id atomic_force_microscope %>">
  <p>
    <strong>Sample:</strong>
    <%= atomic_force_microscope.sample %>
  </p>

  <p>
    <strong>Stype:</strong>
    <%= atomic_force_microscope.stype %>
  </p>

  <p>
    <strong>Technique:</strong>
    <%= atomic_force_microscope.technique %>
  </p>

  <p>
    <strong>Scan rate:</strong>
    <%= atomic_force_microscope.scan_rate %>
  </p>

  <p>
    <strong>X:</strong>
    <%= atomic_force_microscope.x %>
  </p>

  <p>
    <strong>Y:</strong>
    <%= atomic_force_microscope.y %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= atomic_force_microscope.description %>
  </p>

  <p>
    <strong>Toxicity:</strong>
    <%= atomic_force_microscope.toxicity %>
  </p>

  <p>
    <strong>Compatability:</strong>
    <%= atomic_force_microscope.compatability %>
  </p>

  <p>
    <strong>Carcinogenic:</strong>
    <%= atomic_force_microscope.carcinogenic %>
  </p>

  <p>
    <strong>More:</strong>
    <%= atomic_force_microscope.more %>
  </p>

</div>
