<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>

<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>

<div class="container">
    <div id="equipment-name">
      <h1>Atomic Force Microscope</h1>
    </div>
    <div class='hero'>

      <%= form_with(model: atomic_force_microscope) do |form| %>
        <% if atomic_force_microscope.errors.any? %>
          <div style="color: red">
            <h2><%= pluralize(atomic_force_microscope.errors.count, "error") %> prohibited this atomic_force_microscope from being saved:</h2>

            <ul>
              <% atomic_force_microscope.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>



          <div class="input-group mb-3">
            <%= form.label :sample,"No of Samples", class:"input-group-text", for:"sample-no" %>
            <%= form.select(:sample, [1,2,3,4,5,6,7,8,9,10], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-no",:required => true}) %>
          </div>

          <div class="input-group mb-3">
            <%= form.label :stype, "Sample Type", class:"input-group-text", for:"sample-type" %>
              <%= form.select(:stype, ['Solid','Powder','Fabric/Polymer','Liquid/Gel','Thin Film'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-type",:required => true}) %>
          </div>




          <div>
            <% options = ['Contact', 'Tapping'] %>
              <%= form.label :technique, "Technique to be used", class:"input-group-text", for:"technique" %>
            <% options.each do |option| %>
              <%= check_box_tag 'atomic_force_microscope[technique][]', option, @atomic_force_microscope.technique.include?(option),checked: option == 'Tapping' %>
              <%= label_tag "atomic_force_microscope_technique_#{option}", option %><br>
            <% end %>



          </div>




        <div class="mt-3">
          <%= form.label :x,"XY Scan range(max 100 x 100µm)", class:"input-group-text", for:"inputGroupSelect03" %>
            <div class="input-group">
              <%= form.text_field :x , type:"text", class:"form-control", id:"inputGroupSelect03er", placeholder:"X=" %>
              <%= form.label :x , "µm", class:"input-group-text", for:"inputGroupSelect03er" %>
            </div>
            <div class="input-group">
              <%= form.text_field :y , type:"text", class:"form-control", id:"inputGroupSelect03er", placeholder:"Y=" %>
              <%= form.label :y , "µm", class:"input-group-text", for:"inputGroupSelect03er" %>
            </div>
        </div>


        <div class="mt-3">
                <%= form.label :scan_rate,"Scan rate(typical 1-2 Hz)", class:"input-group-text", for:"inputGroupSelect03" %>
            <div class="input-group">
                <%= form.text_field :scan_rate , type:"text", class:"form-control", id:"inputGroupSelect03ery" %>
                <%= form.label :scan_rate,"Hz", class:"input-group-text", for:"inputGroupSelect03ery" %>
            </div>
        </div>
        <div class="mt-3">
        <%= form.label :description,"sample Description", class:"input-group-text", for:"inputGroupSelect03" %>
    <div class="input-group">
        <%= form.text_field :description , type:"text", class:"form-control", id:"inputGroupSelect03ery",placeholder:"...." %>
    </div>
   </div>
         <div>
            <h2 class="text-warning text-center">SAFETY INFORMATION</h2>
        </div>


        <div>
          <%= form.label :toxicity, "Toxicity",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :toxicity, 'hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault2"%> Hazardous
            </div>
            <div class="form-check">
                  <%= form.radio_button :toxicity, 'non-hazardous', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true   %> Non-Hazardous
            </div>
        </div>


        <div>
          <%= form.label :compatability, "Compatibility",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :compatability, '  Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault2" %>  Corrossive
            </div>
            <div class="form-check">
                  <%= form.radio_button :compatability, 'non-Corrossive', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true   %> Non-Corrossive
            </div>
        </div>


        <div>
          <%= form.label :carcinogenic, "Carcinogenic",class:"form-check-label fw-bold", for:"flexRadioDefault2" %>
            <div class="form-check">
                <%= form.radio_button :carcinogenic, ' Yes', class:"form-check-input", type:"radio", id:"flexRadioDefault2" %> Yes
            </div>
            <div class="form-check">
                  <%= form.radio_button :carcinogenic, 'no', class:"form-check-input", type:"radio", id:"flexRadioDefault1",:checked => true   %> No
            </div>
        </div>

        <div class="input-group mb-3" id="ref-file">
        <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
        <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
      </div>



      <div class="input-group mb-3">
      <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
      <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
    </div>




      <div id="instruct">
          <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
      </div>



        <div class="mb-3">
          <%= form.label :more,"Tell us more about testing requirement", class:"input-group-text", for:"tell-us-more" %>
          <%= form.text_area :more, class:"form-control", id:"tell-us-more", rows:"3"%>
        </div>


        <div class="actions">
            <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>
        <% end %>

    </div>
</div>

<%=render "partials/footer" %>
