<%= stylesheet_link_tag "loginFeatures"%>
<%= stylesheet_link_tag "equipmentQuestion"%>




<%=render "partials/loginHeading"%>
<%=render "partials/formsBackbtn"%>



<div class="container">
    <div id="equipment-name">
      <h1>Scratch/Indentation Tester</h1>
    </div>
    <div class='hero'>
    <%= form_with(model: scratch_indentation) do |form| %>
  <% if scratch_indentation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(scratch_indentation.errors.count, "error") %> prohibited this scratch_indentation from being saved:</h2>

      <ul>
        <% scratch_indentation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <% if @slot_type=="regular"%>
     <div class="input-group mb-3">
      <label class="input-group-text" for="sample-no">No of Sample</label>
      <%= form.select(:sample, ['1','2','3','4','5','6','7','8','9','10'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "u-type",:required => true}) %>
      </div>
        <%else%>
        <div id="instruct">
            <span class="input-group-text text-danger" id="basic-addon1">Express slot is available from <%=@equiplist_expressstart%> to <%=@equiplist_expressend%></span>
            <p class="text-danger"></p>
        </div>
        <div class="input-group mb-3">
          <%= form.label :expresssample,"No of Samples Express", class:"input-group-text", for:"xrd-select-no-of-equipment"%>
          <%= form.select :expresssample, options_for_select(1..@equiplist_expressslot[0]), prompt: "No. of available samples", class:"form-select" %>
        </div>
        <%end%>
    <div class="input-group mb-3">
      <label class="input-group-text" for="sample-type">Sample type</label>
      <%= form.select(:stype, ['Solid','Fabric?Polymer','Thin Film','Sheet Metal'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "sample-type",:required => true}) %>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="measurement">Measurement</label>
      <%= form.select(:measurement, ['Scratch','indentation','Scratch +Indentation'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "measurement",:required => true}) %>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="stroke_length">Stroke Length</label>
      <%= form.text_field :stroke, type:"text", class:"form-control", id:"stroke_length", placeholder:"Max 30" %>
      <label class="input-group-text" for="stroke_length">mm</label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="scratch_indentation">No of scratch/indentation on each sample:</label>
      <%= form.text_field :number_indentation, type:"text", class:"form-control", id:"scratch_indentation" %>
    </div>

    <div>
        <h5 class="text-success text-center">Loading condition (2-200N)</h5>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="const_load">Constant Load (in N)</label>
      <%= form.text_field :constant_load, type:"text", class:"form-control", id:"const_load"%>
      <label class="input-group-text" for="const_load">N</label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="increment_load">Incremental Load (in N)</label>
      <%= form.text_field :increment_load, type:"text", class:"form-control", id:"increment_load" %>
      <label class="input-group-text" for="increment_load">N</label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="progress_load">Progressive Load (in N)</label>
      <%= form.text_field :progressive_load, type:"text", class:"form-control", id:"progress_load" %>
      <label class="input-group-text" for="progress_load">N</label>
    </div>

    <div>
        <h5 class="text-success text-center"> Analysis condition</h5>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text text-danger" for="wear_temp">Temperature at which wear analysis required</label>
      <%= form.text_field :temperature, type:"text", class:"form-control", id:"wear_temp", placeholder:"Max 400" %>
      <label class="input-group-text" for="wear_temp">°C</label>
    </div>

    <div class="input-group mb-3">
      <label class="input-group-text" for="analysis_type">Type of analysis required</label>
      <%= form.text_field :analysis, type:"text", class:"form-control", id:"analysis_type", placeholder:"Analysis Required" %>
    </div>

      <div class="input-group mb-3" id="ref-file">
          <%= form.label :references ,"Reference Files" ,for:"ref-file-input", class:"input-group-text "%>
          <%= form.file_field :references,class:"form-control ",  id:"ref-file-input",multiple:true  %>
        </div>



        <div class="input-group mb-3">
        <%= form.label :debit,"Choose Debit Head ", class:"input-group-text", for:"debit-head-select" %>
        <%= form.select(:debit, ['Department Operating Cost', 'Student Contingency','CPDA Fund','Project Fund'], {:include_blank => 'Choose...'},{ :class => 'form-select' ,:id => "debit-head-select",:required => true}) %>
      </div>




        <div id="instruct">
            <p class="text-danger">*Please select your Debit head as per your mode of Payment</p>
        </div>


        <div class="input-group mb-3">
          <%= form.text_field :more, class:"form-control", id:"tell-us-more", placeholder:"Tell us more about testing requirement"%>
        </div>

        <div class="actions">
          <%= form.submit "Submit", class:"btn btn-primary", id:"sbt" %>
        </div>
      <% end %>
  </div>
</div>


<%=render "partials/footer" %>
