<div id="<%= dom_id scratch_indentation %>">
  <p>
    <strong>Sample:</strong>
    <%= scratch_indentation.sample %>
  </p>


  <p>
    <strong>Measurement:</strong>
    <%= scratch_indentation.measurement %>
  </p>

  <p>
    <strong>Stroke:</strong>
    <%= scratch_indentation.stroke %>
  </p>

  <p>
    <strong>Number indentation:</strong>
    <%= scratch_indentation.number_indentation %>
  </p>

  <p>
    <strong>Constant load:</strong>
    <%= scratch_indentation.constant_load %>
  </p>

  <p>
    <strong>Increment load:</strong>
    <%= scratch_indentation.increment_load %>
  </p>

  <p>
    <strong>Progressive load:</strong>
    <%= scratch_indentation.progressive_load %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= scratch_indentation.temperature %>
  </p>

  <p>
    <strong>Analysis:</strong>
    <%= scratch_indentation.analysis %>
  </p>

  <p>
    <strong>More:</strong>
    <%= scratch_indentation.more %>
  </p>

</div>
